<%!
    import schoolkeeper
    http_root = schoolkeeper.CONFIG['HTTP_ROOT']

%>

% if _session['themelook']:
<%
    theme = _session['themelook']
%>
% else:
<%
    theme=schoolkeeper.CONFIG['BOOTSTRAP4_THEME']
%>
% endif

% if schoolkeeper.CONFIG['CORP_NAME'] != '':
  <%
    corpname = "%s SchoolKeeper" % schoolkeeper.CONFIG['CORP_NAME']
  %>
% else:
  <%
    corpname = "SchoolKeeper"
  %>
% endif
<!doctype html>
<html>
  <head>

    <meta charset="UTF-8" http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>${corpname} - ${title}</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="shortcut icon" type="image/png"  href="images/favicon.ico">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png"/>
    <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon.png"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.css"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/4.1.3/${theme}/bootstrap.min.css" rel="stylesheet">
    <!-- <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"> -->
    <link href="${http_root}fa/css/all.min.css?v=2" rel="stylesheet">
    <link href="${http_root}css/bootstrap.css?v=1" rel="stylesheet">
    <link href="${http_root}css/jquery-ui.css" rel="stylesheet">
    <link href="${http_root}css/jquery-ui.structure.css" rel="stylesheet">
    <link href="${http_root}css/jquery-ui.theme.css" rel="stylesheet">
    <link href="${http_root}css/attachment.css" rel="stylesheet">
    <link href="${http_root}css/sb-admin.css" rel="stylesheet">
    ${next.headIncludes()}
  </head>
  <body id="page-top">
    <nav class="navbar navbar-expand navbar-dark bg-primary static-top">

      <a class="navbar-brand mr-1" href="home">${corpname}</a>

      <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
        <i class="fas fa-bars"></i>
      </button>

      <!-- Navbar Search -->
      <form action="${http_root}search" method="get" class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
        % if 'Admin' in _session['access_level'] or 'SuperAdmin' in _session['access_level']:
        <div class="input-group">
          <input type="text" id="name" name="name" class="form-control" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-dark" type="submit">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>
        % endif
      </form>

      <!-- Navbar -->
      <ul class="navbar-nav ml-auto ml-md-0">
        <li class="nav-item dropdown no-arrow mx-1">
          <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-bell fa-fw"></i>
              %if userInfo['alert_totals']:
                <span class="badge badge-danger">${userInfo['alert_totals']}</span>
              %endif
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown">
            %for item in userInfo['alerts']:
              <a class="dropdown-item" id="${item['id']}">${item['label']}
              %if item['count']:
                  <span class="badge badge-danger">${item['count']}</span>
              %endif
              </a>
              %endfor
            <!--
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
            -->
          </div>
        </li>
        <li class="nav-item dropdown no-arrow mx-1">
          <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-envelope fa-fw"></i>
            <!-- <span class="badge badge-danger">7</span> -->
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="messagesDropdown">
            <a class="dropdown-item" href="#">Coming Soon</a>
            <!--
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
            -->
          </div>
        </li>
        <li class="nav-item dropdown no-arrow">
          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user-circle fa-fw"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
            <a class="dropdown-item" href="${http_root}editUser?UserID=${_session['user_id']}">My Settings</a>
            <a class="dropdown-item" href="${http_root}userPage?UserID=${_session['user_id']}#history">Activity Log</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="${http_root}auth/login" data-toggle="modal" data-target="#logoutModal">Logout</a>
          </div>
        </li>
      </ul>
      </nav>
      <div id="wrapper">
          <ul class="sidebar navbar-dark bg-dark navbar-nav">
              <%
                section_home = ''
                section_students = ''
                section_staff = ''
                section_schools = ''
                section_devices = ''
                section_config = ''
                section_utilities = ''
                section_users = ''
                if section == 'home':
                    section_home = 'active'
                elif section == 'config':
                    section_config = 'active'
                elif section == 'students':
                    section_students = 'active'
                elif section == 'staff':
                    section_staff = 'active'
                elif section == 'schools':
                    section_schools = 'active'
                elif section == 'devices':
                    section_devices = 'active'
                elif section == 'utilities':
                    section_utilities = 'active'
                elif section == 'users':
                    section_users = 'active'
              %>
              <li class="nav-item ${section_home}">
                  <a class="py-2 nav-link" href="${http_root}home">
                      <i class="fas fa-fw fa-tachometer-alt"></i>
                      <span>Dashboard</span>
                  </a>
              </li>
% if 'Staff' in _session['access_level'] or 'Admin' in _session['access_level']:
              <li class="nav-item ${section_students}">
                  <a class="py-2 nav-link" href="${http_root}students">
                      <i class="fas fa-fw fa-user-graduate"></i>
                      <span>Students</span>
                  </a>
              </li>
%endif
% if 'Admin' in _session['access_level']:
              <li class="nav-item ${section_staff}">
                  <a class="py-2 nav-link" href="${http_root}staff">
                      <i class="fas fa-fw fa-user-tie"></i>
                      <span>Staff</span>
                  </a>
              </li>
%endif
% if 'Staff' in _session['access_level'] or 'Admin' in _session['access_level']:
              <li class="nav-item ${section_devices}">
                  <a class="py-2 nav-link" href="${http_root}devices">
                      <i class="fas fa-fw fa-laptop"></i>
                      <span>Devices</span>
                  </a>
              </li>
%endif
% if 'Admin' in _session['access_level']:
              <li class="nav-item ${section_schools}">
                  <a class="py-2 nav-link" href="${http_root}schools">
                      <i class="fas fa-fw fa-school"></i>
                      <span>Schools</span>
                  </a>
              </li>
%endif
% if 'Staff' in _session['access_level'] or 'Admin' in _session['access_level']:
              <li class="nav-item ${section_utilities}">
                  <a class="py-2 nav-link" href="${http_root}utilities">
                      <i class="fas fa-fw fa-tools"></i>
                      <span>Utilities</span>
                  </a>
              </li>
%endif
% if 'Admin' in _session['access_level']:
              <li class="nav-item ${section_users}">
                  <a class="py-2 nav-link" href="${http_root}users">
                      <i class="fas fa-fw fa-users"></i>
                      <span>Users</span>
                  </a>
              </li>
              <li class="nav-item">
                <a class="py-2 nav-link" href="charts.html">
                  <i class="fas fa-fw fa-chart-area"></i>
                  <span>Charts</span></a>
              </li>
%endif
%if 'SuperAdmin' in _session['access_level']:
              <li class="nav-item ${section_config}">
                <a class="py-2 nav-link" href="${http_root}config">
                  <i class="fas fa-fw fa-cogs"></i>
                  <span>Config</span></a>
              </li>
% endif
              <span class="border-top my-3"></span>
          ${next.headerIncludes()}
        </ul>

        <div id="content-wrapper" class="main container">
          <div class="container-fluid">
          ${next.body()}
          </div>
          <footer class="sticky-footer">
            <div class="container my-auto">
              <div class="copyright text-center my-auto">
                <span>Copyright &copy; Dragon Pro Studios and Whitko Community Schools 2017-2019</span>
              </div>
            </div>
          </footer>
        </div>
      </div>
      <div id="attachment" title="Attachment">
      </div>

    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">x</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="${http_root}auth/logout">Logout</a>
          </div>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://code.jquery.com/jquery-migrate-1.3.0.min.js"></script>
    <script src="${http_root}js/waiting.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.js"></script>
    <script src="${http_root}js/natural.js"></script>
    <script src="${http_root}js/bootbox.min.js"></script>
    <script src="${http_root}js/bootstrap-notify.min.js"></script>
    <script src="${http_root}js/jquery-ui.min.js"></script>
    <script src="${http_root}js/jquery.easing.min.js"></script>
    <script src="${http_root}js/Chart.min.js"></script>
    <script src="${http_root}js/sb-admin.js"></script>
    <script type="text/javascript" src="${http_root}js/schoolkeeper-bs.js?v=1"></script>

    <script type="text/javascript">
      msg = '';
      % if schoolkeeper.CONFIG['INSTALL_TYPE'] == 'git':
          title = 'SchoolKeeper Update'
          % if not schoolkeeper.CONFIG['CURRENT_VERSION']:
              msg = '<div class="input-group">You are running an unknown version of SchoolKeeper.</div><a href="update" class="btn btn-xs btn-primary pull-right">Update</a>'
          % elif (schoolkeeper.CONFIG['INSTALL_TYPE'] == 'source' and schoolkeeper.CONFIG['CURRENT_VERSION'] == 'No Version File' ):
              msg = '<div class="input-group">Running Unknown version via source install. Update from central area now</div><a href="update" class="btn btn-xs btn-primary pull-right">Update</a>
          % elif schoolkeeper.CONFIG['CURRENT_VERSION'] != schoolkeeper.CONFIG['LATEST_VERSION']:
              % if schoolkeeper.CONFIG['LATEST_VERSION'] == 'Not_Available_From_GitHUB':
                  msg = '<div class="input-group">Unable to get latest version from GITHub</div>'
              % elif schoolkeeper.CONFIG['COMMITS_BEHIND'] < 0:
                  msg = '<div class="input-group">Running a local updated version. Push changes to GITHub or rollback to Master release</div>'
              % elif schoolkeeper.CONFIG['COMMITS_BEHIND'] > 1:
                  msg = '<div class="input-group">New version available. You are ${schoolkeeper.CONFIG['COMMITS_BEHIND']} commits behind.</div><div class="pull-right"><a href="#" class="btn btn-xs btn-primary" data-toggle="tooltip" title="Ignore the update message for 24 hours" id="ignoreUpdate">Ignore</a>&nbsp;<a href="update" class="btn btn-xs btn-primary" data-toggle="tooltip" title="Update to the latest release">Update</a></div>'
              % elif schoolkeeper.CONFIG['COMMITS_BEHIND'] == 1:
                  msg = '<div class="input-group">New version available. You are one commit behind.</div><div class="pull-right"><a href="#" class="btn btn-xs btn-primary" data-toggle="tooltip" title="Ignore the update message for 24 hours" id="ignoreUpdate">Ignore</a>&nbsp;<a href="update" class="btn btn-xs btn-primary" data-toggle="tooltip" title="Update to the latest release">Update</a></div>'
              % endif
          % endif
      % endif

      $(document).ready(function() {
      if (readCookie('ignoreUpdate') != null) { msg = '' }

      if (msg != '') {
        $.notify({
            icon: "images/favicon48.png",
            title: '<strong>'+title+'</strong>',
            message: msg
        },{
            icon_type: 'image'
        },{
              type: 'warning'
          });
      }

      $('#ignoreUpdate').click(function() {
          createCookie("ignoreUpdate", true, 1);
      });
      });

      // Initialise tooltips
      $(function () {
        $('[data-toggle="tooltip"]').tooltip()
      })

      function showAttachment(attachmentname) {
          var content = "<iframe id='attachmentframe' src='showAttachment?attachmentname=" + attachmentname + "'></iframe>";
          $('#attachment').html(content);
          $('#attachment').dialog({height: 700,
                                   width: 500,
                                    show: {
                                      effect: "clip",
                                      duration: 1000
                                    },
                                    hide: {
                                      effect: "clip",
                                      duration: 1000
                                    }
          });
          $('#attachment').dialog("moveToTop");
      }
      function createCookie(name, value, days) {
      var expires;

      if (days) {
          var date = new Date();
          date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
          expires = "; expires=" + date.toGMTString();
      } else {
          expires = "";
      }
      document.cookie = encodeURIComponent(name) + "=" + encodeURIComponent(value) + expires + "; path=/";
      }

      function readCookie(name) {
      var nameEQ = encodeURIComponent(name) + "=";
      var ca = document.cookie.split(';');
      for (var i = 0; i < ca.length; i++) {
          var c = ca[i];
          while (c.charAt(0) === ' ') c = c.substring(1, c.length);
          if (c.indexOf(nameEQ) === 0) return decodeURIComponent(c.substring(nameEQ.length, c.length));
      }
      return null;
      }

      function eraseCookie(name) {
      createCookie(name, "", -1);
      }
    </script>
    <script type="text/javascript">
      // Allow the user to reset the filter box
      $(document).ready(function () {
          $.fn.dataTableExt.oApi.clearSearch = function ( oSettings ) {
              var table = this;
              var clearSearch = $('<i class="fa fa-remove" style="cursor:pointer;width:16px;text-align:left;" title="Reset Filter"></i>');

              $(clearSearch).click( function ()
                      {
                              table.fnFilter('');
                              $('input[type=search]').val('');
                      });
              $(oSettings.nTableWrapper).find('div.dataTables_filter').append(clearSearch);
              $(oSettings.nTableWrapper).find('div.dataTables_filter label').css('margin-right', '-16px');//16px the image width
              $(oSettings.nTableWrapper).find('div.dataTables_filter input').css('padding-right', '16px');
          }

          //auto-execute, no code needs to be added
          $.fn.dataTable.models.oSettings['aoInitComplete'].push( {
              "fn": $.fn.dataTableExt.oApi.clearSearch,
              "sName": 'whatever'
          });
      });
    </script>
    ${next.javascriptIncludes()}
    <script type="text/javascript">
      // Check or uncheck all checkboxes in the same table
      function toggleAll(e) {
          var table = $(e).closest('table');
          $('td input:checkbox', table).prop('checked', e.checked);
      }
    </script>
    <script type="text/javascript">
        function initBasePage()
        {
            "use strict";

            $('#new_StudentCheck').on('click', function (e) {
                $.get('showNewStudents', function (data) {
                    bootbox.dialog({
                        title: 'New Students',
                        message: '<pre>' + data + '</pre>',
                        buttons: {
                            primary: {
                                label: "Close",
                                className: 'btn-primary'
                            }
                        }
                    });
                });
            });
            $('#new_StaffCheck').on('click', function (e) {
                $.get('showNewStaff', function (data) {
                    bootbox.dialog({
                        title: 'New Staff',
                        message: '<pre>' + data + '</pre>',
                        buttons: {
                            primary: {
                                label: "Close",
                                className: 'btn-primary'
                            }
                        }
                    });
                });
            });
        }
        $(document).ready(function()
        {
            initBasePage();
        });
    </script>
    <script >
    function printDiv(divName) {
         var printContents = document.getElementById(divName).innerHTML;
         var originalContents = document.body.innerHTML;

         document.body.innerHTML = printContents;

         window.print();

         document.body.innerHTML = originalContents;
    }
    </script>
  </body>
</html>
<%def name="javascriptIncludes()"></%def>
<%def name="headIncludes()"></%def>
<%def name="headerIncludes()"></%def>