<%inherit file="base.html"/>
<%!
    import schoolkeeper
%>
<%def name="headerIncludes()">
    <div id="subhead_container">
        <div id="subhead_menu"  class="col-xs-12 col-md-8">
        </div>
        <div id="subhead_menu">

        </div>
    </div>
</%def>
<%def name="body()">
            % if action and action == "MoveDevice":
            <div class="col-md-12">
                <form action="bulkMoveDevice" method="post">
                    <div class="form-group">
                        % if 'Admin' in _session['access_level'] or 'SuperAdmin' in _session['access_level']:
                            <div class="input-group">
                                <input type="hidden" name="devicelist" value="${devicelist}">
                                <select id="locationid" name="locationid" placeholder="Location" class="form-control input-sm col-xs-12">
                                %for loc in data:
                                    <option value="${loc['locationid']}">${loc['locationname']}</option>
                                %endfor
                                </select>
                                <!--input type="text" class="form-control input-sm col-xs-12" value="" onfocus="if(this.value==this.defaultValue) this.value='';" name="name" placeholder="Title / Author / ISBN" id="searchbox" name="searchbox"-->
                                <span class="input-group-btn">
                                    <button type="submit" value="Move" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="bottom" title="Move"><i class="fa fa-exchange"></i></button>
                                </span>
                            </div>
                        % endif
                    </div>
                </form>
            </div>
            % endif
            % if action and action == "AssignDevice" and not data:
            <div class="col-md-12">
                <form action="deviceActions" method="post">
                    <div class="form-group">
                        % if 'Admin' in _session['access_level'] or 'SuperAdmin' in _session['access_level']:
                            <div class="input-group">
                                <input type="hidden" id="devicelist" name="devicelist" value="${devicelist}">
                                <input type="hidden" id="action" name="action" value="AssignDevice">
                                <input type="text" id="data" name="data" placeholder="Search for Person" class="form-control input-sm col-xs-12">
                                <span class="input-group-btn">
                                    <button type="submit" value="Search" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="bottom" title="Search"><i class="fa fa-search"></i></button>
                                </span>
                            </div>
                        % endif
                    </div>
                </form>
            </div>
            % endif
            % if action and action == "UnassignDevice":
            <div class="col-md-12">
                <form action="bulkUnassignDevice" method="post">
                    <div class="form-group">
                        % if 'Admin' in _session['access_level'] or 'SuperAdmin' in _session['access_level']:
                            <div class="input-group col-xs-12">
                                <input type="hidden" id="devicelist" name="devicelist" value="${devicelist}">
                                <input type="hidden" id="redirect" name="redirect" value="Devices">
                                <div class="col-xs-12 col-md-5">
                                    <input type="text" id="note" name="note" placeholder="Note" class="form-control">
                                </div>
                                <div class="col-xs-12 col-md-5">
                                    <select id="locationid" name="locationid" placeholder="Location" class="form-control">
                                        %for loc in data:
                                            <option value="${loc['locationid']}">${loc['locationname']}</option>
                                        %endfor
                                    </select>
                                </div>
                                <div class="col-xs-12 col-md-1">
                                <span class="input-group-btn">
                                    <button type="submit" value="Search" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="bottom" title="UnAssign"><i class="fa fa-remove"></i></button>
                                </span>
                                </div>
                            </div>
                        % endif
                    </div>
                </form>
            </div>
            % endif
            % if action and action == "RetireDevice":
            <div class="col-md-12">
                <form action="bulkRetireDevice" method="post">
                    <div class="form-group">
                        % if 'Admin' in _session['access_level'] or 'SuperAdmin' in _session['access_level']:
                            <div class="input-group">
                                <input type="hidden" id="devicelist" name="devicelist" value="${devicelist}">
                                <input type="text" id="note" name="note" placeholder="Note (Optional)" class="form-control input-sm col-xs-12">
                                <span class="input-group-btn">
                                    <button type="submit" value="Confirm" class="btn btn-sm btn-warning" data-toggle="tooltip" data-placement="bottom" title="Confirm Retire"><i class="fa fa-trash"></i> Retire</button>
                                </span>
                            </div>
                        % endif
                    </div>
                </form>
            </div>
            % endif
            % if action and action == "RestoreDevice":
            <div class="col-md-12">
                <form action="bulkRestoreDevice" method="post">
                    <div class="form-group">
                        % if 'Admin' in _session['access_level'] or 'SuperAdmin' in _session['access_level']:
                            <div class="input-group">
                                <input type="hidden" id="devicelist" name="devicelist" value="${devicelist}">
                                <input type="text" id="note" name="note" placeholder="Note (Optional)" class="form-control input-sm col-xs-12">
                                <span class="input-group-btn">
                                    <button type="submit" value="Confirm" class="btn btn-sm btn-warning" data-toggle="tooltip" data-placement="bottom" title="Confirm Restore"><i class="fa fa-restore"></i> Restore</button>
                                </span>
                            </div>
                        % endif
                    </div>
                </form>
            </div>
            % endif


% if action and action=="AssignDevice" and data:
<div class="row">
    <a class="button btn btn-sm btn-danger" href="devicePage?deviceid=${id}">Cancel</a>
</div>
<div class="table-responsive">
    <table class="display table table-striped table-hover table-bordered" id="person_table">
        <thead>
        <tr>
            <th class="tag">Name</th>
            <th class="model">Type</th>
            <th class="note">Note</th>
        </tr>
        </thead>
        % for person in data:
                <tr>
                    <td>
                        ${person['Name']}
                    </td>
                    <td>${person['Type']}</td>
                    <td>
                        <form action="bulkAssignDevice" method="post" class="form-inline">
                        <input type="hidden" name="devicelist" value="${devicelist}">
                        <input type="hidden" name="redirect" value="device">
                        <input type="hidden" name="personid" value="${person['ID']}">
                        <input type="text" name="note" id="note" placeholder="Note" class="form-control input-sm col-xs-12">
                        <input type="submit" class="btn btn-sm btn-primary" Value="Assign">
                        </form>
                    </td>
                </tr>
        % endfor
    </table>
</div>
% endif
<H2>Bulk Device Action: ${action}</H2>

<div class="table-responsive">
    <table class="display table table-striped table-hover table-bordered" id="device_table">
        <thead>
        <tr>
            <th class="tag">Device Tag</th>
            <th class="model">Model</th>
            <th class="currentowner">Currently Assigned To</th>
            <th class="currentlocation">Current Location</th>
        </tr>
        </thead>
        % for dev in devices:
        <tr>
            <td>${dev['tag']}</td>
            <td>${dev['modelname']}</td>
            <td>${dev['ownername']}</td>
            <td>${dev['locationname']}</td>
        </tr>
        % endfor
    </table>
</div>

</%def>
