<%inherit file="base.html"/>
<%!
    import schoolkeeper
%>
<%def name="headerIncludes()">
% if 'Admin' in _session['access_level']:
    <li class="nav-item">
        <a class="nav-link py-0 mt-1 button btn btn-sm btn-primary" href="schools?EditSchool=-1">
            <i class="fa fa-plus"></i>
            <span>Add a School</span>
        </a>
    </li>
% endif
</%def>
<%def name="body()">
% if msg:
    <div class="alert alert-info" style="text-align: center; padding: 8px;">
        ${msg}
    </div>
% endif
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active"><a href="/schools">Class Roster</a></li>
    </ol>
</nav>
<div id="classroster">
    <h2>${title} - ${ClassInstructor} - ${ClassName}</h2>
    <div class="table-responsive">
        <div class="col-xs-12">
            <table class="display table table-striped table-hover table-bordered" id="roster-table">
                <thead>
                    <tr>
                        <th class="username col-xs-2">Last Name</th>
                        <th class="lastname col-xs-2">First Name</th>
                        <th class="firstname col-xs-8">Devices</th>
                    </tr>
                </thead>
                % for entry in studentlist:
                <tr>
                    <td>${entry['lastname']}</td>
                    <td>${entry['firstname']}</td>
                    <td>
                        <table>
                        % for device in entry['devices']:
                            <tr>
                                <td>${device['tag']}</td>
                                <td>${device['modeltype']}</td>
                                <td>${device['modelname']}</td>
                            </tr>
                        % endfor
                        </table>
                    </td>
                </tr>
                % endfor
            </table>
        </div>

    </div>
</div>
<div>
    <button class="btn btn-sm btn-primary btn-sm btn-block" onclick="printDiv('classroster')"><i class="fa fa-print"> Print Class Roster</i></button>
</div>

</%def>
<%def name="javascriptIncludes()">
</%def>