<%inherit file="base.html"/>
<%!
    import schoolkeeper
%>
<%def name="headerIncludes()">
% if int(showRemoved):
<li class="nav-item">
    <a class="nav-link py-0 mt-1 button btn btn-sm btn-primary" href="devices?showRemoved=0">
        <i class="fa fa-eye-slash"></i>
        <span>Hide Retired Devices</span>
    </a>
</li>
% else:
<li class="nav-item">
    <a class="nav-link py-0 mt-1 button btn btn-sm btn-primary" href="devices?showRemoved=1">
        <i class="fa fa-eye"></i>
        <span>Show Retired Devices</span>
    </a>
</li>
% endif
% if 'Admin' in _session['access_level']:
<li class="nav-item">
    <a class="nav-link py-0 mt-1 button btn btn-sm btn-primary" href="devicemodels">
        <i class="fa fa-laptop"></i>
        <span>Device Models</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link py-0 mt-1 button btn btn-sm btn-primary" href="locations">
        <i class="fa fa-map"></i>
        <span>Device Locations</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link py-0 mt-1 button btn btn-sm btn-primary" href="devicePage?edit=1">
        <i class="fa fa-plus"></i>
        <span>Add a Device</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link py-0 mt-1 button btn btn-sm btn-primary" href="devices?cmd=deviceImport">
        <i class="fa fa-upload"></i>
        <span>Import Devices</span>
    </a>
    % if cmd and cmd=="deviceImport":
    <form action="devices" method="post" enctype="multipart/form-data">
        <label class="sr-only">Search</label>
        % if 'Admin' in _session['access_level'] or 'SuperAdmin' in _session['access_level']:
            <div class="input-group">
                <input type="file"  id="importfile" name="importfile" placeholder="Upload File" class="form-control input-sm col-xs-12">
                <span class="input-group-btn">
                    <button type="submit" value="Book" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Import"><i class="fa fa-upload"></i></button>
                </span>
            </div>
        % endif
    </form>
    % endif
</li>
% endif
</%def>
<%def name="body()">
% if msg:
    <div class="alert alert-info" style="text-align: center; padding: 8px;">
        ${msg}
    </div>
% endif
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active"><a href="/devices">Devices</a></li>
    </ol>
</nav>
% if csvdict and ('Admin' in _session['access_level']):
    <div id="device_import" class="card bg-primary text-white">
        <div class="card-header"><h3 class="card-title">Import Devices</h3></div>
        <td class="card-body">
            <form action="deviceImport" method="post">
                <div class="container">
                    <div class="row">
                        <div class="col-4"><label for="firstline" >First Line:</label><input type="number" placeholder="First Line" id="firstline" name="firstline" value="1"></div>
                        <div class="col-4"><label for="lastline">Last Line:</label><input type="number" placeholder="Last Line" id="lastline" name="lastline" value="${csvdict['lines']-1}"></div>
                        <div class="col-4"><input type="submit" value="Import"><input type="hidden" id="filehash" name="filehash" value="${filehash}"></div>
                    </div>
                    <div class="row no-gutters">
                        % for index in xrange(0, 3):
                        <div class="col-3">
                            <select class="col-12" id="static_${index}" name="static_${index}">
                                    % for dest in schoolkeeper.DEVICE_IMPORT_STATICDESTINATIONS:
                                        <option value="${dest['destination']}">${dest['description']}</option>
                                    % endfor
                            </select>
                        </div>
                        <div class="col-1">
                            <input class="col-12" type="text" id="staticval_${index}" name="staticval_${index}">
                        </div>
                        % endfor
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="display table table-dark table-striped table-hover table-bordered table-sm" id="school-table">
                        <thead>
                            <th></th>
                            % for index in xrange(0, len(csvdict['csvlist'][0])):
                            <th><select id="col_${index}" name="col_${index}">
                                % for dest in schoolkeeper.DEVICE_IMPORT_DESTINATIONS:
                                    <option value="${dest['destination']}">${dest['description']}</option>
                                % endfor
                            </select></th>
                         % endfor
                        </thead>
                    <%
                        linenum = 0
                    %>
                    % for item in csvdict['csvlist']:
                        <tr>
                            <td>${linenum}</td>
                        % for col in item:
                            <td>${col}</td>
                        % endfor
                        </tr>
                            <%
                            linenum += 1
                            %>
                    % endfor
                        </table>
                </div>
            </form>
        </div>
    </div>
% endif
<div class="row">
    <form action="deviceActions" method="post" class="form-inline">
        <input type="hidden" name="redirect" value="Devices">
        <div class="form-group">
            <label for="action">Selected Action</label>
            <select class="deviceAction form-control input-sm" id="action" name="action">
                <option value="AssignDevice">Assign to User</option>
                <option value="UnassignDevice">Remove from User</option>
                <option value="MoveDevice">Move Devices</option>
                <option value="RetireDevice">Retire Devices</option>
                <option value="RestoreDevice">Restore Devices</option>
            </select>
        </div>
        <div class="form-group">
            <input type="submit" class="deviceAction btn btn-sm btn-primary" value="Go">
        </div>
        <div class="table-responsive">
            <table class="display table table-striped table-hover table-bordered" id="device_table">
                <thead>
                    <tr>
                        <th class="select text-center no-sort deviceid"><input type="checkbox" onClick="toggleAll(this)"/></th>
                        <th class="tag">Device Tag</th>
                        <th class="ownertype hidden">Owner Type</th>
                        <th class="owner">User Name</th>
                        <th class="modeltype">Device Type</th>
                        <th class="modelname">Model</th>
                        <th class="serialnumber">Serial</th>
                        <th class="active hidden">AD Name</th>
                        <th class="mac hidden">MAC Address</th>
                        <th class="purchased">Purchased</th>
                        <th class="notes">Notes</th>
                        <th class="school">Building</th>
                        <th class="location">Location</th>
                    </tr>
                </thead>
            </table>
        </div>
    </form>
</div>
</%def>
<%def name="javascriptIncludes()">
  <script type="text/javascript">
    $(document).ready(function()
    {
        var table = $('#device_table').DataTable(
            {
                "responsive": true,
                "bAutoWidth": false,
                "stateSave": true,
                "order": [[ 1, 'asc']],
                "columnDefs":
                    [{ targets: 'no-sort', orderable: false },
                     { targets: [0], 'render': function(data, type, row) {return '<input type="checkbox" name="' + data + '" class="checkbox" />';} },
                     { targets: [1], 'render': function(data, type, row) {return '<a href="devicePage?deviceid='+ row[0] +'">'+data+'</a>' ;} },
                     { targets: [3], 'render': function(data, type, row) {
                        if (row[2] == 'STAFF') {
                            return '<a href="staffPage?UserName='+data+'">'+data+'</a>';
                        }
                        else if (row[2] == 'STUDENT') {
                            return '<a href="studentPage?UserName='+data+'">'+data+'</a>';
                        }
                        else {
                            return '';
                        }
                     } },
                    ],

                "oLanguage": {
                    "sSearch": "Filter: ",
                    "sLengthMenu":"_MENU_ rows per page",
                    "sEmptyTable": "No users found",
                    "sInfo":"Showing _START_ to _END_ of _TOTAL_ rows",
                    "sInfoEmpty":"Showing 0 to 0 of 0 rows",
                    "sInfoFiltered":"(filtered from _MAX_ total rows)"},
                "bServerSide": true,
                "sAjaxSource": 'getDeviceList?unFiltered=${showRemoved}',
                "bFilter": true,
                "aLengthMenu": [[5, 10, 15, 25, 50, 100, -1], [5, 10, 15, 25, 50, 100, "All"]],
                "iDisplayLength": ${schoolkeeper.CONFIG['DISPLAYLENGTH']},
                "sPaginationType": "full_numbers",
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    $('td', nRow).eq(2).addClass('hidden');
                    $('td', nRow).eq(7).addClass('hidden');
                    $('td', nRow).eq(8).addClass('hidden');
                    return nRow;
                },
                "aaSorting": [[1, 'asc']],
            });
        $('.dataTables_filter input').attr("placeholder", "Results filter");
        $('a.toggle-vis').click(function (e) {
            e.preventDefault();
            var column = table.column( $(this).attr('data-column') );
            column.visible( ! column.visible() );
        } );
    });
  </script>
</%def>
