<%!
    import schoolkeeper
%>
<form action="deviceUpdate" method="post">
    <div id="device_editor" class="card bg-primary text-white">
        %if device and ('Admin' in _session['access_level'] or 'SuperAdmin' in _session['access_level']):
        <div class="card-header"><h3 class="card-title">Edit Device</h3></div>
        <div class="card-body">
            <fieldset>
                <div class="col-xs-12">
                    <input type="hidden" id="deviceid" name="deviceid" value="${device['deviceid']}">
                    <input type="hidden" id="redirect" name="redirect" value="thisdevice">
                    <label for="tag" class="control-label">Tag:</label>
                    <input type="text" id="tag" name="tag" value="${device['tag'] if device['tag'] else ''}" class="form-control">
                    <label for="serialnumber" class="control-label">Serial:</label>
                    <input type="text" id="serialnumber" name="serialnumber" value="${device['serialnumber'] if device['serialnumber'] else ''}" class="form-control">
                    <label for="adname" class="control-label">AD Name:</label>
                    <input type="text" id="adname" name="adname" value="${device['adname'] if device['adname'] else ''}" class="form-control">
                    <label for="mac" class="control-label">Mac:</label>
                    <input type="text" id="mac" name="mac" value="${device['mac'] if device['mac'] else ''}" class="form-control">
                    <label for="notes" class="control-label">Note:</label>
                    <input type="text" id="notes" name="notes" value="${device['notes'] if device['notes'] else ''}" class="form-control">
                    <label for="modelid" class="control-label">Model:</label>
                    <select id="modelid" name="modelid" class="form-control input-sm col-xs-12">
                        % for mod in models:
                        <%
                            if mod['modelid'] == device['modelid']:
                                selected = 'selected="selected"'
                            else:
                                selected = ''
                        %>
                        <option value="${mod['modelid']}" ${selected}>${mod['modelname']}</option>
                        % endfor
                    </select><br>
                    <label for="locationid" class="control-label">Location:</label>
                    <select id="locationid" name="locationid" class="form-control input-sm col-xs-12">
                        <option disabled selected value> -- select an option -- </option>
                        % for loc in locations:
                        <%
                            if loc['locationid'] == device['locationid']:
                                selected = 'selected="selected"'
                            else:
                                selected = ''
                        %>
                        <option value="${loc['locationid']}" ${selected}>${loc['locationname']}</option>
                        % endfor
                    </select><br>
                </div>
            </fieldset>
            <div class="table_wrapper_button col-xs-12">
                <input type="submit" value="Save changes" id="add" class="btn btn-primary" onclick="waitingDialog.show('Please wait, updating device database.');">
            </div>
        </div>
        %endif
    </div>
</form>
