<%inherit file="base.html"/>
<%!
    import schoolkeeper
%>
<%def name="headerIncludes()">
<%
    teacher_with_homeroom = 0
%>
<% for item in schedule:
    if item['classname'] == 'AM Attendance':
        teacher_with_homeroom = 1
%>
% if 'SuperAdmin' in _session['access_level']:
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="satoolsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-fw fa-folder"></i>
              <span>SuperAdmin Tools</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="satoolsDropdown">
              <h6 class="dropdown-header">PowerSchool:</h6>
                <a class="button btn btn-sm btn-primary" href="dataUtils?action=UpdatePSStudents" data-toggle="tooltip" data-placement="bottom" title="Update the PS Student Database.  This can take several minutes"><i class="fa fa-refresh"></i> PS Students</a>
                <a class="button btn btn-sm btn-primary" href="dataUtils?action=UpdatePSStaff" data-toggle="tooltip" data-placement="bottom" title="Update the PS Staff Database.  This can take several minutes"><i class="fa fa-refresh"></i> PS Staff</a>
                <a class="button btn btn-sm btn-primary" href="dataUtils?action=UpdateClasses" data-toggle="tooltip" data-placement="bottom" title="Update Class Data"><i class="fa fa-refresh"></i> Class Data</a>
                <a class="button btn btn-sm btn-primary" href="dataUtils?action=UpdateSchedules" data-toggle="tooltip" data-placement="bottom" title="Update Schedule Data"><i class="fa fa-refresh"></i> Schedule Data</a>
              <h6 class="dropdown-header">Active Directory:</h6>
                <a class="button btn btn-sm btn-primary" href="dataUtils?action=UpdateADStudents" data-toggle="tooltip" data-placement="bottom" title="Update the AD Student Database.  This can take several minutes"><i class="fa fa-refresh"></i> AD Students</a>
                <a class="button btn btn-sm btn-primary" href="dataUtils?action=UpdateADStaff" data-toggle="tooltip" data-placement="bottom" title="Update the AD Staff Database.  This can take several minutes"><i class="fa fa-refresh"></i> AD Staff</a>
              <div class="dropdown-divider"></div>
              <h6 class="dropdown-header">Other:</h6>
                <a class="button btn btn-sm btn-primary" href="dataUtils?action=CreateKindergartenUsers" data-toggle="tooltip" data-placement="bottom" title="Create Kindergerten Users"><i class="fa fa-user-plus"></i> Create Kindergarten Users</a>
            </div>
          </li>
% endif
% if 'Password' in _session['access_level']:
            <li class="nav-item">
                <a class="nav-link button btn btn-sm btn-primary" href="resetpassword" data-toggle="tooltip" data-placement="bottom" title="Change your password"><i class="fa fa-key"></i>
                    <span>Change Password</span>
                </a>
            </li>
% endif
% if 'Teacher' in _session['access_level'] and teacher_with_homeroom:
            <li class="nav-item">
                <a class="nav-link button btn btn-sm btn-primary" href="getStudentLists?classname=AM%20Attendance&staffid=${userperson['identifier']}" data-toggle="tooltip" data-placement="bottom" title="Download a CSV file of your students">
                    <i class="fa fa-file-text"></i>
                    <span>Download Student List</span>
                </a>
            </li>
% endif
</%def>
<%def name="body()">
% if msg:
    <div class="alert alert-info" style="text-align: center; padding: 8px;">
        ${msg}
    </div>
% endif
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active"><a href="/">Home</a></li>
    </ol>
</nav>
%if len(schedule) > 0:
<div class="row">
        <div class="col-md-12">
            <div id="ps_data" class="panel panel-primary">
                <div class="panel-heading"><h3 class="panel-title">My Schedule</h3></div>
                <div class="panel-body">

                    <table class="display table table-striped table-hover table-bordered" id="schedule_table">
                        <thead>
                        <tr>
                            <th class="Period">Period</th>
                            <th class="Class">Class</th>
                            <th class="Room">Room</th>
                            <th class="Term">Term</th>
                        </tr>
                        </thead>
                        % for entry in schedule:
                        <tr>
                            <td>${entry['period']}</td>
                            <td>${entry['classname']}</td>
                            <td>${entry['room']}</td>
                            <td>${entry['term']}</td>
                        </tr>
                        % endfor
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
%endif
</%def>
<%def name="javascriptIncludes()">

</%def>
