<%!
    import schoolkeeper
    http_root = schoolkeeper.CONFIG['HTTP_ROOT']
%>

% if _session['themelook']:
<%
    theme = _session['themelook']
%>
% else:
<%
    theme=schoolkeeper.CONFIG['BOOTSTRAP4_THEME']
%>
% endif

% if schoolkeeper.CONFIG['CORP_NAME'] != '':
  <%
    brandingname = "%s SchoolKeeper" % schoolkeeper.CONFIG['CORP_NAME']
  %>
% else:
  <%
    brandingname = "SchoolKeeper"
  %>
% endif
<!doctype html>
<html>
  <head>

    <meta charset="UTF-8" http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>${brandingname} - ${title}</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
      <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="shortcut icon" type="image/png"  href="${http_root}images/favicon.ico">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png"/>
    <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon.png"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/4.1.3/${theme}/bootstrap.min.css" rel="stylesheet">
    <link href="${http_root}fa/css/all.min.css" rel="stylesheet">
    <link href="${http_root}css/sb-admin.css" rel="stylesheet">
    <body class="bg-dark">

    <div class="container">
        <div class="card card-login mx-auto mt-5">
            <div class="card-header">${brandingname} Login</div>
            <div class="card-body">
                <form action="${http_root}auth/login" method="post">
                    <div class="form-group">
                        <div class="form-label-group">
                            <input type="text" id="username" name="username" class="form-control" placeholder="Username" autocorrect="off" autocapitalize="off" required="required" autofocus="autofocus">
                            <label for="username">User Name</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-label-group">
                            <input type="password" id="password" name="password" class="form-control" placeholder="Password" required="required">
                            <label for="password">Password</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" type="checkbox" id="remember_me" name="remember_me" title="for 30 days" value="1" checked="checked">
                                Remember Password
                            </label>
                        </div>
                    </div>
                    <button type="submit" value="Login" class="btn btn-primary btn-block"><i class="fas fa-sign-in"></i> Login</button>
                </form>
                <div class="text-center">
                    <a class="d-block small" href="forgot-password">Forgot Password?</a>
                </div>
            </div>
        </div>
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="${http_root}js/jquery.easing.min.js"></script>
  </body>
</html>