<%inherit file="base.html"/>
<%!
    import schoolkeeper
%>
<%def name="headerIncludes()">

</%def>
<%def name="body()">
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active">Search Results</li>
    </ol>
</nav>

<h1>${title}</h1>

<div class="table-responsive">
    <table class="display table table-striped table-hover table-bordered" id="results_table">
        <thead>
            <tr>
                <th class="type text-center col-xs-2">Type</th>
                <th class="result">Search Result</th>
             </tr>
        </thead>
        <tbody>
            %if resultlist:
                %for result in resultlist:
                <tr>
                    <td class="type text-center">${result['Type']}</td>
                    <td class="result"><a href="${result['URL']}">${result['Name']}</a></td>
                </tr>
                % endfor
            %endif
        </tbody>
    </table>
</div>
<p>&nbsp;</p>
</%def>

<%def name="javascriptIncludes()">
  <script type="text/javascript">
    $(document).ready(function()
    {
        $('#results_table').dataTable(
            {
                "responsive": true,
                "order": [[ 1, 'desc' ]],
                "aoColumns": [
                    null,
                    null
                    ],
                "columnDefs":
                    [{ targets: 'no-sort', orderable: false }]
                ,
                "oLanguage": {
                    "sSearch": "Filter: ",
                    "sLengthMenu":"Show _MENU_ results per page",
                    "sEmptyTable": "No results found",
                    "sInfo":"Showing _START_ to _END_ of _TOTAL_ results",
                    "sInfoEmpty":"Showing 0 to 0 of 0 results",
                    "sInfoFiltered":"(filtered from _MAX_ total results)"},
                "iDisplayLength": ${schoolkeeper.CONFIG['DISPLAYLENGTH']},
                "sPaginationType": "full_numbers",
            });
        $('.dataTables_filter input').attr("placeholder", "Search table here");
    });
  </script>
</%def>

