<%inherit file="base.html"/>
<%!
    import schoolkeeper, datetime
    from schoolkeeper import dbactions
    import os
    import time
    from urllib import quote
%>
<%
    teacher_with_homeroom = 0
%>
<% for item in schedule:
    if item['classname'] == 'AM Attendance':
        teacher_with_homeroom = 1
%>
<%def name="headerIncludes()">
        % if 'Admin' in _session['access_level']:
        <%
        if ps_staff:
            this_staff = "StaffID=%s" % ps_staff['psid']
        else:
            this_staff = "UserName=%s" % ad_staff['sAMAccountName']
        %>

        % if teacher_with_homeroom:
        <li class="nav-item">
            <a class="nav-link py-0 mt-1 button btn btn-sm btn-primary" href="getStudentLists?classname=AM%20Attendance&staffid=${ps_staff['psid']}">
                <i class="fa fa-list"></i>
                <span>Get StudentList</span>
            </a>
        </li>
        %  endif
        <li class="nav-item">
            <a class="nav-link py-0 mt-1 button btn btn-sm btn-primary" href="staffPage?${this_staff}&cmd=Note">
                <i class="fa fa-comment"></i>
                <span>Note</span>
            </a>
            % if cmd and cmd == "Note":
            <form action="notePerson" method="post">
                <div class="input-group">
                    % if 'Admin' in _session['access_level'] or 'SuperAdmin' in _session['access_level']:
                    <input type="hidden" name="personid" value="${id}">
                    <input type="text" id="note" name="note" placeholder="Note" class="form-control input-sm col-xs-12">
                    <span class="input-group-btn">
                        <button type="submit" value="Note" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Add Note"><i class="fa fa-comment"></i></button>
                    </span>
                    % endif
                </div>
            </form>
            % endif
        </li>
        <li class="nav-item">
            <a class="nav-link py-0 mt-1 button btn btn-sm btn-primary" href="staffPage?${this_staff}&cmd=Move">
                <i class="fas fa-exchange-alt"></i>
                <span>Move</span>
            </a>
        % if cmd and cmd == "Move":
        <form action="movePerson" method="post">
            % if 'Admin' in _session['access_level'] or 'SuperAdmin' in _session['access_level']:
                <div class="input-group">
                    <input type="hidden" name="personid" value="${id}">
                    <select id="location" name="location" placeholder="Location" class="form-control input-sm col-xs-12">
                        %for loc in locations:
                            <option value="${loc['dn']}">${loc['name']}</option>
                        %endfor
                    </select>
                    <span class="input-group-btn">
                        <button type="submit" value="Move" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Move"><i class="fas fa-exchange-alt"></i></button>
                    </span>
                </div>
            % endif
        </form>
        % endif
        </li>
        <li class="nav-item">
            <a class="nav-link py-0 mt-1 button btn btn-sm btn-primary" href="staffPage?${this_staff}&cmd=AddGroup">
                <i class="fas fa-plus-circle"></i>
                <span>Add Email Group</span>
            </a>
            % if cmd and cmd == "AddGroup":
            <form action="addGoogleGroup" method="post">
            % if 'Admin' in _session['access_level'] or 'SuperAdmin' in _session['access_level']:
                <div class="input-group">
                    <input type="hidden" name="personid" value="${id}">
                    <select id="group" name="group" class="form-control input-sm col-xs-12">
                        %for group in grouplist:
                            <option value="${group}">${group}</option>
                        %endfor
                    </select>
                    <!--input type="text" class="form-control input-sm col-xs-12" value="" onfocus="if(this.value==this.defaultValue) this.value='';" name="name" placeholder="Title / Author / ISBN" id="searchbox" name="searchbox"-->
                    <span class="input-group-btn">
                        <button type="submit" value="AddGroup" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Add Email Group"><i class="fas fa-plus-circle"></i></button>
                    </span>
                </div>
            % endif
            </form>
            % endif
        </li>
        % if not ad_staff:
        <li class="nav-item">
            <a class="nav-link py-0 mt-1 button btn btn-sm btn-primary" href="staffPage?${this_staff}&cmd=CreateUser">
                <i class="fas fa-plus"></i>
                <span>Create AD/Google Account</span>
            </a>
            % if cmd and cmd == "CreateUser":
            <form action="createUser" method="post">
            % if 'Admin' in _session['access_level'] or 'SuperAdmin' in _session['access_level']:
                <div class="input-group">
                    <input type="hidden" name="personid" value="${id}">
                    <select id="location" name="location" placeholder="Location" class="form-control input-sm col-xs-12">
                            %for loc in locations:
                                <option value="${loc['dn']}">${loc['name']}</option>
                            %endfor
                    </select>
                    <span class="input-group-btn">
                        <button type="submit" value="Move" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Create Account" onclick="waitingDialog.show('Please wait, creating staff account');"><i class="fas fa-plus"></i></button>
                    </span>
                </div>
            % endif
            </form>
            % endif
         </li>
        % else:
        <li class="nav-item">
            <a class="nav-link py-0 mt-1 button btn btn-sm btn-primary" href="staffPage?${this_staff}&cmd=ResetPassword">
                <i class="fas fa-key"></i>
                <span>Reset Password</span>
            </a>
            % if cmd and cmd == "ResetPassword":
            <form action="resetPassword" method="post">
            % if 'Admin' in _session['access_level'] or 'SuperAdmin' in _session['access_level']:
                <div class="input-group">
                    <input type="hidden" name="personid" value="${id}">
                    <input type="password" id="password" name="password" class="form-control input-sm col-xs-12">
                    <span class="input-group-btn">
                        <button type="submit" value="Move" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Reset Password"><i class="fas fa-key"></i></button>
                    </span>
                </div>
            % endif
            </form>
            % endif
        </li>
        % endif
        <li class="nav-item">
            <a class="nav-link py-0 mt-1 button btn btn-sm btn-primary" href="staffPage?${this_staff}&cmd=AddDevice">
                <i class="fas fa-plus-circle"></i>
                <span>Assign Device</span>
            </a>
            % if cmd and cmd == "AddDevice" and not data:
            <form action="staffPage" method="post">
            % if 'Admin' in _session['access_level'] or 'SuperAdmin' in _session['access_level']:
                <div class="input-group">
                        % if ps_staff:
                        <input type="hidden" id="StaffID" name="StaffID" value="${ps_staff['psid']}">
                        % else:
                        <input type="hidden" id="UserName" name="UserName" value="${ad_staff['sAMAccountName']}">
                        % endif
                    <input type="hidden" id="cmd" name="cmd" value="AddDevice">
                    <input type="text" id="data" name="data" placeholder="Search for Device to Assign" class="form-control input-sm col-xs-12">
                    <span class="input-group-btn">
                        <button type="submit" value="Search" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Search for Device"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            % endif
            </form>
            % endif

        </li>
        <li class="nav-item">
            <a class="nav-link py-0 mt-1 button btn btn-sm btn-primary" href="staffPage?${this_staff}&cmd=UploadImage">
                <i class="far fa-file-image"></i>
                <span>Upload Image</span>
            </a>
            % if cmd and cmd == "UploadImage":
            <form action="pictureUpload" method="post" enctype="multipart/form-data">
            % if 'Admin' in _session['access_level']:
                <div class="input-group">
                    <input type="hidden" name="id" value="${id}">
                    <input type="file"  id="uploadfile" name="uploadfile" placeholder="Upload File" class="form-control input-sm col-xs-12">
                    <!--input type="text" class="form-control input-sm col-xs-12" value="" onfocus="if(this.value==this.defaultValue) this.value='';" name="name" placeholder="Title / Author / ISBN" id="searchbox" name="searchbox"-->
                    <span class="input-group-btn">
                        <button type="submit" value="Upload" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Upload"><i class="far fa-file-image"></i></button>
                    </span>
                </div>
            % endif
            </form>
            % endif
        </li>
        % endif
        % if 'SuperAdmin' in _session['access_level']:
        <li class="nav-item">
            <a class="nav-link py-0 mt-1 button btn btn-sm btn-primary" href="staffPage?${this_staff}&cmd=AssignParent">
                <i class="far fa-file-image"></i>
                <span>Assign Parent Account</span>
            </a>
            % if cmd and cmd == "AssignParent" and not data:
            <form action="staffPage" method="post">
            % if 'Admin' in _session['access_level'] or 'SuperAdmin' in _session['access_level']:
                <div class="input-group">
                    <input type="hidden" id="id" name="id" value="${id}">
                    <input type="hidden" id="cmd" name="cmd" value="AssignParent">
                    <input type="text" id="data" name="data" placeholder="Search for Person" class="form-control input-sm col-xs-12">
                    <span class="input-group-btn">
                        <button type="submit" value="Search" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Search"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            % endif
            </form>
            % endif
        </li>
        %endif
</%def>

<%def name="body()">
<%
if ps_staff:
    this_staff = "StaffID=%s" % ps_staff['psid']
else:
    this_staff = "UserName=%s" % ad_staff['sAMAccountName']
%>
% if msg:
    <div class="alert alert-info" style="text-align: center; padding: 8px;">
        ${msg}
    </div>
% endif
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/staff">Staff</a></li>
        <li class="breadcrumb-item active">${StaffName}</li>
    </ol>
</nav>
% if cmd and cmd=="AddDevice" and data:
<div class="row">
    <form action="assignDevice" method="post" class="form-inline">
        <div class="indented">
            <input type="hidden" name="personid" value="${id}">
            <input type="hidden" name="redirect" value="person">
            <div class="form-group">
                <input type="submit" class="btn btn-sm btn-primary" Value="Assign">
            </div>
            <div class="form-group">
                <a class="button btn btn-sm btn-danger" href="staffPage?${this_staff}">Cancel</a>
            </div>
        </div>
        <div class="table-responsive">
            <table class="display table table-striped table-hover table-bordered" id="device_table">
                <thead>
                <tr>
                    <th class="select text-center no-sort"><input type="checkbox" onClick="toggleAll(this)" /></th>
                    <th class="tag">Device Tag</th>
                    <th class="model">Model</th>
                    <th class="currentowner">Currently Assigned To</th>
                    <th class="note">Note</th>
                </tr>
                </thead>
                % for dev in data:
                <tr>
                    <td class="text-center"><input type="checkbox" name="${dev['ID']}" class="checkbox"/></td>
                    <td>${dev['Details']['tag']}</td>
                    <td>${dev['Details']['model']}</td>
                    <td>${dev['Details']['owner']}</td>
                    <%
                    devid = 'note_%s' % dev['ID']
                    %>
                    <td><input type="text" name="${devid}" id="${devid}" placeholder="Note" class="form-control input-sm col-xs-12"></td>
                </tr>
                % endfor
            </table>
        </div>
    </form>
</div>
% endif

<div class="card-deck py-4">
% if ps_staff:
    <div id="ps_data" class="card bg-primary text-white">
        <div class="card-header">
            %if photo:
            <img class="card-img-top" src="/profileimages/${photo}">
            <div class="card-img-overlay">
                <h4 class="card-title">Powerschool Data</h4>
                <div class="rank-label-container">
                    <a href="staffPage?${this_staff}&cmd=UploadImage" class="btn btn-sm btn-primary label label-default rank-label">Upload Image</a>
                </div>
            </div>
            %else:
            <div class="profile-header-container">
                <h4 class="card-title">Powerschool Data</h4>
                <div class="profile-header-img">
                    <a href="staffPage?${this_staff}&cmd=UploadImage" class="btn btn-sm btn-primary label label-default rank-label">Upload Image</a>
                </div>
            </div>
            %endif
        </div>
        <div class="card-body px-1">
            <h5>${ps_staff['firstname']} ${ps_staff['lastname']} (${ps_staff['psusername']})
                % if 'Admin' in _session['access_level'] or 'SuperAdmin' in _session['access_level']:
                    <a href="editStaffDetails?psid=${ps_staff['psid']}">
                    <small><i>Edit</i></small></a>
                % endif
            </h5>
            %if ps_override:
            <%
                OverRideName = dbactions.getName(id)
                OverRideUserName = dbactions.getUserName(id)
            %>
            <div><b>Name Override:</b> ${OverRideName}</div>
            <div><b>UserName Override:</b> ${OverRideUserName}</div>
            %endif

            <div><b>Staff ID:</b> ${ps_staff['psid']}</div>
            <div><b>Email:</b> ${ps_staff['email']}</div>
            <div><b>SPN:</b> ${ps_staff['spn']}</div>
            <div><b>Title:</b> ${ps_staff['title']}</div>
        </div>
    </div>



%endif
% if ad_staff:
    <div id="ad_data" class="card bg-primary text-white">
        <div class="card-header"><h4 class="card-title">Active Directory Data</h4></div>
        <div class="card-body px-1">
            <h5>${ad_staff['displayname']} (${ad_staff['sAMAccountName']})</h5>
            <div><b>Description:</b> ${ad_staff['description']}</div>
            <div><b>Department:</b> ${ad_staff['department']}</div>
            <div><b>Email:</b> ${ad_staff['mail']}</div>
            <div><b>Distinguished Name:</b> ${ad_staff['distinguishedName']}</div>
        </div>
    </div>
% endif
%if g_staff:
    <%
    if g_staff['suspended']:
        g_panel_class = 'bg-warning'
    else:
        g_panel_class = 'bg-primary'
    %>
    <div id="g_data" class="card ${g_panel_class} text-white">
        <div class="card-header">
            %if 'thumbnailPhotoUrl' in g_staff.keys():
            <div class="profile-header-container">
                <h4 class="card-title">G Suite Data</h4>
                <img class="card-img-top" src="${g_staff['thumbnailPhotoUrl']}">
                <div class="rank-label-container">
                    <a href="googlePictureUpdate?id=${id}" class="btn btn-sm btn-primary label label-default rank-label">Replace Image</a>
                </div>
            </div>
            %else:
            <div class="profile-header-container">
                <h4 class="card-title">G Suite Data</h4>
                <div class="profile-header-img">
                    <a href="googlePictureUpdate?id=${id}" class="btn btn-sm btn-primary label label-default rank-label">Set Image</a>
                </div>
            </div>
            %endif
        </div>
        <div class="card-body px-1">
            % if cmd and cmd == "RemoveGroup":
            <div class="row">
                <div class="col-md-8">
                    % if 'Admin' in _session['access_level'] or 'SuperAdmin' in _session['access_level']:
                        <div class="input-group">
                            <h5>Confirm removal of group</h5><b>${data}</b>
                            <a class="button btn btn-sm btn-warning" href="removeGoogleGroup?personid=${id}&group=${data}"><i class="fa fa-minus-circle"></i> Confirm Removal</a>&nbsp;
                            <a class="button btn btn-sm btn-danger" href="staffPage?${this_staff}">Cancel</a>
                        </div>
                    % endif
                </div>
            </div>
            % else:
            <h5>${g_staff['name']['fullName']} (${g_staff['primaryEmail']})</h5>
            <div><b>Location:</b> ${g_staff['orgUnitPath']}</div>
            %if g_staff['suspended']:
            <div><b>User Suspended</b>
                % if 'Admin' in _session['access_level'] or 'SuperAdmin' in _session['access_level']:
                <a href="unlockGoogleAccount?personid=${id}"><small><i>Restore</i></small></a>
                % endif
            </div>
            % endif
            <div><b>Groups:</b></div>
            % for group in g_staff['groups']:
            <div>
                % if 'Admin' in _session['access_level'] or 'SuperAdmin' in _session['access_level']:
                    <a href="staffPage?${this_staff}&cmd=RemoveGroup&data=${group['email']}" class="text-light"><i class="fas fa-minus-circle"></i></a>
                % endif
                <b>${group['name']}:</b> ${group['email']}
            </div>
            %endfor
            % endif
        </div>
    </div>
    %endif
</div>

<div role="tab-table" class="hidden">
    <div>
        <ul class="nav nav-pills" role="tablist" id="usertabs">
            <%
            if cmd == 'RemoveDevice':
                nav_schedule = ''
                panel_schedule = ''
                nav_history = ''
                panel_history = ''
                nav_devices = ' active'
                panel_devices = ' show active'
            elif len(schedule) > 0:
                nav_schedule = ' active'
                panel_schedule = ' show active'
                nav_history = ''
                panel_history = ''
                nav_devices = ''
                panel_devices = ''
            else:
                nav_schedule = ' disabled'
                panel_schedule = ''
                nav_history = ' active'
                panel_history = ' show active'
                nav_devices = ''
                panel_devices = ''
            %>
            <li class=nav-item">
                <a id="home-tab" class="nav-link${nav_schedule}" role="tab" data-toggle="tab" aria-controls="schedule" href="#schedule" aria-selected="true">Schedule</a>
            </li>
            %if devices:
            <li class=nav-item">
                <a id="devices-tab" class="nav-link${nav_devices}" role="tab" data-toggle="tab" aria-controls="devices" href="#devices">Devices</a>
            </li>
            % endif
            %if g_staff_courses:
            <li class=nav-item">
                <a id="courses-tab" class="nav-link" role="tab" data-toggle="tab" aria-controls="classroom" href="#courses">Google Classroom</a>
            </li>
            % endif
            %if len(attachments) > 0:
            <li class=nav-item">
                <a id="attachments-tab" class="nav-link" role="tab" data-toggle="tab" aria-controls="attachments" href="#attachments">Attachments</a>
            </li>
            % endif

            <li class="nav-item">
                <a id="history-tab" class="nav-link${nav_history}" role="tab" data-toggle="tab" aria-controls="history" href="#history">History</a>
            </li>
        </ul>

        <div class="tab-content" id="tabcontent">
            <div role="tabpanel" class="tab-pane fade${panel_schedule}" id="schedule" aria-labelledby="schedule-tab">
                <div class="table-responsive">
                    <table class="display table table-striped table-hover table-bordered" id="schedule_table">
                        <thead>
                        <tr>
                            <th class="Period">Period</th>
                            <th class="Class">Class</th>
                            <th class="Room">Room</th>
                            <th class="Term">Term</th>
                        </tr>
                        </thead>
                        % for entry in schedule:
                        <tr>
                            <td>${entry['period']}</td>
                            <td><a href="getClassList?ClassID=${entry['classid']}&ClassName=${quote(entry['classname'])}&ClassInstructor=${quote(staff['lastname'])}">${entry['classname']}</a></td>
                            <td>${entry['room']}</td>
                            <td>${entry['term']}</td>
                        </tr>
                        % endfor
                    </table>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane fade${panel_history}" id="history" aria-labelledby="history-tab">
                <div class="table-responsive">
                    <table class="display table table-striped table-hover table-bordered" id="activity_table">
                        <thead>
                        <tr>
                            <th class="timestamp">TimeStamp</th>
                            <th class="activitydate">Activity Date</th>
                            <th class="activitydesc">Activity</th>
                            <th class="username">By</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade${panel_devices}" id="devices" aria-labelledby="devices-tab">
                <div class="table-responsive">
                    <table class="display table table-striped table-hover table-bordered" id="device_table">
                        <thead>
                        <tr>
                            <th class="Tag">Tag</th>
                            <th class="Model">Model</th>
                            <th class="Serial">Serial</th>
                            <th class="MAC">MAC</th>
                            <th class="ADName">AD Name</th>
                            <th class="Notes">Notes</th>
                            <th class="Actions">Actions</th>
                        </tr>
                        </thead>
                        % for entry in devices:
                        <tr>
                            <td><a href="devicePage?deviceid=${entry['deviceid']}">${entry['tag']}</a></td>
                            <td>${entry['modelname']}</td>
                            <td>${entry['serialnumber']}</td>
                            <td>${entry['mac']}</td>
                            <td>${entry['adname']}</td>
                            <td>${entry['notes']}</td>
                            <td>
                                % if 'Admin' in _session['access_level'] or 'SuperAdmin' in _session['access_level']:
                                    % if cmd and data and cmd == 'RemoveDevice' and int(data) == entry['deviceid']:
                                        <form action="removeDevice" method="post">
                                            <input type="hidden" name="personid" id="personid" value="${id}">
                                            <input type="hidden" name="deviceid" id="deviceid" value="${entry['deviceid']}">
                                            <input type="hidden" name="redirect" id="redirect" value="person">
                                            <label for="note" name="note" class="control-label col-xs-4">Note (Optional):</label>
                                            <input type="text" name="note" id="note" placeholder="Note" class="form-control col-xs-8"><br>
                                            <label for="locationid" name="locationid" class="control-label col-xs-4">Location:</label>
                                            <select id="locationid" name="locationid" class="form-control col-xs-8">
                                                <option disabled selected value> -- select an option -- </option>
                                                % for loc in locations:
                                                <%
                                                    if loc['locationid'] == entry['locationid']:
                                                        selected = 'selected="selected"'
                                                    else:
                                                        selected = ''
                                                %>
                                                <option value="${loc['locationid']}" ${selected}>${loc['locationname']}</option>
                                                % endfor
                                            </select><br>
                                            <button type="submit" value="RemoveDevice" class="btn btn-sm btn-warning col-xs-6" data-toggle="tooltip" data-placement="bottom" title="Remove Device"><i class="fa fa-minus-circle"></i> Confirm Removal</button>
                                            <a class="button btn btn-sm btn-danger col-xs-6" href="staffPage?${this_staff}">Cancel</a>
                                        </form>
                                    % else:
                                        <a class="button btn btn-sm btn-primary" href="staffPage?${this_staff}&cmd=RemoveDevice&data=${entry['deviceid']}"><i class="fa fa-minus-circle"></i> Remove</a>
                                    % endif
                                % endif
                            </td>
                        </tr>
                        % endfor

                    </table>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="attachments" aria-labelledby="attachments-tab">
                <div class="table-responsive">
                    <table class="display table table-striped table-hover table-bordered" id="person_attachments">
                        <thead>
                        <tr>
                            <th class="timestamp">TimeStamp</th>
                            <th class="description">Description</th>
                            <th class="action">Actions</th>
                        </tr>
                        </thead>
                        %for entry in attachments:
                        <tr>
                            <td>${entry['timestamp']}</td>
                            <td>${entry['description']}</td>
                            <% filename = entry['filename'] %>
                            <td><button type="submit" value="Upload" class="btn btn-sm btn-primary btn-sm btn-block" data-toggle="tooltip" data-placement="bottom" title="View Attachment" onclick="showAttachment('${filename}');"><i class="fa fa-image"></i> View</button></td>
                        </tr>
                        %endfor
                    </table>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane container fade" id="courses" aria-labelledby="courses-tab">
                <div class="card-deck mb-4">
                    <%
                        count = 0
                    %>
                    % if g_staff_courses:
                        % for entry in g_staff_courses.keys():
                            <%
                                if g_staff_courses[entry]['courseState'] == 'ARCHIVED':
                                    g_course_panel_class = 'bg-warning'
                                    show = 0
                                else:
                                    g_course_panel_class = 'bg-primary'
                                    show = 1
                            %>
                            % if show:
                                <div class="my-2 card ${g_course_panel_class} text-white" style="width:400px">
                                    <div class="card-header">
                                        <h5 class="card-title">${g_staff_courses[entry]['name']}</h5>
                                    </div>
                                    <div class="card-body">
                                        % for key in ['updateTime', 'alternateLink', 'creationTime', 'section', 'enrollmentCode', 'descriptionHeading', 'room']:
                                            %if key in g_staff_courses[entry].keys():
                                                <p><b>${key}:</b> ${g_staff_courses[entry][key]}</p>
                                            % endif
                                        % endfor
                                    </div>
                                </div>
                                <%
                                  count += 1
                                %>
                                % if (count % 1) == 0:
                                     <div class="w-100 d-none d-sm-block d-md-none"><!-- wrap every 1 on sm--></div>
                                % endif
                                % if (count % 2) == 0:
                                     <div class="w-100 d-none d-md-block d-lg-none"><!-- wrap every 2 on sm--></div>
                                % endif
                                % if (count % 3) == 0:
                                     <div class="w-100 d-none d-lg-block d-xl-none"><!-- wrap every 3 on md--></div>
                                % endif
                                % if (count % 4) == 0:
                                     <div class="w-100 d-none d-xl-block"><!-- wrap every 4 on lg--></div>
                                % endif
                            % endif
                        % endfor
                    % endif
                </div>
            </div>
        </div>



    </div>
</div>

</%def>

<%def name="javascriptIncludes()">

    <script type="text/javascript">
    $(document).ready(function()
    {
        var oTable = $('#activity_table').DataTable(
            {
                "order": [[ 0, 'desc' ]],
                "bAutoWidth": false,
                "stateSave": true,
                "columnDefs":[
                    { targets: 'no-sort', orderable: false },
                    { targets: [0], 'render': function(data, type, row) {
                        return data ;} },
                    { targets: [1], 'render': function(data, type, row) {
                        return data ;} },
                    { targets: [2], 'render': function(data, type, row) {
                        return data ;} },
                    { targets: [3], 'render': function(data, type, row) {
                        return data ;} }
                    ],
                "oLanguage": {
                    "sSearch": "Filter: ",
                    "sLengthMenu":"_MENU_ rows per page",
                    "sEmptyTable": "No history found",
                    "sInfo":"Showing _START_ to _END_ of _TOTAL_ rows",
                    "sInfoEmpty":"Showing 0 to 0 of 0 rows",
                    "sInfoFiltered":"(filtered from _MAX_ total rows)"},
                "sPaginationType": "full_numbers",
                "aaSorting": [[0, 'desc']],
                "bServerSide": true,
                "sAjaxSource": 'getActivity?source=person&personid=${id}',
                "bFilter": true,
                "aLengthMenu": [[5, 10, 15, 25, 50, 100, -1], [5, 10, 15, 25, 50, 100, "All"]],
                "iDisplayLength": ${schoolkeeper.CONFIG['DISPLAYLENGTH']},
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    $('td', nRow).eq(0).addClass('text-center');
                    return nRow;
                },
            });
        $('.dataTables_filter input').attr("placeholder", "Results Filter");
        //$(window).resize(function() {oTable.draw(false)});
        $('a.toggle-vis').click(function (e) {
            e.preventDefault();
            var column = oTable.column( $(this).attr('data-column') );
            column.visible( ! column.visible() );
        } );
    });

    </script>
</%def>