<%inherit file="base.html"/>
<%!
    import schoolkeeper
%>
<%def name="headerIncludes()">
            % if 'Admin' in _session['access_level']:
            <li class="nav-item">
                <a class="nav-link py-0 mt-1 button btn btn-sm btn-primary" href="students?cmd=ImportPics">
                    <i class="fa fa-upload"></i>
                    <span>Import Pictures</span>
                </a>
                % if cmd and cmd == "ImportPics":
                    % if 'Admin' in _session['access_level'] or 'SuperAdmin' in _session['access_level']:
                    <form action="students" method="post" enctype="multipart/form-data">
                        <div class="input-group">
                                <input type="hidden" id="cmd" name="cmd" value="ImportPics">
                                <input type="file"  id="importfile" name="importfile" placeholder="Upload File" class="form-control">
                                <span class="input-group-btn">
                                    <button type="submit" value="StudentPics" class="btn btn-default">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </span>
                        </div>
                    </form>
                    % endif
                %endif
            </li>
            % if 'SuperAdmin' in _session['access_level']:
            <li class="nav-item">
                <a class="nav-link py-0 mt-1 button btn btn-sm btn-warning" data-toggle="tooltip" data-placement="bottom" title="Import all files in the imports folder.  Be careful with this one." href="pictureImport?redirect=students">
                    <i class="fa fa-upload"></i>
                    <span>Import Pictures Directly</span>
                </a>
            </li>
            %endif
            <li class="nav-item">
                <a class="nav-link py-0 mt-1 button btn btn-sm btn-primary" href="pictureExport?redirect=students&type=STU">
                    <i class="fa fa-download"></i>
                    <span>Export All Student Pictures</span>
                </a>
            </li>
            % endif
</%def>
<%def name="body()">
% if msg:
    <div class="alert alert-info" style="text-align: center; padding: 8px;">
        ${msg}
    </div>
% endif
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active"><a href="/students">Students</a></li>
    </ol>
</nav>
% if csvdict and ('Admin' in _session['access_level']):
    <div id="picture_import" class="card bg-primary text-white">
        <div class="card-header"><h3 class="card-title">Import Student Pictures</h3></div>
        <td class="card-body">
            <form action="pictureImport" method="post">
                <div class="col-xs-12">
                    <input type="hidden" id="redirect" name="redirect" value="students">
                    <div class="col-xs-4"><label for="firstline">First Line:</label><input type="number" placeholder="First Line" id="firstline" name="firstline" value="0"></div>
                    <div class="col-xs-4"><label for="lastline">Last Line:</label><input type="number" placeholder="Last Line" id="lastline" name="lastline" value="${csvdict['lines']-1}"></div>
                    <div class="col-xs-4"><input type="submit" value="Import"><input type="hidden" id="filehash" name="filehash" value="${filehash}"></div>
                </div>
                <div class="col-xs-12">
                    <table class="display table table-striped table-hover table-bordered table-responsive table-condensed" id="school-table">
                        <thead>
                            <th></th>
                            % for index in xrange(0, len(csvdict['csvlist'][0])):
                            <th><select id="col_${index}" name="col_${index}">
                                % for dest in schoolkeeper.PICTURE_IMPORT_DESTINATIONS:
                                    <option value="${dest['destination']}">${dest['description']}</option>
                                % endfor
                            </select></th>
                         % endfor
                        </thead>
                    <%
                        linenum = 0
                    %>
                    % for item in csvdict['csvlist']:
                        <tr>
                            <td>${linenum}</td>
                        % for col in item:
                            <td>${col}</td>
                        % endfor
                        </tr>
                            <%
                            linenum += 1
                            %>
                    % endfor
                        </table>
                </div>
            </form>
        </div>
    </div>
% endif
<div class="table-responsive">
    <table class="display table table-striped table-hover table-bordered" id="student-table">
        <thead>
            <tr>
                <th class="lastname col-xs-2">Last Name</th>
                <th class="firstname col-xs-2">First Name</th>
                <th class="username col-xs-2">User Name</th>
                <th class="studentid col-xs-2">Student ID</th>
                <th class="gradelevel col-xs-1">Grade Level</th>
                <th class="distinguishedname col-xs-5">Distinguished Name</th>
            </tr>
        </thead>
    </table>
</div>
</%def>
<%def name="javascriptIncludes()">
  <script type="text/javascript">
    $(document).ready(function()
    {
        var table = $('#student-table').DataTable(
            {
                "responsive": true,
                "bAutoWidth": false,
                "stateSave": true,
                "order": [[ 0, 'asc']],
                "columnDefs":
                    [{ targets: 'no-sort', orderable: false },
                     { targets: [2], 'render': function(data, type, row) {
                       return '<a href="studentPage?UserName='+data+'">'+data+'</a>' ;} },
                    ],
                "oLanguage": {
                    "sSearch": "Filter: ",
                    "sLengthMenu":"_MENU_ rows per page",
                    "sEmptyTable": "No users found",
                    "sInfo":"Showing _START_ to _END_ of _TOTAL_ rows",
                    "sInfoEmpty":"Showing 0 to 0 of 0 rows",
                    "sInfoFiltered":"(filtered from _MAX_ total rows)"},
                "bServerSide": true,
                "sAjaxSource": 'getStudentList',
                "bFilter": true,
                "aLengthMenu": [[5, 10, 15, 25, 50, 100, -1], [5, 10, 15, 25, 50, 100, "All"]],
                "iDisplayLength": ${schoolkeeper.CONFIG['DISPLAYLENGTH']},
                "sPaginationType": "full_numbers",
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    <!--$('td', nRow).eq(1).addClass('text-center');-->
                    <!--$('td', nRow).eq(2).addClass('text-center');-->
                    return nRow;
                },
                "aaSorting": [[0, 'asc']],
            });
        $('.dataTables_filter input').attr("placeholder", "Results filter");
        $('a.toggle-vis').click(function (e) {
            e.preventDefault();
            var column = table.column( $(this).attr('data-column') );
            column.visible( ! column.visible() );
        } );
    });
  </script>
</%def>
