<%inherit file="base.html"/>
<%!
    import schoolkeeper, datetime
%>
<%def name="headerIncludes()">
% if 'Admin' in _session['access_level']:
    <li class="nav-item">
        <a class="nav-link py-0 mt-1 button btn btn-sm btn-primary" href="utilities?cmd=DirectCert">
            <i class="fa fa-upload"></i>
            <span>Direct Cert</span>
        </a>
        % if 'Admin' in _session['access_level'] and cmd and cmd == 'DirectCert':
            <form action="directCert" method="post" enctype="multipart/form-data">
                <div class="input-group">
                    <label class="sr-only">Upload Cert CSV</label>
                    % if 'Admin' in _session['access_level']:
                        <div class="input-group">
                            <input type="file"  id="importfile" name="importfile" placeholder="Upload File" class="form-control input-sm col-xs-12">
                            <span class="input-group-btn">
                                <button type="submit" value="upload" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Import"><i class="fa fa-upload"></i></button>
                            </span>
                        </div>
                    % endif
                </div>
            </form>
        % endif
    </li>
    <li class="nav-item">
        <a class="nav-link py-0 mt-1 button btn btn-sm btn-primary" href="getAdobeUsers">
            <i class="fa fa-file-alt"></i>
            <span>Adobe Export</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link py-0 mt-1 button btn btn-sm btn-primary" href="getPearsonUsers">
            <i class="fa fa-file-alt"></i>
            <span>Pearson Export</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link py-0 mt-1 button btn btn-sm btn-primary" href="getKonicaAddressBook">
            <i class="fa fa-file-alt"></i>
            <span>Konica Addressbook</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link py-0 mt-1 button btn btn-sm btn-primary" href="getStudentGuardianEmails">
            <i class="fa fa-file-alt"></i>
            <span>Guardian Invite List</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link py-0 mt-1 button btn-sm btn-primary" href="getKnowBe4CSV">
            <i class="fa fa-file-alt"></i>
            <span>KnowBe4 CSV</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link py-0 mt-1 button btn btn-sm btn-primary" href="updateStudentGroups" onclick="waitingDialog.show('Please wait, updating Student Google Groups (This can take a while)')";>
            <i class="fa fa-sync"></i>
            <span>Student MailGroups</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link py-0 mt-1 button btn btn-sm btn-primary" href="utilities?cmd=getSchoolPhotosChoice">
            <i class="fa fa-download"></i>
            <span>Download Photo Roster</span>
        </a>
        % if 'Admin' in _session['access_level'] and cmd and cmd == 'getSchoolPhotosChoice':
            <form action="getSchoolPhotos" method="post">
                <div class="input-group">
                    <label class="sr-only">Choose School</label>
                    % if 'Admin' in _session['access_level']:
                        <div class="input-group">
                            <input type="hidden" id="classname" name="classname" value="AM Attendance">
                            <select id="school" name="school" class="form-control input-sm col-xs-12">
                                %for school in data:
                                    <option value="${school['schoolid']}">${school['schoolname']}</option>
                                %endfor
                            </select>
                            <span class="input-group-btn">
                                <button type="submit" value="export" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Export"><i class="fa fa-download"></i></button>
                            </span>
                        </div>
                    % endif
                </div>
            </form>
        % endif
    </li>
    <li class="nav-item">
        <a class="nav-link py-0 mt-1 button btn btn-sm btn-primary" href="utilities?cmd=getStudentDevicesByTeacher">
            <i class="fa fa-download"></i>
            <span>Get Student Device Lists</span>
        </a>
        % if 'Admin' in _session['access_level'] and cmd and cmd == 'getStudentDevicesByTeacher':
            <form action="getStudentDevicesByTeacher" method="post">
                <div class="input-group">
                    <label class="sr-only">Choose School</label>
                    % if 'Admin' in _session['access_level']:
                        <div class="input-group">
                            <select id="schoolid" name="schoolid" class="form-control input-sm col-xs-12">
                                %for school in data:
                                    <option value="${school['schoolid']}">${school['schoolname']}</option>
                                %endfor
                            </select>
                            <span class="input-group-btn">
                                <button type="submit" value="export" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Export"><i class="fa fa-download"></i></button>
                            </span>
                        </div>
                    % endif
                </div>
            </form>
        % endif
    </li>
    <li class="nav-item">
        <a class="nav-link py-0 mt-1 button btn btn-sm btn-primary" href="utilities?cmd=getMobyMaxStudents">
            <i class="fa fa-download"></i>
            <span>Get MobyMax Students</span>
        </a>
        % if 'Admin' in _session['access_level'] and cmd and cmd == 'getMobyMaxStudents':
            <form action="getMobyMaxStudents" method="post">
                <div class="input-group">
                    <label class="sr-only">Choose School</label>
                    % if 'Admin' in _session['access_level']:
                        <div class="input-group">
                            <select id="schoolid" name="schoolid" class="form-control input-sm col-xs-12">
                                %for school in data:
                                    <option value="${school['schoolid']}">${school['schoolname']}</option>
                                %endfor
                            </select>
                            <span class="input-group-btn">
                                <button type="submit" value="export" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Export"><i class="fa fa-download"></i></button>
                            </span>
                        </div>
                    % endif
                </div>
            </form>
        % endif
    </li>
    <li class="nav-item">
        <a class="nav-link py-0 mt-1 button btn btn-sm btn-primary" href="utilities?cmd=getMobyMaxTeachers">
            <i class="fa fa-download"></i>
            <span>Get MobyMax Teachers</span>
        </a>
        % if 'Admin' in _session['access_level'] and cmd and cmd == 'getMobyMaxTeachers':
            <form action="getMobyMaxTeachers" method="post">
                <div class="input-group">
                    <label class="sr-only">Choose School</label>
                    % if 'Admin' in _session['access_level']:
                        <div class="input-group">
                            <select id="schoolid" name="schoolid" class="form-control input-sm col-xs-12">
                                %for school in data:
                                    <option value="${school['schoolid']}">${school['schoolname']}</option>
                                %endfor
                            </select>
                            <span class="input-group-btn">
                                <button type="submit" value="export" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Export"><i class="fa fa-download"></i></button>
                            </span>
                        </div>
                    % endif
                </div>
            </form>
        % endif
    </li>
% endif
    <li class="nav-item">
        <a class="nav-link py-0 mt-1 button btn btn-sm btn-primary" href="utilities?cmd=getOLSATStudents">
            <i class="fa fa-download"></i>
            <span>Get OLSAT Students</span>
        </a>
        % if 'Admin' in _session['access_level'] and cmd and cmd == 'getOLSATStudents':
            <form action="getOLSATStudents" method="post">
                <div class="input-group">
                    <label class="sr-only">Choose School</label>
                    % if 'Admin' in _session['access_level']:
                        <div class="input-group">
                            <select id="schoolid" name="schoolid" class="form-control input-sm col-xs-12">
                                %for school in data:
                                    <option value="${school['schoolid']}">${school['schoolname']}</option>
                                %endfor
                            </select>
                            <span class="input-group-btn">
                                <button type="submit" value="export" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Export"><i class="fa fa-download"></i></button>
                            </span>
                        </div>
                    % endif
                </div>
            </form>
        % endif
    </li>

</%def>

<%def name="body()">
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active"><a href="/utilities">Utilities</a></li>
    </ol>
</nav>
</%def>

<%def name="javascriptIncludes()">
</%def>