<%inherit file="base.html"/>
<%!
    import schoolkeeper, cherrypy
%>
<%def name="headerIncludes()">
    <div id="subhead_container">
        <div id="subhead_menu">
            % if 'SuperAdmin' in _session['access_level']:
                <a onclick="self.shutdownQA(this)" class="button btn btn-sm btn-danger" data-toggle="tooltip" data-placement="bottom" title="Terminate the SchoolKeeper process - Be careful if you're doing this remotely"><i class="fa fa-power-off"></i> Shutdown</a>
                <a class="button btn btn-sm btn-warning" onclick="self.restartQA(this, '', '')" data-toggle="tooltip" data-placement="bottom" title="Restart SchoolKeeper"><i class="fa fa-refresh"></i> Restart</a>
            % endif
            <a class="button btn btn-sm btn-primary" href="checkForUpdates" data-toggle="tooltip" data-placement="bottom" title="Check for the latest release"><i class="fa fa-check-square-o"></i> Check Version</a>
            <button class="button btn btn-sm btn-primary" type="button" value="Show Jobs" id="show_Jobs"><i class="fa fa-list-ul"></i> Show Jobs</button>
            <button class="button btn btn-sm btn-warning" type="button" value="Restart Jobs" id="restart_Jobs"><i class="fa fa-refresh"></i> Restart Jobs</button>
            <button class="button btn btn-sm btn-danger" type="button" value="Stop Jobs" id="stop_Jobs"><i class="fa fa-power-off"></i> Stop Jobs</button>

      </div>
    </div>
</%def>
<%def name="body()">
<h1>${title}</h1>
    <form action="configUpdate" method="post">

        <div role="tab-table" class="hidden">

            <div>
                <ul class="nav nav-tabs" role="tablist" id="configtabs">
                    <li role="presentation" id="1" aria-controls="webinterface"><a role="tab" data-toggle="tab" aria-controls="webinterface" href="#webinterface">Interface</a></li>
                    <li role="presentation" id="2" aria-controls="files"><a role="tab" data-toggle="tab" aria-controls="files" href="#files">Files</a></li>
                    <li role="presentation" id="3" aria-controls="activedirectory"><a role="tab" data-toggle="tab" aria-controls="activedirectory" href="#activedirectory">Active Directory</a></li>
                    <li role="presentation" id="4" aria-controls="modules"><a role="tab" data-toggle="tab" aria-controls="modules" href="#modules">Modules</a></li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane" id="webinterface">
                        <div class="configtable">
                            <div class="row">
                                <div class="col-md-6">
                                    <fieldset>
                                        <legend>Server Details</legend>
                                        <div class="form-group">
                                            <input type="text" id="current_tab" name="current_tab" value="${schoolkeeper.CURRENT_TAB}" class="hidden">
                                            <label for="http_host" class="control-label">Hostname:</label>
                                            <input type="text" id="http_host" name="http_host" value="${schoolkeeper.CONFIG['HTTP_HOST']}" class="form-control" placeholder="Hostname">
                                        </div>
                                        <div class="form-group">
                                            <label for="http_port" class="control-label">Port:</label>
                                            <input type="text" id="http_port" name="http_port" value="${schoolkeeper.CONFIG['HTTP_PORT']}" class="form-control" placeholder="Port Number (Default 5299)">
                                        </div>
                                        <div class="form-group">
                                            <label for="http_root" class="control-label">Web Root:</label>
                                            <input type="text" id="http_root" name="http_root" value="${schoolkeeper.CONFIG['HTTP_ROOT']}" class="form-control" placeholder="Web Root">
                                        </div>
                                        <div class="checkbox">
                                            <%
                                                if schoolkeeper.CONFIG['HTTP_PROXY'] == True:
                                                    checked = 'checked="checked"'
                                                else:
                                                    checked = ''
                                            %>
                                            <label for="http_proxy" class="control-label">
                                                <input type="checkbox" id="http_proxy" name="http_proxy" value="1" ${checked} />
                                            Enable http proxy</label>
                                        </div>
                                        <div class="checkbox">
                                          <%
                                                                                        if schoolkeeper.CONFIG['HTTPS_ENABLED'] == True:
                                                                                            checked = 'checked="checked"'
                                                                                        else:
                                                                                            checked = ''
                                                                                    %>
                                          <label for="https_enabled" class="control-label">
                                            <input type="checkbox" id="https_enabled" name="https_enabled" value="1" ${checked} />
                                            Enable https access to schoolkeeper</label>
                                        </div>
                                        <fieldset id="https_options">
                                            <div class="form-group">
                                                <label for="https_cert" class="control-label">Https Certificate:</label>
                                                <input type="text" id="https_cert" name="https_cert" value="${schoolkeeper.CONFIG['HTTPS_CERT']}" class="form-control" placeholder="https certificate">
                                            </div>
                                            <div class="form-group">
                                                <label for="https_key" class="control-label">Https Key:</label>
                                                <input type="text" id="https_key" name="https_key" value="${schoolkeeper.CONFIG['HTTPS_KEY']}" class="form-control" placeholder="https key">
                                            </div>
                                        </fieldset>
                                        <div class="form-group">
                                            <label for="logdir" class="control-label">Logdir:</label>
                                            <input type="text" id="logdir" name="logdir" value="${schoolkeeper.CONFIG['LOGDIR']}" class="form-control" placeholder="Log Dir">
                                        </div>
                                        <div class="form-group">
                                            <label for="loglimit" class="control-label">Log Limit:</label>
                                            <input type="text" id="loglimit" name="loglimit" value="${schoolkeeper.CONFIG['LOGLIMIT']}" class="form-control" placeholder="Log Limit">
                                            <span class="help-block">Size of on-screen log, smaller is faster and uses less memory</span>
                                        </div>
                                        <div class="form-group">
                                          <label for="loglevel">Log Level:</label>
                                          <input type="text" id="loglevel" name="loglevel" value="${schoolkeeper.LOGLEVEL}" class="form-control" placeholder="Log Level">
                                          <span class="help-block">0=Quiet, 1=Normal, 2=Debug</span>
                                        </div>
                                        <div class="form-group">
                                            <label for="imagedir" class="control-label">Imagedir:</label>
                                            <input type="text" id="imagedir" name="imagedir" value="${schoolkeeper.CONFIG['IMAGEDIR']}" class="form-control" placeholder="Image Dir">
                                        </div>

                                        <div class="form-group">
                                          <label for="displaylength">Table Display Length:</label>
                                          <select name="displaylength" id="displaylength" class="form-control">
                                            %for displaylength in [5, 10, 15, 25, 50, 100, -1]:
                                            <%
                                                                                                if displaylength == schoolkeeper.CONFIG['DISPLAYLENGTH']:
                                                                                                    selected = 'selected="selected"'
                                                                                                else:
                                                                                                    selected = ''
                                                                                            %>
                                            <option value="${displaylength}" ${selected}>${displaylength}</option>
                                            %endfor
                                          </select>
                                          <span class="help-block">Use -1 to display all rows</span>
                                        </div>
                                        <div class="form-group">
                                            <label for="corp_name">Corp Name:</label>
                                            <input type="text" id="corp_name" name="corp_name" value="${schoolkeeper.CONFIG['CORP_NAME']}" class="form-control">
                                            <span-class="help-block">Short identifier for corporation name.  For branding in the header.</span-class>
                                        </div>
                                        <div class="form-group">
                                            <label for="corp_domain">Domain Name:</label>
                                            <input type="text" id="corp_domain" name="corp_domain" value="${schoolkeeper.CONFIG['CORP_DOMAIN']}" class="form-control">
                                            <span-class="help-block">The domain name for the corporation.  For determining email addresses.</span-class>
                                        </div>
                                        <div class="form-group">
                                            <label for="current_school_year">Current School Graduation Year:</label>
                                            <input type="text" id="current_school_year" name="current_school_year" value="${schoolkeeper.CONFIG['CURRENT_SCHOOL_YEAR']}" class="form-control">
                                            <span-class="help-block">The current graduating year.  Responsible for making sure students get created in the correct grad year.</span-class>
                                        </div>

                                    </fieldset>
                                </div>
                                <div class="col-md-6">
                                    <fieldset>
                                        <legend>Access Control</legend>
                                        <div class="form-group">
                                            <label for="http_user">Username:</label>
                                            <input type="text" id="http_user" name="http_user" value="${schoolkeeper.CONFIG['HTTP_USER']}" class="form-control" placeholder="Username">
                                        </div>
                                        <div class="form-group">
                                            <label for="http_pass" class="control-label">Password:</label>
                                            <input type="password" id="http_pass" name="http_pass" value="${schoolkeeper.CONFIG['HTTP_PASS']}" class="form-control" placeholder="Password">
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <legend>Database</legend>
                                        <select name="db_type" id="db_type" class="form-control">
                                        %for type in schoolkeeper.DB_TYPES:
                                            <%
                                                if type == schoolkeeper.CONFIG['DB_TYPE']:
                                                    selected = 'selected="selected"'
                                                else:
                                                    selected = ''
                                            %>
                                            <option value="${type}" ${selected}>${type}</option>
                                        %endfor
                                        </select>
                                        <fieldset id="db_options">
                                            <div class="form-group">
                                                <label for="db_host" class="control-label">Database Hostname:</label>
                                                <input type="text" id="db_host" name="db_host" value="${schoolkeeper.CONFIG['DB_HOST']}" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label for="db_username" class="control-label">Database Username:</label>
                                                <input type="text" id="db_username" name="db_username" value="${schoolkeeper.CONFIG['DB_USERNAME']}" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label for="db_password" class="control-label">Database Password:</label>
                                                <input type="password" id="db_password" name="db_password" value="${schoolkeeper.CONFIG['DB_PASSWORD']}" class="form-control">
                                            </div>
                                        </fieldset>
                                        <div class="form-group">
                                            <label for="http_root" class="control-label">Database Password:</label>
                                            <input type="text" id="db_database" name="db_database" value="${schoolkeeper.CONFIG['DB_DATABASE']}" class="form-control">
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <legend>Startup</legend>
                                        <div class="checkbox">
                                            <%
                                            if schoolkeeper.CONFIG['API_ENABLED'] == True:
                                                checked = 'checked="checked"'
                                            else:
                                                checked = ''
                                            %>
                                            <label for="api_enabled" "title="Allow remote applications to interface with LazyLibrarian">
                                            <input type="checkbox" id="api_enabled" name="api_enabled" value="1" ${checked} />
                                            Enable API</label>
                                        </div>
                                        <fieldset id="api_options">
                                            <div id="api_options" class="form-group">
                                                <label>API key</label>
                                                <input type="text" name="api_key" id="api_key" value="${schoolkeeper.CONFIG['API_KEY']}" size="36">
                                                <input class="button btn btn-sm btn-primary" type="button" value="Generate" id="generateAPI" onClick="document.location.reload(true)">
                                                <br>
                                                <small>Current API key: <strong>${schoolkeeper.CONFIG['API_KEY']}</strong></small>
                                            </div>
                                        </fieldset>
                                    </fieldset>
                                    <fieldset>
                                    </fieldset>
                                    <fieldset>
                                        <legend>Appearance</legend>
                                        <div class="form-group">
                                            <label for="http_look">Interface:</label>
                                            <select id="http_look" name="http_look" class="form-control">
                                                %for http_look in config['http_look_list']:
                                                <%
                                                if http_look == schoolkeeper.CONFIG['HTTP_LOOK']:
                                                    selected = 'selected="selected"'
                                                else:
                                                    selected = ''
                                                %>
                                                <option value="${http_look}" ${selected}>${http_look}</option>
                                                %endfor
                                            </select>
                                        </div>
                                        <div class="checkbox hidden"> <!-- Not really required? -->
                                            <label for="bookstrap" class="control-label">
                                                <input type="checkbox" name="use_bookstrap" id="bookstrap" value="1" ${checked} />
                                                Use Bootstrap</label>
                                        </div>
                                        <fieldset id="bookstrap_options">
                                            <div class="form_group">
                                                <label for="bootstrap_theme" class="control-label">Bootstrap Theme:</label>
                                                <select name="bootstrap_theme" id="bootstrap_theme" class="form-control">
                                                    %for bootstrap_theme in schoolkeeper.BOOTSTRAP_THEMELIST:
                                                    <%
                                                    if bootstrap_theme == schoolkeeper.CONFIG['BOOTSTRAP_THEME']:
                                                        selected = 'selected="selected"'
                                                    else:
                                                        selected = ''
                                                    %>
                                                    <option value="${bootstrap_theme}" ${selected}>${bootstrap_theme}</option>
                                                    %endfor
                                                </select>
                                            </div>
                                        </fieldset>
                                        <fieldset id="bootstrap4_options">
                                            <div class="form_group">
                                                <label for="bootstrap4_theme" class="control-label">Bootstrap 4 Theme:</label>
                                                <select name="bootstrap4_theme" id="bootstrap4_theme" class="form-control">
                                                    %for bootstrap_theme in schoolkeeper.BOOTSTRAP4_THEMELIST:
                                                    <%
                                                    if bootstrap_theme == schoolkeeper.CONFIG['BOOTSTRAP4_THEME']:
                                                        selected = 'selected="selected"'
                                                    else:
                                                        selected = ''
                                                    %>
                                                    <option value="${bootstrap_theme}" ${selected}>${bootstrap_theme}</option>
                                                    %endfor
                                                </select>
                                            </div>
                                        </fieldset>
                                        <br>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="files">
                        <div class="configtable">
                            <div class="row">
                                <div class="col-md-6">
                                    <fieldset>
                                        <legend>File Paths</legend>
                                        <div class="form-group">
                                            <label for="file_ps_students">Path to PowerSchool Students Export File:</label>
                                            <input type="text" id="file_ps_students" name="file_ps_students" value="${schoolkeeper.CONFIG['FILE_PS_STUDENTS']}" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="file_ps_staff">Path to PowerSchool Staff Export File:</label>
                                            <input type="text" id="file_ps_staff" name="file_ps_staff" value="${schoolkeeper.CONFIG['FILE_PS_STAFF']}" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="folder_ps_classes">Path to PowerSchool Classes Export Files (Specify a folder):</label>
                                            <input type="text" id="folder_ps_classes" name="folder_ps_classes" value="${schoolkeeper.CONFIG['FOLDER_PS_CLASSES']}" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="folder_ps_schedules">Path to PowerSchool Schedules Export Files (Specify a folder)</label>
                                            <input type="text" id="folder_ps_schedules" name="folder_ps_schedules" value="${schoolkeeper.CONFIG['FOLDER_PS_SCHEDULES']}" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="folder_other_import">Path to Import Folder for other files(Specify a folder)</label>
                                            <input type="text" id="folder_other_import" name="folder_other_import" value="${schoolkeeper.CONFIG['FOLDER_OTHER_IMPORT']}" class="form-control">
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <legend>Timers</legend>
                                        <div class="form-group">
                                            <label for="ps_timer">Powerschool Data Check Interval (Minutes):</label>
                                            <input type="number" id="ps_timer" name="ps_timer" value="${schoolkeeper.CONFIG['PS_TIMER']}" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="ad_timer">Active Directory Data Check Interval (Minutes):</label>
                                            <input type="number" id="ad_timer" name="ad_timer" value="${schoolkeeper.CONFIG['AD_TIMER']}" class="form-control">
                                        </div>
                                    </fieldset>
                                </div>
                                <div class="col-md-6">
                                    <fieldset>
                                        <legend>Program Paths</legend>
                                            <div class="form-group">
                                                <label for="gam_path">Path to GAM Executable:</label>
                                                <input type="text" id="gam_path" name="gam_path" value="${schoolkeeper.CONFIG['GAM_PATH']}" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label for="gamadv_path">Path to GAM-ADV Executable:</label>
                                                <input type="text" id="gamadv_path" name="gamadv_path" value="${schoolkeeper.CONFIG['GAMADV_PATH']}" class="form-control">
                                            </div>
                                    </fieldset>
                                    <fieldset>
                                        <legend>Other Paths</legend>
                                            <div class="form-group">
                                                <label for="folder_attachments">Path to Attachments Folder:</label>
                                                <input type="text" id="folder_attachments" name="folder_attachments" value="${schoolkeeper.CONFIG['FOLDER_ATTACHMENTS']}" class="form-control">
                                            </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="activedirectory">
                        <div class="configtable">
                            <div class="row">
                                <div class="col-md-6">
                                    <fieldset>
                                        <legend>Active Directory Control</legend>
                                        <div class="form-group">
                                            <label for="ldap_server">LDAP Server:</label>
                                            <input type="text" id="ldap_server" name="ldap_server" value="${schoolkeeper.CONFIG['LDAP_SERVER']}" class="form-control" placeholder="0.0.0.0">
                                        </div>
                                        <div class="form-group">
                                            <label for="ldap_domain">LDAP Domain:</label>
                                            <input type="text" id="ldap_domain" name="ldap_domain" value="${schoolkeeper.CONFIG['LDAP_DOMAIN']}" class="form-control" placeholder="domain.local">
                                        </div>
                                        <div class="form-group">
                                            <label for="ldap_user">LDAP Username:</label>
                                            <input type="text" id="ldap_user" name="ldap_user" value="${schoolkeeper.CONFIG['LDAP_USER']}" class="form-control" placeholder="administrator">
                                        </div>
                                        <div class="form-group">
                                            <label for="ldap_pass" class="control-label">Password:</label>
                                            <input type="password" id="ldap_pass" name="ldap_pass" value="${schoolkeeper.CONFIG['LDAP_PASS']}" class="form-control" placeholder="Password">
                                        </div>
                                        <legend>Base DNs</legend>
                                        <div class="form-group">
                                            <label for="ldap_basedn">LDAP Base DN:</label>
                                            <input type="text" id="ldap_basedn" name="ldap_basedn" value="${schoolkeeper.CONFIG['LDAP_BASEDN']}" class="form-control" placeholder="DC=domain, DC=local">
                                        </div>
                                        <div class="form-group">
                                            <label for="ldap_basestudentdn">LDAP Student Base DN:</label>
                                            <input type="text" id="ldap_basestudentdn" name="ldap_basestudentdn" value="${schoolkeeper.CONFIG['LDAP_BASESTUDENTDN']}" class="form-control" placeholder="OU=Students, DC=domain, DC=local">
                                        </div>
                                        <div class="form-group">
                                            <label for="ldap_basestaffdn">LDAP Staff Base DN:</label>
                                            <input type="text" id="ldap_basestaffdn" name="ldap_basestaffdn" value="${schoolkeeper.CONFIG['LDAP_BASESTAFFDN']}" class="form-control" placeholder="OU=Staff, DC=domain, DC=local">
                                        </div>
                                        <div class="form-group">
                                            <label for="ldap_basedevicedn">LDAP Device Base DN:</label>
                                            <input type="text" id="ldap_basedevicedn" name="ldap_basedevicedn" value="${schoolkeeper.CONFIG['LDAP_BASEDEVICEDN']}" class="form-control" placeholder="OU=Devices, DC=domain, DC=local">
                                        </div>
                                        <legend>Active Directory Login</legend>
                                        <div class="checkbox">
                                            <%
                                            if schoolkeeper.CONFIG['ALLOW_LDAP_LOGIN'] == True:
                                                checked = 'checked="checked"'
                                            else:
                                                checked = ''
                                            %>
                                            <label for="allow_ldap_login" "title="Allow users to authenticate with Active Directory">
                                            <input type="checkbox" id="allow_ldap_login" name="allow_ldap_login" value="1" ${checked} />
                                            Allow Active Directory Logins</label>
                                        </div>
                                        <fieldset id="ldap_login_options">
                                            <div id="ldap_login_options" class="form-group">
                                                <label>LDAP Admin Group (1)</label>
                                                <input type="text" name="ldap_admin1_group" id="ldap_admin1_group" value="${schoolkeeper.CONFIG['LDAP_ADMIN1_GROUP']}" size="36">
                                                <label>LDAP Staff Group</label>
                                                <input type="text" name="ldap_staff_group" id="ldap_staff_group" value="${schoolkeeper.CONFIG['LDAP_STAFF_GROUP']}" size="36">
                                                <label>LDAP Teacher Group</label>
                                                <input type="text" name="ldap_teacher_group" id="ldap_teacher_group" value="${schoolkeeper.CONFIG['LDAP_TEACHER_GROUP']}" size="36">
                                            </div>
                                        </fieldset>

                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="modules">
                        <div class="configtable">
                            <div class="row">
                                <div class="col-md-6">
                                    <fieldset>
                                        <div class="checkbox">
                                            <%
                                                if schoolkeeper.CONFIG['PIVOT_ENABLE'] == True:
                                                    checked = 'checked="checked"'
                                                else:
                                                    checked = ''
                                            %>
                                            <label for="pivot_enable" class="control-label">
                                                <input type="checkbox" id="pivot_enable" name="pivot_enable" value="1" ${checked} />
                                            Enable PIVOT Roster Uploads</label>
                                        </div>
                                        <fieldset id="pivot_options">
                                            <legend>PIVOT</legend>
                                            <div class="form-group">
                                                <label for="pivot_sftp_addr" class="control-label">SFTP Hostname:</label>
                                                <input type="text" id="pivot_sftp_addr" name="pivot_sftp_addr" value="${schoolkeeper.CONFIG['PIVOT_SFTP_ADDR']}" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label for="pivot_sftp_user" class="control-label">Database Username:</label>
                                                <input type="text" id="pivot_sftp_user" name="pivot_sftp_user" value="${schoolkeeper.CONFIG['PIVOT_SFTP_USER']}" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label for="pivot_sftp_pass" class="control-label">Database Password:</label>
                                                <input type="password" id="pivot_sftp_pass" name="pivot_sftp_pass" value="${schoolkeeper.CONFIG['PIVOT_SFTP_PASS']}" class="form-control">
                                            </div>
                                        </fieldset>
                                    </fieldset>
                                    <fieldset>
                                        <div class="checkbox">
                                            <%
                                                if schoolkeeper.CONFIG['TRANSFINDER_ENABLE'] == True:
                                                    checked = 'checked="checked"'
                                                else:
                                                    checked = ''
                                            %>
                                            <label for="transfinder_enable" class="control-label">
                                                <input type="checkbox" id="transfinder_enable" name="transfinder_enable" value="1" ${checked} />
                                            Enable Transfinder Route Export Conversion to PowerSchool</label>
                                        </div>
                                        <fieldset id="transfinder_options">
                                            <legend>Transfinder</legend>
                                            <div class="form-group">
                                                <label for="transfinder_sftp_addr" class="control-label">SFTP Hostname:</label>
                                                <input type="text" id="transfinder_sftp_addr" name="transfinder_sftp_addr" value="${schoolkeeper.CONFIG['TRANSFINDER_SFTP_ADDR']}" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label for="transfinder_sftp_user" class="control-label">Database Username:</label>
                                                <input type="text" id="transfinder_sftp_user" name="transfinder_sftp_user" value="${schoolkeeper.CONFIG['TRANSFINDER_SFTP_USER']}" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label for="transfinder_sftp_pass" class="control-label">Database Password:</label>
                                                <input type="password" id="transfinder_sftp_pass" name="transfinder_sftp_pass" value="${schoolkeeper.CONFIG['TRANSFINDER_SFTP_PASS']}" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label for="transfinder_import_file" class="control-label">Import Filename:</label>
                                                <input type="text" id="transfinder_import_file" name="transfinder_import_file" value="${schoolkeeper.CONFIG['TRANSFINDER_IMPORT_FILE']}" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label for="transfinder_export_file" class="control-label">Export Filename:</label>
                                                <input type="text" id="transfinder_export_file" name="transfinder_export_file" value="${schoolkeeper.CONFIG['TRANSFINDER_EXPORT_FILE']}" class="form-control">
                                            </div>
                                        </fieldset>
                                    </fieldset>
                                </div>
                                <div class="col-md-6">
                                    <fieldset>
                                        <div class="checkbox">
                                            <%
                                                if schoolkeeper.CONFIG['EFUNDS_ENABLE'] == True:
                                                    checked = 'checked="checked"'
                                                else:
                                                    checked = ''
                                            %>
                                            <label for="efunds_enable" class="control-label">
                                                <input type="checkbox" id="efunds_enable" name="efunds_enable" value="1" ${checked} />
                                            Enable EFunds Balance File Upload</label>
                                        </div>
                                        <fieldset id="efunds_options">
                                            <legend>EFunds</legend>
                                            <div class="form-group">
                                                <label for="efunds_sftp_addr" class="control-label">SFTP Hostname:</label>
                                                <input type="text" id="efunds_sftp_addr" name="efunds_sftp_addr" value="${schoolkeeper.CONFIG['EFUNDS_SFTP_ADDR']}" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label for="efunds_sftp_user" class="control-label">Database Username:</label>
                                                <input type="text" id="efunds_sftp_user" name="efunds_sftp_user" value="${schoolkeeper.CONFIG['EFUNDS_SFTP_USER']}" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label for="efunds_sftp_pass" class="control-label">Database Password:</label>
                                                <input type="password" id="efunds_sftp_pass" name="efunds_sftp_pass" value="${schoolkeeper.CONFIG['EFUNDS_SFTP_PASS']}" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label for="efunds_import_file" class="control-label">Import Filename:</label>
                                                <input type="text" id="efunds_import_file" name="efunds_import_file" value="${schoolkeeper.CONFIG['EFUNDS_IMPORT_FILE']}" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label for="efunds_export_file" class="control-label">Export Filename:</label>
                                                <input type="text" id="efunds_export_file" name="efunds_export_file" value="${schoolkeeper.CONFIG['EFUNDS_EXPORT_FILE']}" class="form-control">
                                            </div>
                                        </fieldset>
                                    </fieldset>
                                    <fieldset>
                                        <div class="checkbox">
                                            <%
                                                if schoolkeeper.CONFIG['GROUPS_ENABLE'] == True:
                                                    checked = 'checked="checked"'
                                                else:
                                                    checked = ''
                                            %>
                                            <label for="groups_enable" class="control-label">
                                                <input type="checkbox" id="groups_enable" name="groups_enable" value="1" ${checked} />
                                            Enable Google Group Tools</label>
                                        </div>
                                        <fieldset id="groups_options">
                                            <legend>Google Groups</legend>
                                            <div class="form-group">
                                                <label for="groups_min_gradelevel" class="control-label">Minimum Grade Level for class.of.xxxx groups:</label>
                                                <input type="int" id="groups_min_gradelevel" name="groups_min_gradelevel" value="${schoolkeeper.CONFIG['GROUPS_MIN_GRADELEVEL']}" class="form-control">
                                            </div>
                                        </fieldset>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="other">
                        <div class="configtable">
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="notifications">
                        <div class="configtable">
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="capabilities">
                        <div class="configtable">
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="filters">
                        <div class="configtable">
                        </div>
                    </div>
                </div>
            </div>
            <!-- tabs -->
            <div class="table_wrapper_button">
                <input type="submit" value="Save changes" id="add" class="btn btn-primary">
            </div>
            <p>&nbsp;</p>
            <p style="text-align:center;color:grey">Repo: https://bitbucket.org/${schoolkeeper.CONFIG['GIT_USER']}/${schoolkeeper.CONFIG['GIT_REPO']}  : Branch: ${schoolkeeper.CONFIG['GIT_BRANCH']}<br>
                Current Version: ${schoolkeeper.CONFIG['CURRENT_VERSION']}  : Latest  Version:    ${schoolkeeper.CONFIG['LATEST_VERSION']}
            </p>
        </div>
    </form>
</%def>
<%def name="javascriptIncludes()">
  <script type="text/javascript">
    function initThisPage()

    {
        "use strict";

        if ($("#https_enabled").is(":checked"))
            {
                    $("#https_options").show();
            }
            else
            {
                    $("#https_options").hide();
            }

        $("#https_enabled").click(function(){
                if ($("#https_enabled").is(":checked"))
                {
                        $("#https_options").slideDown();
                }
                else
                {
                        $("#https_options").slideUp();
                }
        });

        if ($("#api_enabled").is(":checked"))
            {
                    $("#api_options").show();
            }
            else
            {
                    $("#api_options").hide();
            }

        $("#api_enabled").click(function(){
                if ($("#api_enabled").is(":checked"))
                {
                        $("#api_options").slideDown();
                }
                else
                {
                        $("#api_options").slideUp();
                }
        });

        if ($("#allow_ldap_login").is(":checked"))
            {
                    $("#ldap_login_options").show();
            }
        else
            {
                    $("#ldap_login_options").hide();
            }

        $("#allow_ldap_login").click(function(){
                if ($("#allow_ldap_login").is(":checked"))
                {
                        $("#ldap_login_options").slideDown();
                }
                else
                {
                        $("#ldap_login_options").slideUp();
                }
        });
        if ($("#pivot_enable").is(":checked"))
            {
                    $("#pivot_options").show();
            }
        else
            {
                    $("#pivot_options").hide();
            }

        $("#pivot_enable").click(function(){
                if ($("#pivot_enable").is(":checked"))
                {
                        $("#pivot_options").slideDown();
                }
                else
                {
                        $("#pivot_options").slideUp();
                }
        });
        if ($("#transfinder_enable").is(":checked"))
            {
                    $("#transfinder_options").show();
            }
        else
            {
                    $("#transfinder_options").hide();
            }

        $("#transfinder_enable").click(function(){
                if ($("#transfinder_enable").is(":checked"))
                {
                        $("#transfinder_options").slideDown();
                }
                else
                {
                        $("#transfinder_options").slideUp();
                }
        });
        if ($("#efunds_enable").is(":checked"))
            {
                    $("#efunds_options").show();
            }
        else
            {
                    $("#efunds_options").hide();
            }

        $("#efunds_enable").click(function(){
                if ($("#efunds_enable").is(":checked"))
                {
                        $("#efunds_options").slideDown();
                }
                else
                {
                        $("#efunds_options").slideUp();
                }
        });
        if ($("#groups_enable").is(":checked"))
            {
                    $("#groups_options").show();
            }
        else
            {
                    $("#groups_options").hide();
            }

        $("#efunds_enable").click(function(){
                if ($("#groups_enable").is(":checked"))
                {
                        $("#groups_options").slideDown();
                }
                else
                {
                        $("#groups_options").slideUp();
                }
        });
        var dbtypeselect = document.getElementById("db_type");
        var dbtypeselected = dbtypeselect.options[dbtypeselect.selectedIndex].value;

        if (dbtypeselected === 'SQLITE3')
            {
                $("#db_options").hide();
            }
            else
            {
                $("#db_options").show();
            }

        $("#db_type").change(function(){
            var dbtypeselect = document.getElementById("db_type");
            var dbtypeselected = dbtypeselect.options[dbtypeselect.selectedIndex].value;
            if (dbtypeselected == 'SQLITE3')
                {
                    $("#db_options").slideUp();
                }
                else
                {
                    $("#db_options").slideDown();
                }
        });


        $('#generateAPI').click(function () {
            $.get("generateAPI",
                function (data) { });

        });

        $('#showblocked').on('click', function(e) {
            $.get('showblocked', function(data) {
                bootbox.dialog({
                    title: 'Provider Status',
                    message: '<pre>'+data+'</pre>',
                    buttons: {
                        primary: {
                            label: "Ok",
                            className: 'btn-primary'
                        },
                        prompt: {
                            label: "Clear Blocklist",
                            className: 'btn-primary',
                            callback: function(result){ $.get("clearblocked", function(e) {}); }
                        }
                    }
                });
            });
        });
        $('#show_Jobs').on('click', function(e) {
            $.get('show_Jobs', function(data) {
                bootbox.dialog({
                    title: 'Jobs Status',
                    message: '<pre>'+data+'</pre>',
                    buttons: {
                        primary: {
                            label: "Close",
                            className: 'btn-primary'
                        }
                    }
                });
            });
        });

        $('#stop_Jobs').on('click', function(e) {
            $.get('stop_Jobs', function(data) {
                bootbox.dialog({
                    title: 'Stop Jobs',
                    message: '<pre>'+data+'</pre>',
                    buttons: {
                        primary: {
                            label: "Close",
                            className: 'btn-primary'
                        }
                    }
                });
            });
        });

        $('#restart_Jobs').on('click', function(e) {
            $.get('restart_Jobs', function(data) {
                bootbox.dialog({
                    title: 'Restarted Jobs',
                    message: '<pre>'+data+'</pre>',
                    buttons: {
                        primary: {
                            label: "Close",
                            className: 'btn-primary'
                        }
                    }
                });
            });
        });

        $('#testSABnzbd').on('click', function() {
            var host = $.trim($("#sab_host").val());
            var port = $.trim($("#sab_port").val());
            var user = $.trim($("#sab_user").val());
            var pwd = $.trim($("#sab_pass").val());
            var api = $.trim($("#sab_api").val());
            var cat = $.trim($("#sab_cat").val());
            var subdir = $.trim($("#sab_subdir").val());
            $.get("testSABnzbd", {'host': host, 'port': port, 'user': user, 'pwd': pwd, 'api': api, 'cat': cat, 'subdir': subdir},
            function(data) {
                bootbox.dialog({
                    title: 'SABnzbd Connection',
                    message: '<pre>'+data+'</pre>',
                    buttons: {
                        primary: {
                            label: "Close",
                            className: 'btn-primary'
                        }
                    }
                });
            });
        });
        $('#testNZBget').on('click', function(e) {
            var host = $.trim($("#nzbget_host").val());
            var port = $.trim($("#nzbget_port").val());
            var user = $.trim($("#nzbget_user").val());
            var pwd = $.trim($("#nzbget_pass").val());
            var cat = $.trim($("#nzbget_category").val());
            var pri = $.trim($("#nzbget_priority").val());
            $.get('testNZBget', {'host': host, 'port': port, 'user': user, 'pwd': pwd, 'cat': cat, 'pri': pri},
                function(data) {
                bootbox.dialog({
                    title: 'NZBget Connection',
                    message: '<pre>'+data+'</pre>',
                    buttons: {
                        primary: {
                            label: "Close",
                            className: 'btn-primary'
                        }
                    }
                });
            });
        });

        $('#testSynology').on('click', function(e) {
            var host = $.trim($("#synology_host").val());
            var port = $.trim($("#synology_port").val());
            var user = $.trim($("#synology_user").val());
            var pwd = $.trim($("#synology_pass").val());
            var dir = $.trim($("#synology_dir").val());
            $.get('testSynology', {'host': host, 'port': port, 'user': user, 'pwd': pwd, 'dir': dir},
                function(data) {
                bootbox.dialog({
                    title: 'Synology Connection',
                    message: '<pre>'+data+'</pre>',
                    buttons: {
                        primary: {
                            label: "Close",
                            className: 'btn-primary'
                        }
                    }
                });
            });
        });

        $('#testDeluge').on('click', function() {
            var host = $.trim($("#deluge_host").val());
            var port = $.trim($("#deluge_port").val());
            var user = $.trim($("#deluge_user").val());
            var pwd = $.trim($("#deluge_pass").val());
            var label = $.trim($("#deluge_label").val());
            $.get("testDeluge", {'host': host, 'port': port, 'user': user, 'pwd': pwd, 'label': label},
                function(data) {
                    bootbox.dialog({
                    title: 'Deluge Connection',
                    message: '<pre>'+data+'</pre>',
                    buttons: {
                        primary: {
                            label: "Close",
                            className: 'btn-primary'
                        }
                    }
                });
            });
        });

        $('#testTransmission').on('click', function(e) {
            var host = $.trim($("#transmission_host").val());
            var port = $.trim($("#transmission_port").val());
            var user = $.trim($("#transmission_user").val());
            var pwd = $.trim($("#transmission_pass").val());
            $.get('testTransmission', {'host': host, 'port': port, 'user': user, 'pwd': pwd},
                function(data) {
                bootbox.dialog({
                    title: 'Transmission Connection',
                    message: '<pre>'+data+'</pre>',
                    buttons: {
                        primary: {
                            label: "Close",
                            className: 'btn-primary'
                        }
                    }
                });
            });
        });

        $('#testqBittorrent').on('click', function() {
            var host = $.trim($("#qbittorrent_host").val());
            var port = $.trim($("#qbittorrent_port").val());
            var user = $.trim($("#qbittorrent_user").val());
            var pwd = $.trim($("#qbittorrent_pass").val());
            var label = $.trim($("#qbittorrent_label").val());
            $.get('testqBittorrent', {'host': host, 'port': port, 'user': user, 'pwd': pwd, 'label': label},
                function(data) {
                bootbox.dialog({
                    title: 'qBittorrent Connection',
                    message: '<pre>'+data+'</pre>',
                    buttons: {
                        primary: {
                            label: "Close",
                            className: 'btn-primary'
                        }
                    }
                });
            });
        });

        $('#testuTorrent').on('click', function(e) {
            var host = $.trim($("#utorrent_host").val());
            var port = $.trim($("#utorrent_port").val());
            var user = $.trim($("#utorrent_user").val());
            var pwd = $.trim($("#utorrent_pass").val());
            var label = $.trim($("#utorrent_label").val());
            $.get('testuTorrent', {'host': host, 'port': port, 'user': user, 'pwd': pwd, 'label': label},
                function(data) {
                bootbox.dialog({
                    title: 'uTorrent Connection',
                    message: '<pre>'+data+'</pre>',
                    buttons: {
                        primary: {
                            label: "Close",
                            className: 'btn-primary'
                        }
                    }
                });
            });
        });

        $('#testrTorrent').on('click', function(e) {
            var host = $.trim($("#rtorrent_host").val());
            var dir = $.trim($("#rtorrent_dir").val());
            var user = $.trim($("#rtorrent_user").val());
            var pwd = $.trim($("#rtorrent_pass").val());
            var label = $.trim($("#rtorrent_label").val());
            $.get('testrTorrent', {'host': host, 'dir': dir, 'user': user, 'pwd': pwd, 'label': label},
                function(data) {
                bootbox.dialog({
                    title: 'rTorrent Connection',
                    message: '<pre>'+data+'</pre>',
                    buttons: {
                        primary: {
                            label: "Close",
                            className: 'btn-primary'
                        }
                    }
                });
            });
        });

        if ($("#use_twitter").is(":checked"))
                {
                        $("#twitteroptions").show();
                }
        else
                {
                        $("#twitteroptions").hide();
                }

        $("#use_twitter").click(function(){
                if ($("#use_twitter").is(":checked"))
                {
                        $("#twitteroptions").slideDown();
                }
                else
                {
                        $("#twitteroptions").slideUp();
                }
        });

        if ($("#use_boxcar").is(":checked"))
                {
                        $("#boxcaroptions").show();
                }
        else
                {
                        $("#boxcaroptions").hide();
                }

        $("#use_boxcar").click(function(){
                if ($("#use_boxcar").is(":checked"))
                {
                        $("#boxcaroptions").slideDown();
                }
                else
                {
                        $("#boxcaroptions").slideUp();
                }
        });

        if ($("#fullscan").is(":checked"))
                {
                        $("#fullscanoptions").show();
                }
        else
                {
                        $("#fullscanoptions").hide();
                }

        $("#fullscan").click(function(){
                if ($("#fullscan").is(":checked"))
                {
                        $("#fullscanoptions").slideDown();
                }
                else
                {
                        $("#fullscanoptions").slideUp();
                }
        });

        if ($("#use_pushbullet").is(":checked"))
                {
                        $("#pushbulletoptions").show();
                }
        else
                {
                        $("#pushbulletoptions").hide();
                }

        $("#use_pushbullet").click(function(){
                if ($("#use_pushbullet").is(":checked"))
                {
                        $("#pushbulletoptions").slideDown();
                }
                else
                {
                        $("#pushbulletoptions").slideUp();
                }
        });

        if ($("#use_pushover").is(":checked"))
                {
                        $("#pushoveroptions").show();
                }
        else
                {
                        $("#pushoveroptions").hide();
                }
        $("#use_pushover").click(function(){
                if ($("#use_pushover").is(":checked"))
                {
                        $("#pushoveroptions").slideDown();
                }
                else
                {
                        $("#pushoveroptions").slideUp();
                }
        });

        if ($("#use_androidpn").is(":checked"))
                {
                        $("#androidpnoptions").show();
                }
        else
                {
                        $("#androidpnoptions").hide();
                }
        $("#use_androidpn").click(function(){
                if ($("#use_androidpn").is(":checked"))
                {
                    $("#androidpnoptions").slideDown();
                }
                else
                {
                    $("#androidpnoptions").slideUp();
                }
        });
        if ($("#androidpn_broadcast").is(":checked"))
                {
                        $("#androidpn_username").hide();
                }
        else
                {
                        $("#androidpn_username").show();
                }
        $("#androidpn_broadcast").click(function(){
                if ($("#androidpn_broadcast").is(":checked"))
                {
                    $("#androidpn_username").slideUp();
                }
                else
                {
                    $("#androidpn_username").slideDown();
                }
        });

            if ($("#use_nma").is(":checked"))
                    {
                            $("#nmaoptions").show();
                    }
            else
                    {
                            $("#nmaoptions").hide();
                    }

            $("#use_nma").click(function(){
                    if ($("#use_nma").is(":checked"))
                    {
                            $("#nmaoptions").slideDown();
                    }
                    else
                    {
                            $("#nmaoptions").slideUp();
                    }
            });

            $("#use_prowl").click(function(){
                    if ($("#use_prowl").is(":checked"))
                    {
                            $("#prowloptions").slideDown();
                    }
                    else
                    {
                            $("#prowloptions").slideUp();
                    }
            });

            if ($("#use_prowl").is(":checked"))
                    {
                            $("#prowloptions").show();
                    }
            else
                    {
                            $("#prowloptions").hide();
                    }

        if ($("#use_slack").is(":checked"))
                {
                        $("#slackoptions").show();
                }
        else
                {
                        $("#slackoptions").hide();
                }
        $("#use_slack").click(function(){
                if ($("#use_slack").is(":checked"))
                {
                        $("#slackoptions").slideDown();
                }
                else
                {
                        $("#slackoptions").slideUp();
                }
        });

        if ($("#use_custom").is(":checked"))
                {
                        $("#customoptions").show();
                }
        else
                {
                        $("#customoptions").hide();
                }

        $("#use_custom").click(function(){
                if ($("#use_custom").is(":checked"))
                {
                        $("#customoptions").slideDown();
                }
                else
                {
                        $("#customoptions").slideUp();
                }
        });

        if ($("#use_email").is(":checked"))
                {
                        $("#emailoptions").show();
                }
        else
                {
                        $("#emailoptions").hide();
                }

        $("#use_email").click(function(){
                if ($("#use_email").is(":checked"))
                {
                        $("#emailoptions").slideDown();
                }
                else
                {
                        $("#emailoptions").slideUp();
                }
        });


        $('#twitterStep1').click(function () {
            $('#testTwitter-result').html('');
            $.get("twitterStep1", function (data) {window.open(data); })
                .done(function () { $('#testTwitter-result').html('<b>Step1:</b> Confirm Authorization'); });
        });

        $('#twitterStep2').click(function () {
            $('#testTwitter-result').html('');
            var twitter_key = $("#twitter_key").val();
            $.get("twitterStep2", {'key': twitter_key},
                function (data) { $('#testTwitter-result').html(data); });
        });

        $('#testTwitter').click(function () {
            $.get("testTwitter",
                function (data) { $('#testTwitter-result').html(data); });
        });

        $('#testBoxcar').click(function () {
            var token = $.trim($("#boxcar_token").val());
            $.get("testBoxcar", {'token': token},
                function (data) { window.alert(data) });
        });

        $('#testPushbullet').click(function () {
            var token = $.trim($("#pushbullet_token").val());
            var device = $.trim($("#pushbullet_deviceid").val());
            $.get("testPushbullet", {'token': token, 'device': device},
                function (data) { window.alert(data) });
        });

        $('#testPushover').click(function () {
            var token = $.trim($("#pushover_apitoken").val());
            var keys = $.trim($("#pushover_keys").val());
            var priority = $.trim($("#pushover_priority").val());
            var device = $.trim($("#pushover_device").val());
            $.get("testPushover", {'apitoken': token, 'keys': keys, 'priority': priority, 'device': device},
                function (data) { window.alert(data) });
        });

        $('#testProwl').click(function () {
            var apikey = $.trim($("#prowl_apikey").val());
            var priority = $.trim($("#prowl_priority").val());
            $.get("testProwl", {'apikey': apikey, 'priority': priority},
                function (data) { window.alert(data) });
        });

        $('#testNMA').click(function () {
            var apikey = $.trim($("#nma_apikey").val());
            var priority = $.trim($("#nma_priority").val());
            $.get("testNMA", {'apikey': apikey, 'priority': priority},
                function (data) { window.alert(data) });
        });

        $('#testSlack').click(function () {
            var token = $.trim($("#slack_token").val());
            $.get("testSlack", {'token': token},
                function (data) { window.alert(data) });
        });

        $('#testCustom').click(function () {
            var script = $.trim($("#custom_script").val());
            $.get("testCustom", {'script': script},
                function (data) { window.alert(data) });
        });

        $('#testEmail').click(function () {
            var tls = ($("#email_tls").prop('checked') == true) ? 'True' : 'False';
            var ssl = ($("#email_ssl").prop('checked') == true) ? 'True' : 'False';
            var sendfile = ($("#email_sendfile_ondownload").prop('checked') == true) ? 'True' : 'False';
            var emailfrom = $.trim($("#email_from").val());
            var emailto = $.trim($("#email_to").val());
            var server = $.trim($("#email_smtp_server").val());
            var user = $.trim($("#email_smtp_user").val());
            var password = $.trim($("#email_smtp_password").val());
            var port = $.trim($("#email_smtp_port").val());
            $.get("testEmail", {'tls': tls, 'ssl': ssl, 'emailfrom': emailfrom, 'emailto': emailto, 'server': server, 'user': user, 'password': password, 'port': port, 'sendfile': sendfile},
                function (data) { window.alert(data) });
        });

        $("#testAndroidPN").click(function () {
            var androidpn_url = $.trim($("#androidpn_url").val());
            var androidpn_username = $.trim($("#androidpn_username").val());
            var androidpn_broadcast = ($("#androidpn_broadcast").prop('checked') == true) ? 'Y' : 'N';
            $.get("testAndroidPN", {'url': androidpn_url, 'username': androidpn_username, 'broadcast': androidpn_broadcast},
                function (data) { window.alert(data) });
        });

        $('#http_look').change(function() {
            if ($(this).val() == 'bookstrap') {
                $('#bookstrap_options').removeClass("hidden");
            } else {
                $('#bookstrap_options').addClass("hidden");
            }
        });

        // when the page first loads, hide all tab headers and panels
        $("li[role='presentation']").attr("aria-selected", "false");
        $("li[role='presentation']").removeClass('active');
        $("div[role='tabpanel']").attr("aria-hidden", "true");
        $("div[role='tabpanel']").removeClass('active');
        // which one do we want to show
        var tabnum = $("#current_tab").val();
        var tabid = $("#" + tabnum);
        var tabpanel = tabid.attr('aria-controls');
        var tabpanelid = $("#" + tabpanel);
        // show the tab header and panel we want
        tabpanelid.attr("aria-hidden", "false");
        tabpanelid.addClass('active');
        tabid.attr("aria-selected", "true");
        tabid.addClass('active');
        $("div[role='tab-table']").removeClass('hidden');

        // when a tab is clicked
        $("li[role='presentation']").click(function(){
            var tabnum = $(this).attr('id');    // store current tab for python
            $("#current_tab").val(tabnum);
        });


    } // End Init

    $(document).ready(function() {
        initThisPage();
    });
  </script>
</%def>
<html><head></head><body></body></html>
