<%inherit file="base.html"/>
<%!
    import schoolkeeper
%>
<%def name="headerIncludes()">
    <div id="subhead_container" class="row">
        <div class="clearfix visible-xs"><hr/></div>
        <div class="col-xs-12 col-md-4">
            % if 'Admin' in _session['access_level'] or 'SuperAdmin' in _session['access_level']:
            <a class="button btn btn-sm btn-primary" href="devicemodels?EditDeviceModel=-1" data-toggle="tooltip" data-placement="bottom" title="Add a new Device Model to SchoolKeeper"><i class="fa fa-plus"></i> Add Device Model</a>
            % endif
        </div>
    </div>
</%def>
<%def name="body()">
% if msg:
    <div class="alert alert-info" style="text-align: center; padding: 8px;">
        ${msg}
    </div>
% endif
<h1>${title}</h1>
<div class="table-responsive">
    <div class="col-md-8 col-xs-12">
        <table class="display table table-striped table-hover table-bordered" id="school-table">
            <thead>
                <tr>
                    <th class="modelid hidden">Model ID</th>
                    <th class="modelname col-xs-3">Model Name</th>
                    <th class="modelmanufacturer col-xs-2">Manufacturer</th>
                    <th class="modeltype col-xs-2">Type</th>
                    <th class="modeldesc col-xs-5">Description</th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="col-md-4 col-xs-12">
        <form action="deviceModelUpdate" method="post">
            <div id="model_editor" class="panel panel-primary">
                %if model and ('Admin' in _session['access_level'] or 'SuperAdmin' in _session['access_level']):
                <div class="panel-heading"><h3 class="panel-title">Edit Model</h3></div>
                <div class="panel-body">
                    <fieldset>
                        <div class="col-xs-12">
                            <input type="hidden" id="modelid" name="modelid" value="${model['modelid']}">
                            <label for="modelname" class="control-label">Model Name:</label>
                            <input type="text" id="modelname" name="modelname" value="${model['modelname']}" class="form-control">
                        </div>
                        <div class="col-xs-12">
                            <label for="modelmanufacturer" class="control-label">Manufacturer:</label>
                            <input type="text" id="modelmanufacturer" name="modelmanufacturer" value="${model['modelmanufacturer']}" class="form-control">
                        </div>
                        <div class="col-xs-12">
                            <label for="modeltype" class="control-label">Type:</label>
                            <input type="text" id="modeltype" name="modeltype" value="${model['modeltype']}" class="form-control">
                        </div>
                        <div class="col-xs-12">
                            <label for="modeldescription" class="control-label">Description:</label>
                            <input type="text" id="modeldescription" name="modeldescription" value="${model['modeldescription']}" class="form-control">
                        </div>
                    </fieldset>
                    <div class="table_wrapper_button col-xs-12">
                        <input type="submit" value="Save changes" id="add" class="btn btn-primary" onclick="waitingDialog.show('Please wait, updating device database');">
                    </div>
                </div>
                %endif
            </div>
        </form>
    </div>
</div>
</%def>
<%def name="javascriptIncludes()">
  <script type="text/javascript">
    $(document).ready(function()
    {
        var table = $('#school-table').DataTable(
            {
                "responsive": true,
                "bAutoWidth": false,
                "stateSave": true,
                "order": [[ 0, 'asc']],
                "columnDefs":
                    [{ targets: 'no-sort', orderable: false },
                     { targets: [1], 'render': function(data, type, row) {
                       return '<a href="devicemodels?EditDeviceModel='+row[0]+'">'+data+'</a>' ;} },
                    ],
                "oLanguage": {
                    "sSearch": "Filter: ",
                    "sLengthMenu":"_MENU_ rows per page",
                    "sEmptyTable": "No models found",
                    "sInfo":"Showing _START_ to _END_ of _TOTAL_ rows",
                    "sInfoEmpty":"Showing 0 to 0 of 0 rows",
                    "sInfoFiltered":"(filtered from _MAX_ total rows)"},
                "bServerSide": true,
                "sAjaxSource": 'getDeviceModelList',
                "bFilter": true,
                "aLengthMenu": [[5, 10, 15, 25, 50, 100, -1], [5, 10, 15, 25, 50, 100, "All"]],
                "iDisplayLength": ${schoolkeeper.CONFIG['DISPLAYLENGTH']},
                "sPaginationType": "full_numbers",
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    <!--$('td', nRow).eq(1).addClass('text-center');-->
                    <!--$('td', nRow).eq(2).addClass('text-center');-->
                    $('td', nRow).eq(0).addClass('hidden');
                    return nRow;
                },
                "aaSorting": [[0, 'asc']],
            });
        $('.dataTables_filter input').attr("placeholder", "Results filter");
        $('a.toggle-vis').click(function (e) {
            e.preventDefault();
            var column = table.column( $(this).attr('data-column') );
            column.visible( ! column.visible() );
        } );
    });
  </script>
</%def>
