<%inherit file="base.html"/>
<%!
    import schoolkeeper
%>
<%def name="headerIncludes()">
    <div id="subhead_container" class="row">
        <div id="subhead_menu"  class="col-xs-12 col-md-8">
            % if int(showRemoved):
                <a class="button btn btn-sm btn-primary" href="devices?showRemoved=0"><i class="fa fa-eye-slash"></i> Hide Retired Devices</a>
            % else:
                <a class="button btn btn-sm btn-primary" href="devices?showRemoved=1"><i class="fa fa-eye"></i> Show Retired Devices</a>
            % endif
            % if 'Admin' in _session['access_level'] or 'SuperAdmin' in _session['access_level']:
                <a class="button btn btn-sm btn-primary" href="devicemodels"><i class="fa fa-laptop"></i> Device Models</a>
                <a class="button btn btn-sm btn-primary" href="locations"><i class="fa fa-map"></i> Device Locations</a>
                <a class="button btn btn-sm btn-primary" href="devicePage?edit=1"><i class="fa fa-plus"></i> Add Device</a>
                <a class="button btn btn-sm btn-primary" href="devices?cmd=deviceImport"><i class="fa fa-upload"></i> Import Devices</a>
            % endif
        </div>
        <div class="clearfix visible-xs"><hr/></div>
        % if cmd and cmd=="deviceImport":
        <div class="col-xs-12 col-md-4">
            <form action="devices" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label class="sr-only">Search</label>
                    % if 'Admin' in _session['access_level'] or 'SuperAdmin' in _session['access_level']:
                        <div class="input-group">
                            <input type="file"  id="importfile" name="importfile" placeholder="Upload File" class="form-control input-sm col-xs-12">
                            <span class="input-group-btn">
                                <button type="submit" value="Book" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="bottom" title="Import"><i class="fa fa-plus"></i></button>
                            </span>
                        </div>
                    % endif
                </div>
            </form>
        </div>
        % else:
        <div class="col-xs-12 col-md-4">
            <form action="search" method="get">
                <div class="form-group">
                    <label class="sr-only">Search</label>
                    % if 'Staff' in _session['access_level'] or 'Admin' in _session['access_level']:
                        <div class="input-group">
                            <input type="text"  id="name" name="name" placeholder="Student / Staff / Device" name="title" class="form-control input-sm col-xs-12">
                            <!--input type="text" class="form-control input-sm col-xs-12" value="" onfocus="if(this.value==this.defaultValue) this.value='';" name="name" placeholder="Title / Author / ISBN" id="searchbox" name="searchbox"-->
                            <span class="input-group-btn">
                                <button type="submit" value="Book" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="bottom" title="Search"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    % endif
                </div>
            </form>
        </div>
        % endif
    </div>
</%def>
<%def name="body()">
% if msg:
    <div class="alert alert-info" style="text-align: center; padding: 8px;">
        ${msg}
    </div>
% endif
% if csvdict and ('Admin' in _session['access_level']):
    <div id="device_import" class="panel panel-primary col-xs-12">
        <div class="panel-heading"><h3 class="panel-title">Import Devices</h3></div>
        <td class="panel-body">
            <form action="deviceImport" method="post">
                <div class="col-xs-12">
                    <div class="col-xs-4"><label for="firstline">First Line:</label><input type="number" placeholder="First Line" id="firstline" name="firstline" value="1"></div>
                    <div class="col-xs-4"><label for="lastline">Last Line:</label><input type="number" placeholder="Last Line" id="lastline" name="lastline" value="${csvdict['lines']-1}"></div>
                    <div class="col-xs-4"><input type="submit" value="Import"><input type="hidden" id="filehash" name="filehash" value="${filehash}"></div>
                </div>
                <div class="col-xs-12">
                    % for index in xrange(0, 3):
                    <div class="col-xs-2">
                        <select id="static_${index}" name="static_${index}">
                                % for dest in schoolkeeper.DEVICE_IMPORT_STATICDESTINATIONS:
                                    <option value="${dest['destination']}">${dest['description']}</option>
                                % endfor
                        </select>
                    </div>
                    <div class="col-xs-2">
                        <input type="text" id="staticval_${index}" name="staticval_${index}">
                    </div>
                    % endfor
                </div>
                <div class="col-xs-12">
                    <table class="display table table-striped table-hover table-bordered table-responsive table-condensed" id="school-table">
                        <thead>
                            <th></th>
                            % for index in xrange(0, len(csvdict['csvlist'][0])):
                            <th><select id="col_${index}" name="col_${index}">
                                % for dest in schoolkeeper.DEVICE_IMPORT_DESTINATIONS:
                                    <option value="${dest['destination']}">${dest['description']}</option>
                                % endfor
                            </select></th>
                         % endfor
                        </thead>
                    <%
                        linenum = 0
                    %>
                    % for item in csvdict['csvlist']:
                        <tr>
                            <td>${linenum}</td>
                        % for col in item:
                            <td>${col}</td>
                        % endfor
                        </tr>
                            <%
                            linenum += 1
                            %>
                    % endfor
                        </table>
                </div>
            </form>
        </div>
    </div>
% endif
<h1>${title}</h1>
<div class="row">
    <form action="deviceActions" method="post" class="form-inline">
        <input type="hidden" name="redirect" value="Devices">
        <div class="form-group">
            <label for="action">Selected Action</label>
            <select class="deviceAction form-control input-sm" id="action" name="action">
                <option value="AssignDevice">Assign to User</option>
                <option value="UnassignDevice">Remove from User</option>
                <option value="MoveDevice">Move Devices</option>
                <option value="RetireDevice">Retire Devices</option>
                <option value="RestoreDevice">Restore Devices</option>
            </select>
        </div>
        <div class="form-group">
            <input type="submit" class="deviceAction btn btn-sm btn-primary" value="Go">
        </div>
        <div class="table-responsive">
            <table class="display table table-striped table-hover table-bordered" id="device_table">
                <thead>
                    <tr>
                        <th class="select text-center no-sort deviceid"><input type="checkbox" onClick="toggleAll(this)"/></th>
                        <th class="tag">Device Tag</th>
                        <th class="ownertype hidden">Owner Type</th>
                        <th class="owner">User Name</th>
                        <th class="modeltype">Device Type</th>
                        <th class="modelname">Model</th>
                        <th class="serialnumber">Serial</th>
                        <th class="active hidden">AD Name</th>
                        <th class="mac hidden">MAC Address</th>
                        <th class="purchased">Purchased</th>
                        <th class="notes">Notes</th>
                        <th class="school">Building</th>
                        <th class="location">Location</th>
                    </tr>
                </thead>
            </table>
        </div>
    </form>
</div>
</%def>
<%def name="javascriptIncludes()">
  <script type="text/javascript">
    $(document).ready(function()
    {
        var table = $('#device_table').DataTable(
            {
                "responsive": true,
                "bAutoWidth": false,
                "stateSave": true,
                "order": [[ 1, 'asc']],
                "columnDefs":
                    [{ targets: 'no-sort', orderable: false },
                     { targets: [0], 'render': function(data, type, row) {return '<input type="checkbox" name="' + data + '" class="checkbox" />';} },
                     { targets: [1], 'render': function(data, type, row) {return '<a href="devicePage?deviceid='+ row[0] +'">'+data+'</a>' ;} },
                     { targets: [3], 'render': function(data, type, row) {
                        if (row[2] == 'STAFF') {
                            return '<a href="staffPage?UserName='+data+'">'+data+'</a>';
                        }
                        else if (row[2] == 'STUDENT') {
                            return '<a href="studentPage?UserName='+data+'">'+data+'</a>';
                        }
                        else {
                            return '';
                        }
                     } },
                    ],

                "oLanguage": {
                    "sSearch": "Filter: ",
                    "sLengthMenu":"_MENU_ rows per page",
                    "sEmptyTable": "No users found",
                    "sInfo":"Showing _START_ to _END_ of _TOTAL_ rows",
                    "sInfoEmpty":"Showing 0 to 0 of 0 rows",
                    "sInfoFiltered":"(filtered from _MAX_ total rows)"},
                "bServerSide": true,
                "sAjaxSource": 'getDeviceList?unFiltered=${showRemoved}',
                "bFilter": true,
                "aLengthMenu": [[5, 10, 15, 25, 50, 100, -1], [5, 10, 15, 25, 50, 100, "All"]],
                "iDisplayLength": ${schoolkeeper.CONFIG['DISPLAYLENGTH']},
                "sPaginationType": "full_numbers",
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    $('td', nRow).eq(2).addClass('hidden');
                    $('td', nRow).eq(7).addClass('hidden');
                    $('td', nRow).eq(8).addClass('hidden');
                    return nRow;
                },
                "aaSorting": [[1, 'asc']],
            });
        $('.dataTables_filter input').attr("placeholder", "Results filter");
        $('a.toggle-vis').click(function (e) {
            e.preventDefault();
            var column = table.column( $(this).attr('data-column') );
            column.visible( ! column.visible() );
        } );
    });
  </script>
</%def>
