<%inherit file="base.html"/>
<%!
    import schoolkeeper, datetime
    from schoolkeeper import dbactions
%>
<%def name="headerIncludes()">
<div id="subhead_container" class="row">
    <div id="subhead_menu"  class="col-xs-12 col-md-8">
        % if 'Admin' in _session['access_level'] or 'SuperAdmin' in _session['access_level']:
        <a class="button btn btn-sm btn-primary" href="devicePage?deviceid=${id}&cmd=AssignDevice"><i class="fa fa-plus-circle"></i> Assign Device</a>
        <a class="button btn btn-sm btn-primary" href="devicePage?deviceid=${id}&cmd=Note"><i class="fa fa-comment"></i> Note</a>
        <a class="button btn btn-sm btn-primary" href="devicePage?deviceid=${id}&cmd=MoveDevice"><i class="fa fa-exchange"></i> Move Device</a>
        <a class="button btn btn-sm btn-primary" href="devicePage?deviceid=${id}&cmd=UploadAttachment"><i class="fa fa-upload"></i> Upload Attachment</a>
        % if device['ownerid']:
            <a class="button btn btn-sm btn-primary" href="devicePage?deviceid=${id}&cmd=UnassignDevice"><i class="fa fa-remove"></i> Unassign Device</a>
        % endif
        % if device['retired'] and int(device['retired']):
            <a class="button btn btn-sm btn-primary" href="devicePage?deviceid=${id}&cmd=RestoreDevice"><i class="fa fa-undo"></i> Restore Device</a>
        % else:
            <a class="button btn btn-sm btn-primary" href="devicePage?deviceid=${id}&cmd=RetireDevice"><i class="fa fa-trash"></i> Retire Device</a>
        % endif
        % endif
    </div>
    % if cmd and cmd == "Note":
    <div class="col-xs-12 col-md-4">
        <form action="noteDevice" method="post">
            <div class="form-group">
                % if 'Admin' in _session['access_level'] or 'SuperAdmin' in _session['access_level']:
                    <div class="input-group">
                        <input type="hidden" name="deviceid" value="${id}">
                        <input type="text" id="note" name="note" placeholder="Note" class="form-control input-sm col-xs-12">
                        <span class="input-group-btn">
                            <button type="submit" value="Note" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="bottom" title="Note"><i class="fa fa-comment"></i></button>
                        </span>
                    </div>
                % endif
            </div>
        </form>
    </div>
    % endif
    % if cmd and cmd == "MoveDevice":
    <div class="col-xs-12 col-md-4">
        <form action="deviceUpdate" method="post">
            <div class="form-group">
                % if 'Admin' in _session['access_level'] or 'SuperAdmin' in _session['access_level']:
                    <div class="input-group">
                        <input type="hidden" id="deviceid" name="deviceid" value="${id}">
                        <select id="locationid" name="locationid" placeholder="Location" class="form-control input-sm col-xs-12">
                            %for loc in data:
                                <option value="${loc['locationid']}">${loc['locationname']}</option>
                            %endfor
                        </select>
                        <span class="input-group-btn">
                            <button type="submit" value="Move" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="bottom" title="Move"><i class="fa fa-exchange"></i></button>
                        </span>
                    </div>
                % endif
            </div>
        </form>
    </div>
    % endif
    % if cmd and cmd == "AssignDevice" and not data:
    <div class="col-xs-12 col-md-4">
        <form action="devicePage" method="post">
            <div class="form-group">
                % if 'Admin' in _session['access_level'] or 'SuperAdmin' in _session['access_level']:
                    <div class="input-group">
                        <input type="hidden" id="deviceid" name="deviceid" value="${id}">
                        <input type="hidden" id="cmd" name="cmd" value="AssignDevice">
                        <input type="text" id="data" name="data" placeholder="Search for Person" class="form-control input-sm col-xs-12">
                        <span class="input-group-btn">
                            <button type="submit" value="Search" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="bottom" title="Search"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                % endif
            </div>
        </form>
    </div>
    % endif
    % if cmd and cmd == "UnassignDevice":
    <div class="col-xs-12 col-md-4">
        <form action="removeDevice" method="post">
            <div class="form-group">
                % if 'Admin' in _session['access_level'] or 'SuperAdmin' in _session['access_level']:
                    <div class="input-group col-xs-12">
                        <input type="hidden" id="deviceid" name="deviceid" value="${id}">
                        <input type="hidden" id="personid" name="personid" value="${device['ownerid']}">
                        <input type="hidden" id="redirect" name="redirect" value="device">
                        <div class="col-xs-12 col-md-6">
                            <input type="text" id="note" name="note" placeholder="Note" class="form-control">
                        </div>
                        <div class="col-xs-12 col-md-5">
                            <select id="locationid" name="locationid" placeholder="Location" class="form-control">
                                %for loc in data:
                                    <option value="${loc['locationid']}">${loc['locationname']}</option>
                                %endfor
                            </select>
                        </div>
                        <div class="col-xs-12 col-md-1">
                        <span class="input-group-btn">
                            <button type="submit" value="Search" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="bottom" title="UnAssign"><i class="fa fa-remove"></i></button>
                        </span>
                        </div>
                    </div>
                % endif
            </div>
        </form>
    </div>
    % endif
    % if cmd and cmd == "RetireDevice":
    <div class="col-xs-12 col-md-4">
        <form action="retireDevice" method="post">
            <div class="form-group">
                % if 'Admin' in _session['access_level'] or 'SuperAdmin' in _session['access_level']:
                    <div class="input-group">
                        <input type="hidden" id="deviceid" name="deviceid" value="${id}">
                        <input type="text" id="note" name="note" placeholder="Note (Optional)" class="form-control input-sm col-xs-12">
                        <span class="input-group-btn">
                            <button type="submit" value="Confirm" class="btn btn-sm btn-warning" data-toggle="tooltip" data-placement="bottom" title="Confirm Retire"><i class="fa fa-trash"></i> Retire</button>
                        </span>
                    </div>
                % endif
            </div>
        </form>
    </div>
    % endif
    % if cmd and cmd == "RestoreDevice":
    <div class="col-xs-12 col-md-4">
        <form action="restoreDevice" method="post">
            <div class="form-group">
                % if 'Admin' in _session['access_level'] or 'SuperAdmin' in _session['access_level']:
                    <div class="input-group">
                        <input type="hidden" id="deviceid" name="deviceid" value="${id}">
                        <input type="text" id="note" name="note" placeholder="Note (Optional)" class="form-control input-sm col-xs-12">
                        <span class="input-group-btn">
                            <button type="submit" value="Confirm" class="btn btn-sm btn-warning" data-toggle="tooltip" data-placement="bottom" title="Confirm Restore"><i class="fa fa-restore"></i> Restore</button>
                        </span>
                    </div>
                % endif
            </div>
        </form>
    </div>
    % endif
    % if cmd and cmd == "UploadAttachment":
    <div class="col-xs-12 col-md-4">
        <form action="uploadAttachment" method="post" enctype="multipart/form-data">
            <div class="form-group">
                % if 'Admin' in _session['access_level'] or 'SuperAdmin' in _session['access_level']:
                    <div class="input-group col-xs-12">
                        <input type="hidden" id="deviceid" name="deviceid" value="${id}">
                        <input type="hidden" id="personid" name="personid" value="${device['ownerid']}">
                        <input type="hidden" id="redirect" name="redirect" value="device">
                        % if owner:
                        <div class="col-xs-12">
                            <h5>
                                <input type="checkbox" id="includeowner" name="includeowner" checked/>
                                Attach to User as well?
                            </h5>
                        </div>
                        % endif
                        <div class="col-xs-12">
                            <input type="text" id="description" name="description" placeholder="Description" class="form-control">
                        </div>
                        <div class="col-xs-10">
                            <input type="file"  id="uploadfile" name="uploadfile" placeholder="Upload File" class="form-control">
                        </div>
                        <div class="col-xs-2">
                            <button type="submit" value="Upload" class="btn btn-sm btn-primary btn-lg btn-block" data-toggle="tooltip" data-placement="bottom" title="Upload Attachment"><i class="fa fa-upload"></i> </button>
                        </div>
                    </div>
                % endif
            </div>
        </form>
    </div>
    % endif


</div>
<script type="text/javascript">
</script>
</%def>

<%def name="body()">
% if msg:
    <div class="alert alert-info" style="text-align: center; padding: 8px;">
        ${msg}
    </div>
% endif
<div class="row">
    <ul class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="/devices">Devices</a></li>
        <li class="active">${DeviceDisplay}</li>
    </ul>
</div>
% if cmd and cmd=="AssignDevice" and data:
<div class="row">
    <a class="button btn btn-sm btn-danger" href="devicePage?deviceid=${id}">Cancel</a>
</div>
<div class="table-responsive">
    <table class="display table table-striped table-hover table-bordered" id="person_table">
        <thead>
        <tr>
            <th class="tag">Name</th>
            <th class="model">Type</th>
            <th class="note">Note</th>
        </tr>
        </thead>
        % for person in data:
                <tr>
                    <td>
                        ${person['Name']}
                    </td>
                    <td>${person['Type']}</td>
                    <%
                    devid = 'note_%s' % id
                    %>
                    <td>
                        <form action="assignDevice" method="post" class="form-inline">
                        <input type="hidden" name="${id}" value="${id}">
                        <input type="hidden" name="redirect" value="device">
                        <input type="hidden" name="personid" value="${person['ID']}">
                        <input type="text" name="${devid}" id="${devid}" placeholder="Note" class="form-control input-sm col-xs-12">
                        <input type="submit" class="btn btn-sm btn-primary" Value="Assign">
                        </form>
                    </td>
                </tr>
        % endfor
    </table>
</div>
% endif

<div class="row">
    <div class="col-md-4 col-sm-12">
        %if device:
        %if device['retired'] and int(device['retired']):
        <div id="device_data" class="panel panel-warning">
        %else:
        <div id="device_data" class="panel panel-primary">
        %endif:
            <div class="panel-heading"><h3 class="panel-title">Device Data</h3></div>
            <div class="panel-body">
                <h4>${device['tag']}
                    % if ('Admin' in _session['access_level'] or 'SuperAdmin' in _session['access_level']) and not editor:
                        <a href="devicePage?deviceid=${device['deviceid']}&edit=1">
                        <small><i>Edit</i></small></a>
                    % endif
                </h4>
                <h5><b>Serial Number:</b> ${device['serialnumber']}</h5>
                %if model:
                <h5><b>Model:</b> ${model['modelname']}</h5>
                <h5><b>Type:</b> ${model['modeltype']}</h5>
                %endif
                %if location:
                <h5><b>Location:</b> ${location['locationname']}</h5>
                %endif
                %if owner:
                <%
                    linktype = ''
                    if owner['id'][:3] == 'STA':
                        linktype = 'staffPage'
                    elif owner['id'][:3] == 'STU':
                        linktype = 'studentPage'
                %>
                <h5><b>Assigned To:</b> <a href="${linktype}?UserName=${owner['username']}">${owner['username']}</a></h5>
                %endif
                <h5><b>MAC Address:</b> ${device['mac']}</h5>
                <h5><b>AD Name:</b> ${device['adname']}</h5>
                %if device['notes']:
                    ${device['notes']}
                %endif
            </div>
        </div>
        % endif
    </div>
    <div class="col-md-4 col-sm-12">
        %if adData:
            %for adEntry in adData:
                <div id="ps_data" class="panel panel-primary">
                    <%
                    adtitle = "Active Directory Data"
                    if len(adData) > 1:
                        adtitle += " (Matched by tag only.  Set AD Name on Device Data for better matching)"
                    %>
                    <div class="panel-heading"><h3 class="panel-title">${adtitle}</h3></div>
                    <div class="panel-body">
                        <h5><b>Canonical Name:</b> ${adEntry['cn']}</h5>
                        <h5><b>Device Name:</b> ${adEntry['name']}</h5>
                        <h5><b>Machine Name:</b> ${adEntry['sAMAccountName']}</h5>
                        <h5><b>DNS Host Name:</b> ${adEntry['dNSHostName']}</h5>
                        %if adEntry['description']:
                            <h5><b>Description:</b> ${adEntry['description']}</h5>
                        %endif
                        <h5><b>LastAuthenticated:</b> ${adEntry['lastLogonTimestamp']}</h5>
                    </div>
                </div>
            %endfor
        %endif
    </div>
    %if editor:
    <div class="col-md-4 col-sm-12">
        <%include file="editdevice.html"/>
    </div>
    %else:
    <div class="col-md-4 col-sm-12">
        %if g_device:
            <div id="google_data" class="panel panel-primary">
                <%
                adtitle = "Google Data"
                %>
                <div class="panel-heading"><h3 class="panel-title">${adtitle}</h3></div>
                <div class="panel-body">
                    <h5><b>Asset ID:</b> ${g_device['annotatedAssetId']}</h5>
                    <h5><b>Device Model:</b> ${g_device['model']}</h5>
                    <h5><b>OS Version:</b> ${g_device['osVersion']}</h5>
                    <h5><b>Status:</b> ${g_device['status']}</h5>
                    <h5><b>Recent Users:</b></h5>
                    % if 'recentUsers' in g_device.keys():
                        %for entry in g_device['recentUsers']:
                            <h5>${entry['email']}</h5>
                        %endfor
                    % endif
                </div>
            </div>
    %endif

    </div>

    %endif
</div>
    %if len(attachments) > 0:
    <div class="row no-gutters">
        <div class='col-sm-12'>
                    <div id="device_attachments" class="panel panel-primary">
                        <div class="panel-heading"><h3 class="panel-title">Attachments</h3></div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="display table table-striped table-hover table-bordered" id="device_attachments">
                                    <thead>
                                    <tr>
                                        <th class="timestamp">TimeStamp</th>
                                        <th class="description">Description</th>
                                        <th class="action">Actions</th>
                                    </tr>
                                    </thead>
                                    %for entry in attachments:
                                    <tr>
                                        <td>${entry['timestamp']}</td>
                                        <td>${entry['description']}</td>
                                        <% filename = entry['filename'] %>
                                        <td><button type="submit" value="Upload" class="btn btn-sm btn-primary btn-sm btn-block" data-toggle="tooltip" data-placement="bottom" title="View Attachment" onclick="showAttachment('${filename}');"><i class="fa fa-image"></i> View</button></td>
                                    </tr>
                                    %endfor
                                </table>
                            </div>
                        </div>
                    </div>

        </div>
    </div>
    %endif
<div role="tab-table" class="hidden">
    <div>
        <ul class="nav nav-tabs" role="tablist" id="usertabs">
            <li role="presentation" id="1" aria-controls="history"><a role="tab" data-toggle="tab" aria-controls="history" href="#history">History</a></li>
        </ul>
            <div role="tabpanel" class="tab-pane" id="history">
                <div class="configtable">
                    <div class="row">
                        <div class="table-responsive">
                            <table class="display table table-striped table-hover table-bordered" id="activity_table">
                                <thead>
                                <tr>
                                    <th class="timestamp">TimeStamp</th>
                                    <th class="activitydate">Activity Date</th>
                                    <th class="activitydesc">Activity</th>
                                    <th class="username">By</th>
                                </tr>
                                </thead>
                            </table>
                        </div>

                    </div>
                </div>
            </div>

    </div>
</div>


</%def>

<%def name="javascriptIncludes()">
    <script type="text/javascript">
    function initThisPage()

    {
        "use strict";
        // when the page first loads, hide all tab headers and panels
        $("li[role='presentation']").attr("aria-selected", "false");
        $("li[role='presentation']").removeClass('active');
        $("div[role='tabpanel']").attr("aria-hidden", "true");
        $("div[role='tabpanel']").removeClass('active');
        // which one do we want to show
        var tabnum = $("#current_tab").val();
        var tabid = $("#" + tabnum);
        var tabpanel = tabid.attr('aria-controls');
        var tabpanelid = $("#" + tabpanel);
        // show the tab header and panel we want
        tabpanelid.attr("aria-hidden", "false");
        tabpanelid.addClass('active');
        tabid.attr("aria-selected", "true");
        tabid.addClass('active');
        $("div[role='tab-table']").removeClass('hidden');

        // when a tab is clicked
        $("li[role='presentation']").click(function(){
            var tabnum = $(this).attr('id');    // store current tab for python
            $("#current_tab").val(tabnum);
        });


    } // End Init

    $(document).ready(function() {
        initThisPage();
    });
  </script>
    <script type="text/javascript">
    $(document).ready(function()
    {
        var oTable = $('#activity_table').DataTable(
            {
                "order": [[ 0, 'desc' ]],
                "bAutoWidth": false,
                "stateSave": true,
                "columnDefs":[
                    { targets: 'no-sort', orderable: false },
                    { targets: [0], 'render': function(data, type, row) {
                        return data ;} },
                    { targets: [1], 'render': function(data, type, row) {
                        return data ;} },
                    { targets: [2], 'render': function(data, type, row) {
                        return data ;} },
                    { targets: [3], 'render': function(data, type, row) {
                        return data ;} }
                    ],
                "oLanguage": {
                    "sSearch": "Filter: ",
                    "sLengthMenu":"_MENU_ rows per page",
                    "sEmptyTable": "No history found",
                    "sInfo":"Showing _START_ to _END_ of _TOTAL_ rows",
                    "sInfoEmpty":"Showing 0 to 0 of 0 rows",
                    "sInfoFiltered":"(filtered from _MAX_ total rows)"},
                "sPaginationType": "full_numbers",
                "aaSorting": [[0, 'desc']],
                "bServerSide": true,
                "sAjaxSource": 'getActivity?source=device&deviceid=${id}',
                "bFilter": true,
                "aLengthMenu": [[5, 10, 15, 25, 50, 100, -1], [5, 10, 15, 25, 50, 100, "All"]],
                "iDisplayLength": ${schoolkeeper.CONFIG['DISPLAYLENGTH']},
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    $('td', nRow).eq(0).addClass('text-center');
                    return nRow;
                },
            });
        $('.dataTables_filter input').attr("placeholder", "Results Filter");
        //$(window).resize(function() {oTable.draw(false)});
        $('a.toggle-vis').click(function (e) {
            e.preventDefault();
            var column = oTable.column( $(this).attr('data-column') );
            column.visible( ! column.visible() );
        } );
    });

    </script>
</%def>
