<%inherit file="base.html"/>
<%!
    import schoolkeeper
%>
<%def name="headerIncludes()">
    <div id="subhead_container">
        <div id="subhead_menu">
        </div>
    </div>
</%def>
<%def name="body()">
<form action="userUpdate" method="post">
    <div class="configtable">
        % if msg:
        <div class="alert alert-danger" style="text-align: center; padding: 8px;">
            ${msg}
        </div>
        % endif
        <fieldset>
            <legend>${title}</legend>
            <div class="form-group">
                <input type="text" id="userid" name="userid" value="${config['userid']}" class="hidden">
            </div>
            <div class="form_group">
                <label for="interface" class="control-label">Theme:</label>
                <select name="interface" id="interface" class="form-control">
                    %for theme in themelist:
                    <%
                    if theme == config['interface']:
                        selected = 'selected="selected"'
                    else:
                        selected = ''
                    %>
                    <option value="${theme}" ${selected}>${theme}</option>
                    %endfor
                </select>

                                <label for="interfacelook" class="control-label">Bootstrap Theme:</label>
                <select name="interfacelook" id="interfacelook" class="form-control">
                    %for bootstrap_theme in schoolkeeper.BOOTSTRAP_THEMELIST:
                    <%
                    if bootstrap_theme == config['interfacelook']:
                        selected = 'selected="selected"'
                    else:
                        selected = ''
                    %>
                    <option value="${bootstrap_theme}" ${selected}>${bootstrap_theme}</option>
                    %endfor
                </select>

                <label for="bootstrap4look" class="control-label">Bootstrap 4 Theme:</label>
                <select name="bootstrap4look" id="bootstrap4look" class="form-control">
                    %for bootstrap_theme in schoolkeeper.BOOTSTRAP4_THEMELIST:
                    <%
                    if bootstrap_theme == config['bootstrap4look']:
                        selected = 'selected="selected"'
                    else:
                        selected = ''
                    %>
                    <option value="${bootstrap_theme}" ${selected}>${bootstrap_theme}</option>
                    %endfor
                </select>
                &nbsp;
            </div>
        </fieldset>
        <div class="table_wrapper_button">
        <input type="submit" value="Save changes" id="add" class="btn btn-primary">
        </div>
        <p>&nbsp;</p>
    </div>
</form>
</%def>
