<%inherit file="base.html"/>
<%!
    import schoolkeeper
%>
<%def name="headerIncludes()">
<%
    teacher_with_homeroom = 0
%>
<% for item in schedule:
    if item['classname'] == 'AM Attendance':
        teacher_with_homeroom = 1
%>
    <div id="subhead_container" class="row">
        <div id="subhead_menu"  class="col-xs-12 col-md-8">
            % if 'SuperAdmin' in _session['access_level']:
                <a class="button btn btn-sm btn-primary" href="dataUtils?action=UpdateADStudents" data-toggle="tooltip" data-placement="bottom" title="Update the AD Student Database.  This can take several minutes"><i class="fa fa-refresh"></i> AD Students</a>
                <a class="button btn btn-sm btn-primary" href="dataUtils?action=UpdatePSStudents" data-toggle="tooltip" data-placement="bottom" title="Update the PS Student Database.  This can take several minutes"><i class="fa fa-refresh"></i> PS Students</a>
                <a class="button btn btn-sm btn-primary" href="dataUtils?action=UpdateADStaff" data-toggle="tooltip" data-placement="bottom" title="Update the AD Staff Database.  This can take several minutes"><i class="fa fa-refresh"></i> AD Staff</a>
                <a class="button btn btn-sm btn-primary" href="dataUtils?action=UpdatePSStaff" data-toggle="tooltip" data-placement="bottom" title="Update the PS Staff Database.  This can take several minutes"><i class="fa fa-refresh"></i> PS Staff</a>
                <a class="button btn btn-sm btn-primary" href="dataUtils?action=UpdateClasses" data-toggle="tooltip" data-placement="bottom" title="Update Class Data"><i class="fa fa-refresh"></i> Class Data</a>
                <a class="button btn btn-sm btn-primary" href="dataUtils?action=UpdateSchedules" data-toggle="tooltip" data-placement="bottom" title="Update Schedule Data"><i class="fa fa-refresh"></i> Schedule Data</a>
                <a class="button btn btn-sm btn-primary" href="dataUtils?action=CreateKindergartenUsers" data-toggle="tooltip" data-placement="bottom" title="Create Kindergerten Users"><i class="fa fa-user-plus"></i> Create Kindergarten Users</a>
            % endif
            % if 'Admin' in _session['access_level']:
                <button class="button btn btn-sm btn-primary" type="button" value="New Student Check" id="new_StudentCheck"><i class="fa fa-list-ul"></i> Check For New Students
                    %if newstudents:
                    <span class="badge">${newstudents}</span>
                    %endif
                </button>
                <button class="button btn btn-sm btn-primary" type="button" value="New Staff Check" id="new_StaffCheck"><i class="fa fa-list-ul"></i> Check For New Staff
                    %if newstaff:
                    <span class="badge">${newstaff}</span>
                    %endif
                </button>
            % endif
            % if 'Password' in _session['access_level']:
                <a class="button btn btn-sm btn-primary" href="resetpassword" data-toggle="tooltip" data-placement="bottom" title="Change your password"><i class="fa fa-refresh"></i> Change Password</a>
            % endif
            % if 'Teacher' in _session['access_level'] and teacher_with_homeroom:
                <a class="button btn btn-sm btn-primary" href="getStudentLists?classname=AM%20Attendance&staffid=${userperson['identifier']}" data-toggle="tooltip" data-placement="bottom" title="Download a CSV file of your students"><i class="fa fa-file-text"></i> Download Student List</a>
            % endif
        </div>
        <div class="clearfix visible-xs"><hr/></div>
        <div class="col-xs-12 col-md-4">
            <form action="search" method="get">
                <div class="form-group">
                    <label class="sr-only">Search</label>
                    % if 'Staff' in _session['access_level'] or 'Admin' in _session['access_level']:
                        <div class="input-group">
                            <input type="text"  id="name" name="name" placeholder="Student / Staff / Device" name="title" class="form-control input-sm col-xs-12">
                            <!--input type="text" class="form-control input-sm col-xs-12" value="" onfocus="if(this.value==this.defaultValue) this.value='';" name="name" placeholder="Title / Author / ISBN" id="searchbox" name="searchbox"-->
                            <span class="input-group-btn">
                                <button type="submit" value="Book" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="bottom" title="Search"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    % endif
                </div>
            </form>
        </div>
    </div>
</%def>
<%def name="body()">
% if msg:
    <div class="alert alert-info" style="text-align: center; padding: 8px;">
        ${msg}
    </div>
% endif
<h1>${title}</h1>
%if len(schedule) > 0:
<div class="row">
        <div class="col-md-12">
            <div id="ps_data" class="panel panel-primary">
                <div class="panel-heading"><h3 class="panel-title">My Schedule</h3></div>
                <div class="panel-body">

                    <table class="display table table-striped table-hover table-bordered" id="schedule_table">
                        <thead>
                        <tr>
                            <th class="Period">Period</th>
                            <th class="Class">Class</th>
                            <th class="Room">Room</th>
                            <th class="Term">Term</th>
                        </tr>
                        </thead>
                        % for entry in schedule:
                        <tr>
                            <td>${entry['period']}</td>
                            <td>${entry['classname']}</td>
                            <td>${entry['room']}</td>
                            <td>${entry['term']}</td>
                        </tr>
                        % endfor
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
%endif
% if 'Admin' in _session['access_level']:
<div class="col-xs-12 col-md-6">
    <div class="panel panel-primary">
        <div class="panel-heading"><h3 class="panel-title">Devices per Building</h3></div>
            <div class="panel-body">
            ${graph['building']}
            </div>
    </div>
</div>
<div class="col-xs-12 col-md-6">
    <div class="panel panel-primary">
        <div class="panel-heading"><h3 class="panel-title">Devices by Type</h3></div>
            <div class="panel-body">
            ${graph['modeltype']}
            </div>
    </div>
</div>
% endif
</%def>
<%def name="javascriptIncludes()">
  <script type="text/javascript">
    function initThisPage()
    {
        "use strict";

        $('#new_StudentCheck').on('click', function (e) {
            $.get('showNewStudents', function (data) {
                bootbox.dialog({
                    title: 'New Students',
                    message: '<pre>' + data + '</pre>',
                    buttons: {
                        primary: {
                            label: "Close",
                            className: 'btn-primary'
                        }
                    }
                });
            });
        });
        $('#new_StaffCheck').on('click', function (e) {
            $.get('showNewStaff', function (data) {
                bootbox.dialog({
                    title: 'New Staff',
                    message: '<pre>' + data + '</pre>',
                    buttons: {
                        primary: {
                            label: "Close",
                            className: 'btn-primary'
                        }
                    }
                });
            });
        });
    }
    $(document).ready(function()
    {
        initThisPage();
    });
  </script>

</%def>
