<%inherit file="base.html"/>
<%!
    import schoolkeeper
%>
<%def name="headerIncludes()">
    <div id="subhead_container" class="row">
        <div class="clearfix visible-xs"><hr/></div>
        <div class="col-xs-12 col-md-4">
            % if 'Admin' in _session['access_level'] or 'SuperAdmin' in _session['access_level']:
            <a class="button btn btn-sm btn-primary" href="locations?EditLocation=-1" data-toggle="tooltip" data-placement="bottom" title="Add a new Location to SchoolKeeper"><i class="fa fa-plus"></i> Add Location</a>
            % endif
        </div>
    </div>
</%def>
<%def name="body()">
% if msg:
    <div class="alert alert-info" style="text-align: center; padding: 8px;">
        ${msg}
    </div>
% endif
<h1>${title}</h1>
<div class="table-responsive">
    <div class="col-md-6 col-xs-12">
        <table class="display table table-striped table-hover table-bordered" id="location-table">
            <thead>
                <tr>
                    <th class="username col-xs-1">Location ID</th>
                    <th class="lastname col-xs-4">Location Name</th>
                    <th class="firstname col-xs-1">Building ID</th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="col-md-6 col-xs-12">
        <form action="locationUpdate" method="post">
            <div id="location_editor" class="panel panel-primary">
                %if location and ('Admin' in _session['access_level'] or 'SuperAdmin' in _session['access_level']):
                <div class="panel-heading"><h3 class="panel-title">Edit Location</h3></div>
                <div class="panel-body">
                    <fieldset>
                        <div class="col-xs-12">
                            <label for="schoolid" class="control-label">Location ID:</label>
                            <input type="number" id="locationid" name="locationid" value="${location['locationid']}" class="form-control">
                        </div>
                        <div class="col-xs-12">
                            <label for="locationname" class="control-label">Location Name:</label>
                            <input type="text" id="locationname" name="locationname" value="${location['locationname']}" class="form-control">
                        </div>
                        <div class="col-xs-12">
                            <label for="schoolid" class="control-label">School:</label>
                            <select id="schoolid" name="schoolid" placeholder="schoolid" class="form-control input-sm col-xs-12">
                                %for school in schools:
                                <%
                                    if school['schoolid'] == location['schoolid']:
                                        selected = 'selected="selected"'
                                    else:
                                        selected = ''
                                %>

                                    <option value="${school['schoolid']}" ${selected}>${school['schoolabbrev']}</option>
                                %endfor
                            </select>

                        </div>
                    </fieldset>
                    <div class="table_wrapper_button col-xs-12">
                        <input type="submit" value="Save changes" id="add" class="btn btn-primary">
                    </div>
                </div>
                %endif
            </div>
        </form>
    </div>
</div>
</%def>
<%def name="javascriptIncludes()">
  <script type="text/javascript">
    $(document).ready(function()
    {
        var table = $('#location-table').DataTable(
            {
                "responsive": true,
                "bAutoWidth": false,
                "stateSave": true,
                "order": [[ 0, 'asc']],
                "columnDefs":
                    [{ targets: 'no-sort', orderable: false },
                     { targets: [0], 'render': function(data, type, row) {
                       return '<a href="locations?EditLocation='+data+'">'+data+'</a>' ;} },
                    ],
                "oLanguage": {
                    "sSearch": "Filter: ",
                    "sLengthMenu":"_MENU_ rows per page",
                    "sEmptyTable": "No locations found",
                    "sInfo":"Showing _START_ to _END_ of _TOTAL_ rows",
                    "sInfoEmpty":"Showing 0 to 0 of 0 rows",
                    "sInfoFiltered":"(filtered from _MAX_ total rows)"},
                "bServerSide": true,
                "sAjaxSource": 'getLocationList',
                "bFilter": true,
                "aLengthMenu": [[5, 10, 15, 25, 50, 100, -1], [5, 10, 15, 25, 50, 100, "All"]],
                "iDisplayLength": ${schoolkeeper.CONFIG['DISPLAYLENGTH']},
                "sPaginationType": "full_numbers",
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    <!--$('td', nRow).eq(1).addClass('text-center');-->
                    <!--$('td', nRow).eq(2).addClass('text-center');-->
                    return nRow;
                },
                "aaSorting": [[0, 'asc']],
            });
        $('.dataTables_filter input').attr("placeholder", "Results filter");
        $('a.toggle-vis').click(function (e) {
            e.preventDefault();
            var column = table.column( $(this).attr('data-column') );
            column.visible( ! column.visible() );
        } );
    });
  </script>
</%def>
