<%inherit file="base.html"/>
  <%def name="headIncludes()">
  </%def>
  <%def name="body()">
    <div class="row">
        % if msg:
            <div class="alert alert-${type}" style="text-align: center; padding: 8px;">
                <h3>${title}</h3>
                <h4>${msg}</h4>
            </div>
        % endif
    </div>
  </%def>