<%inherit file="base.html"/>
<%!
    import schoolkeeper
%>
<%def name="body()">
    <BR><BR>
    <h1>&nbsp;${title}</h1>
   <div class="row">
        <div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <form action="${http_root}changepass" method="post">
                        % if msg:
                        <div class="alert alert-danger" style="text-align: center; padding: 8px;">
                            ${msg}
                        </div>
                        % endif
                        <div class="form-group">
                            <label for="oldpass" class="control-label">
                                Old Password
                            </label>
                            <input type="password" id="oldpass" name="oldpass" class="form-control" autocorrect="off" autocapitalize="off" value="" autofocus>
                        </div>
                        <div class="form-group">
                            <label for="newpass" class="control-label">
                                New Password
                            </label>
                            <input type="password" id="newpass" name="newpass" class="form-control" autocorrect="off" autocapitalize="off" value="" autofocus>
                        </div>
                        <div class="form-group">
                            <label for="confirmpass" class="control-label">
                                Retype New Password
                            </label>
                            <input type="password" id="confirmpass" name="confirmpass" class="form-control" autocorrect="off" autocapitalize="off" value="" autofocus>
                        </div>
                            <button type="submit" class="btn btn-bright login-button"><i class="fa fa-sign-in"></i>&nbsp; Change Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
   </div>

</%def>