<%inherit file="base.html"/>
<%!
    import schoolkeeper
%>
<%def name="headerIncludes()">
    <div id="subhead_container" class="row">
        <div class="clearfix visible-xs"><hr/></div>
        <div class="col-xs-12 col-md-4">
            % if 'Admin' in _session['access_level'] or 'SuperAdmin' in _session['access_level']:
            <a class="button btn btn-sm btn-primary" href="schools?EditSchool=-1" data-toggle="tooltip" data-placement="bottom" title="Add a new School to SchoolKeeper"><i class="fa fa-plus"></i> Add School</a>
            % endif
        </div>
    </div>
</%def>
<%def name="body()">
% if msg:
    <div class="alert alert-info" style="text-align: center; padding: 8px;">
        ${msg}
    </div>
% endif
<h1>${title}</h1>
<div class="table-responsive">
    <div class="col-md-6 col-xs-12">
        <table class="display table table-striped table-hover table-bordered" id="school-table">
            <thead>
                <tr>
                    <th class="username col-xs-1">School ID</th>
                    <th class="lastname col-xs-4">School Name</th>
                    <th class="firstname col-xs-1">School Abbreviation</th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="col-md-6 col-xs-12">
        <form action="schoolUpdate" method="post">
            <div id="school_editor" class="panel panel-primary">
                %if school and ('Admin' in _session['access_level'] or 'SuperAdmin' in _session['access_level']):
                <div class="panel-heading"><h3 class="panel-title">Edit School</h3></div>
                <div class="panel-body">
                    <fieldset>
                        <div class="col-xs-12">
                            <label for="schoolid" class="control-label">School ID:</label>
                            <input type="number" id="schoolid" name="schoolid" value="${school['schoolid']}" class="form-control">
                        </div>
                        <div class="col-xs-12">
                            <label for="schoolname" class="control-label">School Name:</label>
                            <input type="text" id="schoolname" name="schoolname" value="${school['schoolname']}" class="form-control">
                        </div>
                        <div class="col-xs-12">
                            <label for="schoolid" class="control-label">School Abbreviation:</label>
                            <input type="text" id="schoolabbrev" name="schoolabbrev" value="${school['schoolabbrev']}" class="form-control">
                        </div>
                        <div class="col-xs-12">
                            <label for="pearsonid" class="control-label">Pearson SuccessNet ID:</label>
                            <input type="text" id="pearsonid" name="pearsonid" value="${school['pearsonid']}" class="form-control">
                        </div>
                        <div class="col-xs-12">
                            <label for="pearsonpassword" class="control-label">Pearson SuccessNet Password:</label>
                            <input type="text" id="pearsonpassword" name="pearsonpassword" value="${school['pearsonpassword']}" class="form-control">
                        </div>
                    </fieldset>
                    <div class="table_wrapper_button col-xs-12">
                        <input type="submit" value="Save changes" id="add" class="btn btn-primary">
                    </div>
                </div>
                %endif
            </div>
        </form>
    </div>
</div>
</%def>
<%def name="javascriptIncludes()">
  <script type="text/javascript">
    $(document).ready(function()
    {
        var table = $('#school-table').DataTable(
            {
                "responsive": true,
                "bAutoWidth": false,
                "stateSave": true,
                "order": [[ 0, 'asc']],
                "columnDefs":
                    [{ targets: 'no-sort', orderable: false },
                     { targets: [0], 'render': function(data, type, row) {
                       return '<a href="schools?EditSchool='+data+'">'+data+'</a>' ;} },
                    ],
                "oLanguage": {
                    "sSearch": "Filter: ",
                    "sLengthMenu":"_MENU_ rows per page",
                    "sEmptyTable": "No users found",
                    "sInfo":"Showing _START_ to _END_ of _TOTAL_ rows",
                    "sInfoEmpty":"Showing 0 to 0 of 0 rows",
                    "sInfoFiltered":"(filtered from _MAX_ total rows)"},
                "bServerSide": true,
                "sAjaxSource": 'getSchoolList',
                "bFilter": true,
                "aLengthMenu": [[5, 10, 15, 25, 50, 100, -1], [5, 10, 15, 25, 50, 100, "All"]],
                "iDisplayLength": ${schoolkeeper.CONFIG['DISPLAYLENGTH']},
                "sPaginationType": "full_numbers",
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    <!--$('td', nRow).eq(1).addClass('text-center');-->
                    <!--$('td', nRow).eq(2).addClass('text-center');-->
                    return nRow;
                },
                "aaSorting": [[0, 'asc']],
            });
        $('.dataTables_filter input').attr("placeholder", "Results filter");
        $('a.toggle-vis').click(function (e) {
            e.preventDefault();
            var column = table.column( $(this).attr('data-column') );
            column.visible( ! column.visible() );
        } );
    });
  </script>
</%def>
