<%inherit file="base.html"/>
<%!
    import schoolkeeper
%>
<%def name="headerIncludes()">
    <div id="subhead_container" class="row">
      <form action="search" method="get">
        <div id="subhead_menu"  class="col-xs-12 col-md-8">
        </div>
        <div class="clearfix visible-xs"><hr/></div>
        <div class="col-xs-12 col-md-4">
        <div class="form-group">
          <label class="sr-only">Search</label>
          <div class="input-group">
            <input type="text" class="form-control deletable input-sm col-xs-12" value="" onfocus="if(this.value==this.defaultValue) this.value='';" name="name" placeholder="Staff / Student / Device" id="name" name="name">
            <span class="input-group-btn">
              <button type="submit" value="Book" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="bottom" title="Search for book"><i class="fa fa-search"></i></button>
            </span>
          </div>
        </div>
        </div>
      </form>
    </div>
</%def>
<%def name="body()">
<div class="row">
    <ul class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li class="active">Search Results</li>
    </ul>
</div>

<h1>${title}</h1>

<div class="table-responsive">
    <table class="display table table-striped table-hover table-bordered" id="results_table">
        <thead>
            <tr>
                <th class="type text-center col-xs-2">Type</th>
                <th class="result">Search Result</th>
             </tr>
        </thead>
        <tbody>
            %if resultlist:
                %for result in resultlist:
                <tr>
                    <td class="type text-center">${result['Type']}</td>
                    <td class="result"><a href="${result['URL']}">${result['Name']}</a></td>
                </tr>
                % endfor
            %endif
        </tbody>
    </table>
</div>
<p>&nbsp;</p>
</%def>

<%def name="javascriptIncludes()">
  <script type="text/javascript">
    $(document).ready(function()
    {
        $('#results_table').dataTable(
            {
                "responsive": true,
                "order": [[ 1, 'desc' ]],
                "aoColumns": [
                    null,
                    null
                    ],
                "columnDefs":
                    [{ targets: 'no-sort', orderable: false }]
                ,
                "oLanguage": {
                    "sSearch": "Filter: ",
                    "sLengthMenu":"Show _MENU_ results per page",
                    "sEmptyTable": "No results found",
                    "sInfo":"Showing _START_ to _END_ of _TOTAL_ results",
                    "sInfoEmpty":"Showing 0 to 0 of 0 results",
                    "sInfoFiltered":"(filtered from _MAX_ total results)"},
                "iDisplayLength": ${schoolkeeper.CONFIG['DISPLAYLENGTH']},
                "sPaginationType": "full_numbers",
            });
        $('.dataTables_filter input').attr("placeholder", "Search table here");
    });
  </script>
</%def>

