<%inherit file="base.html"/>
<%!
    import schoolkeeper
%>
<%def name="headerIncludes()">
    <div id="subhead_container" class="row">
        <div id="subhead_menu"  class="col-xs-12 col-md-8">
            % if 'Admin' in _session['access_level']:
            <a class="button btn btn-sm btn-primary" href="staff?cmd=ImportPics"><i class="fa fa-upload"></i> Import Pictures</a>
            <a class="button btn btn-sm btn-warning" data-toggle="tooltip" data-placement="bottom" title="Import all files in the imports folder.  Be careful with this one." href="pictureImport?redirect=staff"><i class="fa fa-upload"></i> Import Pictures Directly</a>
            <a class="button btn btn-sm btn-primary" href="pictureExport?redirect=staff&type=STA"><i class="fa fa-download"></i> Export All Staff Pictures</a>

            % endif
        </div>
        <div class="clearfix visible-xs"><hr/></div>
        % if cmd and cmd == "ImportPics":
        <div class="col-xs-12 col-md-4">
            <div class="form-group">
                <label class="sr-only">Import Pictures</label>
                % if 'Admin' in _session['access_level'] or 'SuperAdmin' in _session['access_level']:
                    <form action="staff" method="post" enctype="multipart/form-data">
                        <div class="input-group">
                            <input type="hidden" id="cmd" name="cmd" value="ImportPics">
                            <input type="file"  id="importfile" name="importfile" placeholder="Upload File" class="form-control input-sm col-xs-12">
                            <span class="input-group-btn">
                                <button type="submit" value="StaffPics" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="bottom" title="Import"><i class="fa fa-plus"></i></button>
                            </span>
                        </div>
                    </form>
                % endif
            </div>
        </div>
        % else:
        <div class="col-xs-12 col-md-4">
            <form action="search" method="get">
                <div class="form-group">
                    <label class="sr-only">Search</label>
                    % if 'Staff' in _session['access_level'] or 'Admin' in _session['access_level']:
                        <div class="input-group">
                            <input type="text"  id="name" name="name" placeholder="Student / Staff / Device" name="title" class="form-control input-sm col-xs-12">
                            <!--input type="text" class="form-control input-sm col-xs-12" value="" onfocus="if(this.value==this.defaultValue) this.value='';" name="name" placeholder="Title / Author / ISBN" id="searchbox" name="searchbox"-->
                            <span class="input-group-btn">
                                <button type="submit" value="Book" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="bottom" title="Search"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    % endif
                </div>
            </form>
        </div>
        %endif
    </div>
</%def>
<%def name="body()">
% if msg:
    <div class="alert alert-info" style="text-align: center; padding: 8px;">
        ${msg}
    </div>
% endif
% if csvdict and ('Admin' in _session['access_level']):
    <div id="device_import" class="panel panel-primary col-xs-12">
        <div class="panel-heading"><h3 class="panel-title">Import Staff Pictures</h3></div>
        <td class="panel-body">
            <form action="pictureImport" method="post">
                <div class="col-xs-12">
                    <input type="hidden" id="redirect" name="redirect" value="staff">
                    <div class="col-xs-4"><label for="firstline">First Line:</label><input type="number" placeholder="First Line" id="firstline" name="firstline" value="0"></div>
                    <div class="col-xs-4"><label for="lastline">Last Line:</label><input type="number" placeholder="Last Line" id="lastline" name="lastline" value="${csvdict['lines']-1}"></div>
                    <div class="col-xs-4"><input type="submit" value="Import"><input type="hidden" id="filehash" name="filehash" value="${filehash}"></div>
                </div>
                <div class="col-xs-12">
                    <table class="display table table-striped table-hover table-bordered table-responsive table-condensed" id="school-table">
                        <thead>
                            <th></th>
                            % for index in xrange(0, len(csvdict['csvlist'][0])):
                            <th><select id="col_${index}" name="col_${index}">
                                % for dest in schoolkeeper.PICTURE_IMPORT_DESTINATIONS:
                                    <option value="${dest['destination']}">${dest['description']}</option>
                                % endfor
                            </select></th>
                         % endfor
                        </thead>
                    <%
                        linenum = 0
                    %>
                    % for item in csvdict['csvlist']:
                        <tr>
                            <td>${linenum}</td>
                        % for col in item:
                            <td>${col}</td>
                        % endfor
                        </tr>
                            <%
                            linenum += 1
                            %>
                    % endfor
                        </table>
                </div>
            </form>
        </div>
    </div>
% endif
<h1>${title}</h1>
<div class="table-responsive">
    <table class="display table table-striped table-hover table-bordered" id="staff-table">
        <thead>
            <tr>
                <th class="lastname col-xs-2">Last Name</th>
                <th class="firstname col-xs-2">First Name</th>
                <th class="username col-xs-2">User Name</th>
                <th class="id col-xs-1">ID</th>
                <th class="title col-xs-1">Title</th>
                <th class="distinguishedname col-xs-2">Distinguished Name</th>
                <th class="schoolabbrev col-xs-1">School</th>
            </tr>
        </thead>
    </table>
</div>
</%def>
<%def name="javascriptIncludes()">
  <script type="text/javascript">
    $(document).ready(function()
    {
        var table = $('#staff-table').DataTable(
            {
                "responsive": true,
                "bAutoWidth": false,
                "stateSave": true,
                "order": [[ 0, 'asc']],
                "columnDefs":
                    [{ targets: 'no-sort', orderable: false },
                     { targets: [2], 'render': function(data, type, row) {
                       return '<a href="staffPage?UserName='+data+'">'+data+'</a>' ;} },
                    ],
                "oLanguage": {
                    "sSearch": "Filter: ",
                    "sLengthMenu":"_MENU_ rows per page",
                    "sEmptyTable": "No users found",
                    "sInfo":"Showing _START_ to _END_ of _TOTAL_ rows",
                    "sInfoEmpty":"Showing 0 to 0 of 0 rows",
                    "sInfoFiltered":"(filtered from _MAX_ total rows)"},
                "bServerSide": true,
                "sAjaxSource": 'getStaffList?showHidden=${showHidden}&showRemoved=${showRemoved}',
                "bFilter": true,
                "aLengthMenu": [[5, 10, 15, 25, 50, 100, -1], [5, 10, 15, 25, 50, 100, "All"]],
                "iDisplayLength": ${schoolkeeper.CONFIG['DISPLAYLENGTH']},
                "sPaginationType": "full_numbers",
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    <!--$('td', nRow).eq(1).addClass('text-center');-->
                    <!--$('td', nRow).eq(2).addClass('text-center');-->
                    return nRow;
                },
                "aaSorting": [[0, 'asc']],
            });
        $('.dataTables_filter input').attr("placeholder", "Results filter");
        $('a.toggle-vis').click(function (e) {
            e.preventDefault();
            var column = table.column( $(this).attr('data-column') );
            column.visible( ! column.visible() );
        } );
    });
  </script>
</%def>
