<%inherit file="base.html"/>
<%!
    import schoolkeeper, datetime
    from schoolkeeper import dbactions
    import os
    import time
%>
<%def name="headerIncludes()">
<div id="subhead_container" class="row">
    <div id="subhead_menu"  class="col-xs-12 col-md-8">
        % if 'Admin' in _session['access_level'] or 'SuperAdmin' in _session['access_level']:
        <%
        if ps_student:
            this_student = "StudentID=%s" % ps_student['studentid']
        else:
            this_student = "UserName=%s" % ad_student['sAMAccountName']
        %>
        <a class="button btn btn-sm btn-primary" href="studentPage?${this_student}&cmd=Note"><i class="fa fa-comment"></i> Note</a>
        <a class="button btn btn-sm btn-primary" href="studentPage?${this_student}&cmd=Move"><i class="fa fa-exchange"></i> Move</a>
        <a class="button btn btn-sm btn-primary" href="studentPage?${this_student}&cmd=AddGroup"><i class="fa fa-plus-circle"></i> Add Email Group</a>
        % if not ad_student:
        <a class="button btn btn-sm btn-primary" href="studentPage?${this_student}&cmd=CreateUser"><i class="fa fa-plus"></i> Create AD/Google Account</a>
        % else:
        <a class="button btn btn-sm btn-primary" href="studentPage?${this_student}&cmd=ResetPassword"><i class="fa fa-key"></i> Reset Password</a>
        % endif
        <a class="button btn btn-sm btn-primary" href="studentPage?${this_student}&cmd=AddDevice"><i class="fa fa-plus-circle"></i> Assign Device</a>
        <a class="button btn btn-sm btn-primary" href="studentPage?${this_student}&cmd=UploadImage"><i class="fa fa-file-image-o"></i> Upload Image</a>
        % endif
    </div>
    % if cmd and cmd == "Move":
    <div class="col-xs-12 col-md-4">
        <form action="movePerson" method="post">
            <div class="form-group">
                % if 'Admin' in _session['access_level'] or 'SuperAdmin' in _session['access_level']:
                    <div class="input-group">
                        <input type="hidden" name="personid" value="${id}">
                        <select id="location" name="location" placeholder="Location" class="form-control input-sm col-xs-12">
                            %for loc in locations:
                                <option value="${loc['dn']}">${loc['name']}</option>
                            %endfor
                        </select>
                        <span class="input-group-btn">
                            <button type="submit" value="Move" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="bottom" title="Move"><i class="fa fa-exchange"></i></button>
                        </span>
                    </div>
                % endif
            </div>
        </form>
    </div>
    % endif
    % if cmd and cmd == "Note":
    <div class="col-xs-12 col-md-4">
        <form action="notePerson" method="post">
            <div class="form-group">
                % if 'Admin' in _session['access_level'] or 'SuperAdmin' in _session['access_level']:
                    <div class="input-group">
                        <input type="hidden" name="personid" value="${id}">
                        <input type="text" id="note" name="note" placeholder="Note" class="form-control input-sm col-xs-12">
                        <span class="input-group-btn">
                            <button type="submit" value="Move" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="bottom" title="Add Note"><i class="fa fa-comment"></i></button>
                        </span>
                    </div>
                % endif
            </div>
        </form>
    </div>
    % endif
    % if cmd and cmd == "AddGroup":
    <div class="col-xs-12 col-md-4">
        <form action="addGoogleGroup" method="post">
            <div class="form-group">
                % if 'Admin' in _session['access_level'] or 'SuperAdmin' in _session['access_level']:
                    <div class="input-group">
                        <input type="hidden" name="personid" value="${id}">
                        <select id="group" name="group" class="form-control input-sm col-xs-12">
                            %for group in grouplist:
                                <option value="${group}">${group}</option>
                            %endfor
                        </select>
                        <!--input type="text" class="form-control input-sm col-xs-12" value="" onfocus="if(this.value==this.defaultValue) this.value='';" name="name" placeholder="Title / Author / ISBN" id="searchbox" name="searchbox"-->
                        <span class="input-group-btn">
                            <button type="submit" value="AddGroup" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="bottom" title="Add Email Group"><i class="fa fa-plus-circle"></i></button>
                        </span>
                    </div>
                % endif
            </div>
        </form>
    </div>
    % endif
    % if cmd and cmd == "CreateUser":
    <div class="col-xs-12 col-md-4">
        <form action="createUser" method="post">
            <div class="form-group">
                % if 'Admin' in _session['access_level'] or 'SuperAdmin' in _session['access_level']:
                    <div class="input-group">
                        <input type="hidden" name="personid" value="${id}">
                        <select id="location" name="location" placeholder="Location" class="form-control input-sm col-xs-12">
                            <%
                            grad_year = schoolkeeper.CONFIG['CURRENT_SCHOOL_YEAR'] + 12 - ps_student['gradelevel']
                            default_loc = 'OU=%s,%s' % (grad_year, schoolkeeper.CONFIG['LDAP_BASESTUDENTDN'])
                            %>
                            %for loc in locations:
                            <%
                                if loc['dn'] == default_loc:
                                    selected = 'selected="selected"'
                                else:
                                    selected = ''
                            %>

                                <option value="${loc['dn']}" ${selected}>${loc['name']}</option>
                            %endfor
                        </select>
                        <span class="input-group-btn">
                            <button type="submit" value="Move" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="bottom" title="Create Account" onclick="waitingDialog.show('Please wait, creating student account');"><i class="fa fa-plus"></i></button>
                            ${default_loc}
                        </span>
                    </div>
                % endif
            </div>
        </form>
    </div>
    % endif
    % if cmd and cmd == "ResetPassword":
    <div class="col-xs-12 col-md-4">
        <form action="resetPassword" method="post">
            <div class="form-group">
                % if 'Admin' in _session['access_level'] or 'SuperAdmin' in _session['access_level']:
                    <div class="input-group">
                        <input type="hidden" name="personid" value="${id}">
                        <input type="password" id="password" name="password" class="form-control input-sm col-xs-12">
                        <span class="input-group-btn">
                            <button type="submit" value="Move" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="bottom" title="Reset Password"><i class="fa fa-key"></i></button>
                        </span>
                    </div>
                % endif
            </div>
        </form>
    </div>
    % endif
    % if cmd and cmd == "AddDevice" and not data:
    <div class="col-xs-12 col-md-4">
        <form action="studentPage" method="post">
            <div class="form-group">
                % if 'Admin' in _session['access_level'] or 'SuperAdmin' in _session['access_level']:
                    <div class="input-group">
                        % if ps_student:
                        <input type="hidden" id="StudentID" name="StudentID" value="${ps_student['studentid']}">
                        % else:
                        <input type="hidden" id="UserName" name="UserName" value="${ad_student['sAMAccountName']}">
                        % endif
                        <input type="hidden" id="cmd" name="cmd" value="AddDevice">
                        <input type="text" id="data" name="data" placeholder="Search for Device to Assign" class="form-control input-sm col-xs-12">
                        <span class="input-group-btn">
                            <button type="submit" value="Search" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="bottom" title="Search"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                % endif
            </div>
        </form>
    </div>
    % endif
    % if cmd and cmd == "UploadImage":
    <div class="col-xs-12 col-md-4">
        <form action="pictureUpload" method="post" enctype="multipart/form-data">
            <div class="form-group">
                % if 'Admin' in _session['access_level']:
                    <div class="input-group">
                        <input type="hidden" name="id" value="${id}">
                        <input type="file"  id="uploadfile" name="uploadfile" placeholder="Upload File" class="form-control input-sm col-xs-12">
                        <!--input type="text" class="form-control input-sm col-xs-12" value="" onfocus="if(this.value==this.defaultValue) this.value='';" name="name" placeholder="Title / Author / ISBN" id="searchbox" name="searchbox"-->
                        <span class="input-group-btn">
                            <button type="submit" value="Upload" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="bottom" title="Upload"><i class="fa fa-file-image-o"></i></button>
                        </span>
                    </div>
                % endif
            </div>
        </form>
    </div>
    % endif

</div>

<script type="text/javascript">
</script>
</%def>

<%def name="body()">
<%
if ps_student:
    this_student = "StudentID=%s" % ps_student['studentid']
else:
    this_student = "UserName=%s" % ad_student['sAMAccountName']
%>
% if msg:
    <div class="alert alert-info" style="text-align: center; padding: 8px;">
        ${msg}
    </div>
% endif
<div class="row">
    <ul class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="/students">Students</a></li>
        <li class="active">${StudentName}</li>
    </ul>
</div>
% if cmd and cmd=="AddDevice" and data:
<div class="row">
    <form action="assignDevice" method="post" class="form-inline">
        <div class="indented">
            <input type="hidden" name="personid" value="${id}">
            <input type="hidden" name="redirect" value="person">
            <div class="form-group">
                <input type="submit" class="btn btn-sm btn-primary" Value="Assign">
            </div>
            <div class="form-group">
                <a class="button btn btn-sm btn-danger" href="sudentPage?${this_student}">Cancel</a>
            </div>
        </div>
        <div class="table-responsive">
            <table class="display table table-striped table-hover table-bordered" id="device_table">
                <thead>
                <tr>
                    <th class="select text-center no-sort"><input type="checkbox" onClick="toggleAll(this)" /></th>
                    <th class="tag">Device Tag</th>
                    <th class="model">Model</th>
                    <th class="currentowner">Currently Assigned To</th>
                    <th class="note">Note</th>
                </tr>
                </thead>
                % for dev in data:
                <tr>
                    <td class="text-center"><input type="checkbox" name="${dev['ID']}" class="checkbox"/></td>
                    <td>${dev['Details']['tag']}</td>
                    <td>${dev['Details']['model']}</td>
                    <td>${dev['Details']['owner']}</td>
                    <%
                    devid = 'note_%s' % dev['ID']
                    %>
                    <td><input type="text" name="${devid}" id="${devid}" placeholder="Note" class="form-control input-sm col-xs-12"></td>
                </tr>
                % endfor
            </table>
        </div>
    </form>
</div>
% endif

<div class="row">
% if ps_student:
        <div class="col-md-4">
            <div id="ps_data" class="panel panel-primary">
                <div class="panel-heading"><h3 class="panel-title">Powerschool Data</h3></div>
                <div class="panel-body">
                    <div class="col-md-8">
                        <h4>${ps_student['firstname']} ${ps_student['lastname']} (${ps_student['psusername']})
                            % if 'Admin' in _session['access_level'] or 'SuperAdmin' in _session['access_level']:
                                <a href="editStudentDetails?psid=${ps_student['psid']}">
                                <small><i>Edit</i></small></a>
                            % endif
                        </h4>
                        %if ps_override:
                        <%
                            OverRideName = dbactions.getName(id)
                            OverRideUserName = dbactions.getUserName(id)
                        %>
                        <h5><b>Name Override:</b> ${OverRideName}</h5>
                        <h5><b>UserName Override:</b> ${OverRideUserName}</h5>
                        %endif

                        <h5><b>Student ID:</b> ${ps_student['studentid']}</h5>
                        <h5><b>STN:</b> ${ps_student['stn']}</h5>
                        <h5><b>DOB:</b> ${ps_student['dob']}</h5>
                        <h5><b>Ethnicity Code:</b> ${ps_student['ethnicitycode']}</h5>
                        <h5><b>Student Email:</b> ${ps_student['studentemail']}</h5>
                        <h5><b>Grade Level:</b> ${ps_student['gradelevel']}</h5>
                        <h5><b>Gender:</b> ${ps_student['gender']}</h5>
                        <h5><b>Cafe PIN:</b> ${ps_student['cafepin']}</h5>
                        % if ps_student['insurance_decline']:
                            <h5><b>Insurance DECLINED</b></h5>
                        % endif
                        %if ps_student['insurance_form']:
                            <h5><b>Insurance Form On File</b></h5>
                        % endif
                        %if ps_student['insurance_pmt'] and len(ps_student['insurance_pmt']) > 0:
                            <h5><b>Insurance Information:</b> ${ps_student['insurance_pmt']}</h5>
                        % endif
                    </div>
                    %if photo:
                        <div class="col-md-4 no-gutter">
                            <div class="profile-header-container">
                                <div class="profile-header-img">
                                    <img class="img-circle img-responsive center-block" src="/profileimages/${photo}">
                                    <div class="rank-label-container">
                                        <a href="studentPage?${this_student}&cmd=UploadImage" class="btn btn-sm btn-primary label label-default rank-label"><i class="fa fa-file-image-o"></i> Upload Image</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    %else:
                        <div class="col-md-4 no-gutter">
                            <div class="profile-header-container">
                                <div class="profile-header-img">
                                    <a href="studentPage?${this_student}&cmd=UploadImage" class="btn btn-sm btn-primary label label-default rank-label"><i class="fa fa-file-image-o"></i> Upload Image</a>
                                </div>
                            </div>
                        </div>
                    %endif
                </div>
            </div>
        </div>
%endif
% if ad_student:
        <div class="col-md-4">
            <div id="ps_data" class="panel panel-primary">
                <div class="panel-heading"><h3 class="panel-title">Active Directory Data</h3></div>
                <div class="panel-body">
                    <h4>${ad_student['displayname']} (${ad_student['sAMAccountName']})</h4>
                    <h5><b>Description:</b> ${ad_student['description']}</h5>
                    <h5><b>Student Email:</b> ${ad_student['mail']}</h5>
                    <h5><b>Distinguished Name:</b> ${ad_student['distinguishedName']}</h5>
                </div>
            </div>
        </div>
% endif
%if g_student:
        <div class="col-md-4">
            <%
            if g_student['suspended']:
                g_panel_class = 'panel-warning'
            else:
                g_panel_class = 'panel-primary'
            %>
            <div id="g_data" class="panel ${g_panel_class}">
                <div class="panel-heading"><h3 class="panel-title">Google Apps Data</h3></div>
                <div class="panel-body">
                    % if cmd and cmd == "RemoveGroup":
                    <div class="row">
                        <div class="col-md-8">
                            % if 'Admin' in _session['access_level'] or 'SuperAdmin' in _session['access_level']:
                                <div class="input-group">
                                    <h4>Confirm removal of group "${data}"<br><br>
                                    <a class="button btn btn-sm btn-warning" href="removeGoogleGroup?personid=${id}&group=${data}"><i class="fa fa-minus-circle"></i> Confirm Removal</a>&nbsp;
                                    <a class="button btn btn-sm btn-danger" href="studentPage?${this_student}">Cancel</a>
                                </div>
                            % endif
                        </div>
                    </div>
                    % else:
                    <div class="row">
                        <div class="col-md-8">
                            <h4>${g_student['name']['fullName']} (${g_student['primaryEmail']})</h4>
                            <h5><b>Location:</b> ${g_student['orgUnitPath']}</h5>
                            %if g_student['suspended']:
                            <h5><b>User Suspended</b>
                                % if 'Admin' in _session['access_level'] or 'SuperAdmin' in _session['access_level']:
                                <a href="unlockGoogleAccount?personid=${id}"><small><i>Restore</i></small></a>
                                % endif
                            </h5>
                            % endif
                            <h5><b>Groups:</b></h5>
                            % for group in g_student['groups']:
                            <h6>
                                % if 'Admin' in _session['access_level'] or 'SuperAdmin' in _session['access_level']:
                                    <a href="studentPage?${this_student}&cmd=RemoveGroup&data=${group['email']}"><i class="fa fa-minus-circle"></i></a>
                                % endif
                                <b>${group['name']}:</b> ${group['email']}
                            </h6>
                            %endfor
                        </div>
                        %if 'thumbnailPhotoUrl' in g_student.keys():
                            <div class="col-md-4 no-gutter">
                                <div class="profile-header-container">
                                    <div class="profile-header-img">
                                        <img class="img-circle img-responsive center-block" src="${g_student['thumbnailPhotoUrl']}">
                                        <div class="rank-label-container">
                                            <a href="googlePictureUpdate?id=${id}" class="btn btn-sm btn-primary label label-default rank-label">Replace Image</a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        %else:
                            <div class="col-md-4 no-gutter">
                                <div class="profile-header-container">
                                    <div class="profile-header-img">
                                        <a href="googlePictureUpdate?id=${id}" class="btn btn-sm btn-primary label label-default rank-label">Set Image</a>
                                    </div>
                                </div>
                            </div>
                        %endif
                    </div>
                    % endif
                </div>

            </div>
        </div>
%endif
</div>
%if len(schedule) > 0:
<div class="row">
    <div class="col-md-12">
        <table class="display table table-striped table-hover table-bordered" id="schedule_table">
            <thead>
            <tr>
                <th class="Period">Period</th>
                <th class="Class">Class</th>
                <th class="Teacher">Teacher</th>
                <th class="Room">Room</th>
                <th class="Term">Term</th>
            </tr>
            </thead>
            % for entry in schedule:
            <tr>
                <td>${entry['period']}</td>
                <td>${entry['classname']}</td>
                <td>${entry['lastname']}</td>
                <td>${entry['room']}</td>
                <td>${entry['term']}</td>
            </tr>
            % endfor
        </table>

    </div>
</div>
%endif
%if devices:
<div class="row">
    <div class="col-md-12">
        <table class="display table table-striped table-hover table-bordered" id="device_table">
            <thead>
            <tr>
                <th class="Tag">Tag</th>
                <th class="Model">Model</th>
                <th class="Serial">Serial</th>
                <th class="MAC">MAC</th>
                <th class="ADName">AD Name</th>
                <th class="Notes">Notes</th>
                <th class="Actions">Actions</th>
            </tr>
            </thead>
            % for entry in devices:
            <tr>
                <td><a href="devicePage?deviceid=${entry['deviceid']}">${entry['tag']}</a></td>
                <td>${entry['modelname']}</td>
                <td>${entry['serialnumber']}</td>
                <td>${entry['mac']}</td>
                <td>${entry['adname']}</td>
                <td>${entry['notes']}</td>
                <td>
                    % if 'Admin' in _session['access_level'] or 'SuperAdmin' in _session['access_level']:
                        % if cmd and data and cmd == 'RemoveDevice' and int(data) == entry['deviceid']:
                            <form action="removeDevice" method="post">
                                <input type="hidden" name="personid" id="personid" value="${id}">
                                <input type="hidden" name="deviceid" id="deviceid" value="${entry['deviceid']}">
                                <input type="hidden" name="redirect" id="redirect" value="person">
                                <label for="note" name="note" class="control-label col-xs-4">Note (Optional):</label>
                                <input type="text" name="note" id="note" placeholder="Note" class="form-control col-xs-8"><br>
                                <label for="locationid" name="locationid" class="control-label col-xs-4">Location:</label>
                                <select id="locationid" name="locationid" class="form-control col-xs-8">
                                    <option disabled selected value> -- select an option -- </option>
                                    % for loc in locations:
                                    <%
                                        if loc['locationid'] == entry['locationid']:
                                            selected = 'selected="selected"'
                                        else:
                                            selected = ''
                                    %>
                                    <option value="${loc['locationid']}" ${selected}>${loc['locationname']}</option>
                                    % endfor
                                </select><br>
                                <button type="submit" value="RemoveDevice" class="btn btn-sm btn-warning col-xs-6" data-toggle="tooltip" data-placement="bottom" title="Remove Device"><i class="fa fa-minus-circle"></i> Confirm Removal</button>
                                <a class="button btn btn-sm btn-danger col-xs-6" href="studentPage?${this_student}">Cancel</a>
                            </form>
                        % else:
                            <a class="button btn btn-sm btn-primary" href="studentPage?${this_student}&cmd=RemoveDevice&data=${entry['deviceid']}"><i class="fa fa-minus-circle"></i> Remove</a>
                        % endif
                    % endif
                </td>
            </tr>
            % endfor

        </table>
    </div>
</div>
%endif
    %if len(attachments) > 0:
    <div class="row no-gutters">
        <div class='col-sm-12'>
                    <div id="device_attachments" class="panel panel-primary">
                        <div class="panel-heading"><h3 class="panel-title">Attachments</h3></div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="display table table-striped table-hover table-bordered" id="person_attachments">
                                    <thead>
                                    <tr>
                                        <th class="timestamp">TimeStamp</th>
                                        <th class="description">Description</th>
                                        <th class="action">Actions</th>
                                    </tr>
                                    </thead>
                                    %for entry in attachments:
                                    <tr>
                                        <td>${entry['timestamp']}</td>
                                        <td>${entry['description']}</td>
                                        <% filename = entry['filename'] %>
                                        <td><button type="submit" value="Upload" class="btn btn-sm btn-primary btn-sm btn-block" data-toggle="tooltip" data-placement="bottom" title="View Attachment" onclick="showAttachment('${filename}');"><i class="fa fa-image"></i> View</button></td>
                                    </tr>
                                    %endfor
                                </table>
                            </div>
                        </div>
                    </div>

        </div>
    </div>
    %endif

<div role="tab-table" class="hidden">
    <div>
        <ul class="nav nav-tabs" role="tablist" id="usertabs">
            <li role="presentation" id="1" aria-controls="history"><a role="tab" data-toggle="tab" aria-controls="history" href="#history">History</a></li>
        </ul>
            <div role="tabpanel" class="tab-pane" id="history">
                <div class="configtable">
                    <div class="row">
                        <div class="table-responsive">
                            <table class="display table table-striped table-hover table-bordered" id="activity_table">
                                <thead>
                                <tr>
                                    <th class="timestamp">TimeStamp</th>
                                    <th class="activitydate">Activity Date</th>
                                    <th class="activitydesc">Activity</th>
                                    <th class="username">By</th>
                                </tr>
                                </thead>
                            </table>
                        </div>

                    </div>
                </div>
            </div>

    </div>
</div>


</%def>

<%def name="javascriptIncludes()">
    <script type="text/javascript">
    function initThisPage()

    {
        "use strict";
        // when the page first loads, hide all tab headers and panels
        $("li[role='presentation']").attr("aria-selected", "false");
        $("li[role='presentation']").removeClass('active');
        $("div[role='tabpanel']").attr("aria-hidden", "true");
        $("div[role='tabpanel']").removeClass('active');
        // which one do we want to show
        var tabnum = $("#current_tab").val();
        var tabid = $("#" + tabnum);
        var tabpanel = tabid.attr('aria-controls');
        var tabpanelid = $("#" + tabpanel);
        // show the tab header and panel we want
        tabpanelid.attr("aria-hidden", "false");
        tabpanelid.addClass('active');
        tabid.attr("aria-selected", "true");
        tabid.addClass('active');
        $("div[role='tab-table']").removeClass('hidden');

        // when a tab is clicked
        $("li[role='presentation']").click(function(){
            var tabnum = $(this).attr('id');    // store current tab for python
            $("#current_tab").val(tabnum);
        });


    } // End Init

    $(document).ready(function() {
        initThisPage();
    });
  </script>
    <script type="text/javascript">
    $(document).ready(function()
    {
        var oTable = $('#activity_table').DataTable(
            {
                "order": [[ 0, 'desc' ]],
                "bAutoWidth": false,
                "stateSave": true,
                "columnDefs":[
                    { targets: 'no-sort', orderable: false },
                    { targets: [0], 'render': function(data, type, row) {
                        return data ;} },
                    { targets: [1], 'render': function(data, type, row) {
                        return data ;} },
                    { targets: [2], 'render': function(data, type, row) {
                        return data ;} },
                    { targets: [3], 'render': function(data, type, row) {
                        return data ;} }
                    ],
                "oLanguage": {
                    "sSearch": "Filter: ",
                    "sLengthMenu":"_MENU_ rows per page",
                    "sEmptyTable": "No history found",
                    "sInfo":"Showing _START_ to _END_ of _TOTAL_ rows",
                    "sInfoEmpty":"Showing 0 to 0 of 0 rows",
                    "sInfoFiltered":"(filtered from _MAX_ total rows)"},
                "sPaginationType": "full_numbers",
                "aaSorting": [[0, 'desc']],
                "bServerSide": true,
                "sAjaxSource": 'getActivity?source=person&personid=${id}',
                "bFilter": true,
                "aLengthMenu": [[5, 10, 15, 25, 50, 100, -1], [5, 10, 15, 25, 50, 100, "All"]],
                "iDisplayLength": ${schoolkeeper.CONFIG['DISPLAYLENGTH']},
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    $('td', nRow).eq(0).addClass('text-center');
                    return nRow;
                },
            });
        $('.dataTables_filter input').attr("placeholder", "Results Filter");
        //$(window).resize(function() {oTable.draw(false)});
        $('a.toggle-vis').click(function (e) {
            e.preventDefault();
            var column = oTable.column( $(this).attr('data-column') );
            column.visible( ! column.visible() );
        } );
    });

    </script>
</%def>
