<%inherit file="base.html"/>
<%!
    import schoolkeeper
%>
<%def name="headerIncludes()">
    <div id="subhead_container">
        <div id="subhead_menu"  class="col-xs-12 col-md-8">
        % if 'Admin' in _session['access_level'] or 'SuperAdmin' in _session['access_level']:
            <a class="button btn btn-sm btn-primary" href="utilities?cmd=DirectCert"><i class="fa fa-upload"></i> Direct Certification</a>
                <button class="button btn btn-sm btn-primary" type="button" value="New Student Check" id="new_StudentCheck"><i class="fa fa-list-ul"></i> Check For New Students</button>
                <button class="button btn btn-sm btn-primary" type="button" value="New Staff Check" id="new_StaffCheck"><i class="fa fa-list-ul"></i> Check For New Staff</button>
            <a class="button btn btn-sm btn-primary" href="getAdobeUsers"><i class="fa fa-file-text"></i> Get Adobe Export</a>
            <a class="button btn btn-sm btn-primary" href="getPearsonUsers"><i class="fa fa-file-text"></i> Get Pearson Export</a>
            <a class="button btn btn-sm btn-primary" href="utilities?cmd=getSchoolPhotosChoice"><i class="fa fa-file-text"></i> Get School Photos</a>
            <a class="button btn btn-sm btn-primary" href="getKonicaAddressBook"><i class="fa fa-file-text"></i> Get Konica Address Book</a>
            <a class="button btn btn-sm btn-primary" href="utilities?cmd=getMobyMaxStudents"><i class="fa fa-file-text"></i> Get MobyMax Students</a>
            <a class="button btn btn-sm btn-primary" href="utilities?cmd=getMobyMaxTeachers"><i class="fa fa-file-text"></i> Get MobyMax Teachers</a>
            <a class="button btn btn-sm btn-primary" href="utilities?cmd=getOLSATStudents"><i class="fa fa-file-text"></i> Get OLSAT Students</a>
            <a class="button btn btn-sm btn-primary" href="getStudentGuardianEmails"><i class="fa fa-file-text"></i> Get Guardian Invite List</a>
            <a class="button btn btn-sm btn-primary" href="updateStudentGroups"><i class="fa fa-file-text"></i> Update Student Groups</a>
        % endif
        % if 'Staff' in _session['access_level'] or 'Admin' in _session['access_level']:
            <a class="button btn btn-sm btn-primary" href="getStudentLists?classname=AM%20Attendance"><i class="fa fa-file-text"></i> Get Elementary Student Lists</a>
        %endif
        </div>
        <div class="clearfix visible-xs"><hr/></div>
        % if 'Admin' in _session['access_level'] and cmd and cmd == 'DirectCert':
        <div class="col-xs-12 col-md-4">
            <form action="directCert" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label class="sr-only">Upload Cert CSV</label>
                    % if 'Admin' in _session['access_level'] or 'SuperAdmin' in _session['access_level']:
                        <div class="input-group">
                            <input type="file"  id="importfile" name="importfile" placeholder="Upload File" class="form-control input-sm col-xs-12">
                            <span class="input-group-btn">
                                <button type="submit" value="Book" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="bottom" title="Import"><i class="fa fa-plus"></i></button>
                            </span>
                        </div>
                    % endif
                </div>
            </form>
        </div>
        % endif
        % if 'Admin' in _session['access_level'] and cmd and cmd == 'getSchoolPhotosChoice':
        <div class="col-xs-12 col-md-4">
            <form action="getSchoolPhotos" method="post">
                <div class="form-group">
                    % if 'Admin' in _session['access_level'] or 'SuperAdmin' in _session['access_level']:
                        <div class="input-group">
                            <input type="hidden" id="classname" name="classname" value="AM Attendance">
                            <select id="school" name="school" class="form-control input-sm col-xs-12">
                                %for school in data:
                                    <option value="${school['schoolid']}">${school['schoolname']}</option>
                                %endfor
                            </select>
                            <span class="input-group-btn">
                                <button type="submit" value="Book" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="bottom" title="Import"><i class="fa fa-file-text"></i></button>
                            </span>
                        </div>
                    % endif
                </div>
            </form>
        </div>
        % endif
        % if 'Admin' in _session['access_level'] and cmd and cmd == 'getMobyMaxStudents':
        <div class="col-xs-12 col-md-4">
            <form action="getMobyMaxStudents" method="post">
                <div class="form-group">
                    % if 'Admin' in _session['access_level'] or 'SuperAdmin' in _session['access_level']:
                        <div class="input-group">
                            <!-- <input type="hidden" id="classname" name="classname" value="AM Attendance"> -->
                            <select id="schoolid" name="schoolid" class="form-control input-sm col-xs-12">
                                %for school in data:
                                    <option value="${school['schoolid']}">${school['schoolname']}</option>
                                %endfor
                            </select>
                            <span class="input-group-btn">
                                <button type="submit" value="Book" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="bottom" title="Import"><i class="fa fa-file-text"></i></button>
                            </span>
                        </div>
                    % endif
                </div>
            </form>
        </div>
        % endif
        % if 'Admin' in _session['access_level'] and cmd and cmd == 'getMobyMaxTeachers':
        <div class="col-xs-12 col-md-4">
            <form action="getMobyMaxTeachers" method="post">
                <div class="form-group">
                    % if 'Admin' in _session['access_level'] or 'SuperAdmin' in _session['access_level']:
                        <div class="input-group">
                            <!-- <input type="hidden" id="classname" name="classname" value="AM Attendance"> -->
                            <select id="schoolid" name="schoolid" class="form-control input-sm col-xs-12">
                                %for school in data:
                                    <option value="${school['schoolid']}">${school['schoolname']}</option>
                                %endfor
                            </select>
                            <span class="input-group-btn">
                                <button type="submit" value="Book" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="bottom" title="Import"><i class="fa fa-file-text"></i></button>
                            </span>
                        </div>
                    % endif
                </div>
            </form>
        </div>
        % endif
        % if 'Admin' in _session['access_level'] and cmd and cmd == 'getOLSATStudents':
        <div class="col-xs-12 col-md-4">
            <form action="getOLSATStudents" method="post">
                <div class="form-group">
                    % if 'Admin' in _session['access_level'] or 'SuperAdmin' in _session['access_level']:
                        <div class="input-group">
                            <select id="schoolid" name="schoolid" class="form-control input-sm col-xs-12">
                                %for school in data:
                                    <option value="${school['schoolid']}">${school['schoolname']}</option>
                                %endfor
                            </select>
                            <span class="input-group-btn">
                                <button type="submit" value="Book" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="bottom" title="Import"><i class="fa fa-file-text"></i></button>
                            </span>
                        </div>
                    % endif
                </div>
            </form>
        </div>
        % endif

    </div>
</%def>
<%def name="body()">
% if msg:
    <div class="alert alert-info" style="text-align: center; padding: 8px;">
        ${msg}
    </div>
% endif
</%def>
<%def name="javascriptIncludes()">
  <script type="text/javascript">
    function initThisPage()
    {
        "use strict";

        $('#new_StudentCheck').on('click', function (e) {
            $.get('showNewStudents', function (data) {
                bootbox.dialog({
                    title: 'New Students',
                    message: '<pre>' + data + '</pre>',
                    buttons: {
                        primary: {
                            label: "Close",
                            className: 'btn-primary'
                        }
                    }
                });
            });
        });
        $('#new_StaffCheck').on('click', function (e) {
            $.get('showNewStaff', function (data) {
                bootbox.dialog({
                    title: 'New Staff',
                    message: '<pre>' + data + '</pre>',
                    buttons: {
                        primary: {
                            label: "Close",
                            className: 'btn-primary'
                        }
                    }
                });
            });
        });
    }
    $(document).ready(function()
    {
        initThisPage();
    });
  </script>

</%def>
