﻿/*HTML5 ✰ Boilerplate*/
HTML, BODY, DIV, SPAN, OBJECT, IFRAME, H1, H2, H3, H4, H5, H6, P, BLOCKQUOTE, PRE, ABBR, ADDRESS, CITE, CODE, DEL, DFN, EM, IMG, INS, KBD, Q, SAMP, SMALL, STRONG, SUB, SUP, VAR, B, I, DL, DT, DD, OL, UL, LI, FIELDSET, FORM, LABEL, LEGEND, TABLE, CAPTION, TBODY, TFOOT, THEAD, TR, TH, TD, ARTICLE, ASIDE, CANVAS, DETAILS, FIGCAPTION, FIGURE, FOOTER, HEADER, HGROUP, MENU, NAV, SECTION, SUMMARY, TIME, MARK, AUDIO, VIDEO
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
ARTICLE, ASIDE, DETAILS, FIGCAPTION, FIGURE, FOOTER, HEADER, HGROUP, MENU, NAV, SECTION
{
	display: block;
}
BLOCKQUOTE, Q
{
	quotes: none;
}
BLOCKQUOTE:before, BLOCKQUOTE:after, Q:before, Q:after
{
	content: '';
	content: none;
}
INS
{
	background-color: #FF9;
	color: #000;
	text-decoration: none;
}
MARK
{
	background-color: #FF9;
	color: #000;
	font-style: italic;
	font-weight: bold;
}
DEL
{
	text-decoration: line-through;
}
ABBR[title], DFN[title]
{
	border-bottom: 1px dotted;
	cursor: help;
}
TABLE
{
	border-collapse: collapse;
	border-spacing: 0;
}
HR
{
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #CCC;
	margin: 1em 0;
	padding: 0;
}
INPUT, SELECT
{
	vertical-align: middle;
	/*[empty]margin-right:;*/
	margin: 0px;
	padding: 0px;
	border: 1px solid #000000;
	border-bottom: 1px solid #000000;
	/*+placement:margin-auto 0px 0px;*/
	margin-left: auto;
	margin-right: auto;
	position: relative;
	left: 0px;
	top: 0px;
	background-color: #FFFFFF;
	/*[empty]background-image:;*/
	text-align: justify;
	line-height: 0;
	font-size: 22.3pt;
	color: #271414;
}
BODY
{
	font: 12px / 1.231 sans-serif;
	=font-size: small;
}
SELECT, INPUT, TEXTAREA, BUTTON
{
	font: 99% sans-serif;
	padding-top: 0px;
	/*+placement:margin-auto 0px 0px;*/
	margin-left: auto;
	margin-right: auto;
	position: relative;
	left: 0px;
	top: 0px;
}
PRE, CODE, KBD, SAMP
{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
HTML
{
	overflow-y: scroll;
	-webkit-font-smoothing: antialiased;
}
A:hover, A:active
{
	outline: none;
}
UL, OL
{
	margin-left: 2em;
}
OL
{
	list-style-type: decimal;
}
TABLE .navbar
{
	float: left;
}
#NAVBAR #SEARCHBAR
{
	float: right;
}
#LOGO DIV
{
	float: left;
}
SMALL
{
	font-size: 75%;
}
STRONG, TH
{
	font-weight: bold;
}
TD
{
	vertical-align: top;
	border-top: 0px solid #000000;
}
SUB, SUP
{
	font-size: 75%;
	line-height: 0;
	position: relative;
}
SUP
{
	top: -0.5em;
}
SUB
{
	bottom: -0.25em;
}
PRE
{
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
	padding: 15px;
}
TEXTAREA
{
	overflow: auto;
	/*+placement:displace 0px 0px;*/
	position: absolute;
	margin-left: 0px;
	margin-top: 0px;
}
.ie6 LEGEND, .ie7 LEGEND
{
	margin-left: -7px;
}
INPUT[type="radio"]
{
	vertical-align: text-bottom;
	/*+placement:margin-auto 0px 0px;*/
	margin-left: auto;
	margin-right: auto;
	position: relative;
	left: 0px;
	top: 0px;
}
INPUT[type="checkbox"]
{
	vertical-align: center;
}
.ie7 INPUT[type="checkbox"]
{
	vertical-align: center;
}
.ie6 INPUT
{
	vertical-align: text-bottom;
}
LABEL, INPUT[type="button"], INPUT[type="submit"], INPUT[type="image"], BUTTON
{
	cursor: pointer;
	/*+placement:shift 0px 0px;*/
	position: relative;
	left: 0px;
	top: 0px;
}
BUTTON, INPUT, SELECT, TEXTAREA
{
	margin: 0;
	/*+placement:shift 0px 0px;*/
	position: relative;
	left: 0px;
	top: 0px;
}
INPUT:valid, TEXTAREA:valid
{
	/*+placement:margin-auto 0px 0px;*/
	margin-left: auto;
	margin-right: auto;
	position: relative;
	left: 0px;
	top: 0px;
}
INPUT:invalid, TEXTAREA:invalid
{
	border-radius: 1px;
	-moz-box-shadow: 0px 0px 5px red;
	-webkit-box-shadow: 0px 0px 5px red;
	box-shadow: 0px 0px 5px #FF0000;
}
.no-boxshadow INPUT:invalid, .no-boxshadow TEXTAREA:invalid
{
	background-color: #F0DDDD;
}
::-moz-selection
{
	background: #808080;
	color: #FFF;
	text-shadow: none;
}
::selection
{
	background: #808080;
	color: #FFF;
	text-shadow: none;
}
BUTTON
{
	width: auto;
	overflow: visible;
}
.ie7 IMG
{
	-ms-interpolation-mode: bicubic;
}
BODY, SELECT, INPUT, TEXTAREA
{
	color: #444;
}
H1, H2, H3, H4, H5, H6
{
	font-weight: bold;
}
/*
// ========================================== \\
||                                              ||
||               Custom Styles                  ||
||                                              ||
\\ ========================================== //
*/
A:link
{
	color: #3D78B0;
	text-decoration: none;
}
A:visited
{
	color: #3D78B0;
	text-decoration: none;
}
A:hover
{
	color: #3D78B0;
	text-decoration: none;
}
A:active
{
	color: #3D78B0;
	text-decoration: none;
}
A.blue
{
	color: #0000FF;
}
/*container*/
#INVALID-RULE
{
}
BODY
{
	background-color: #FFF;
	min-width: 500px;
	width: 90%;
	margin: auto;
	min-height: 100%;
	-moz-box-shadow: 0 0 6px #888;
	-webkit-box-shadow: 0 0 6px#888;
	box-shadow: 0 0 6px #888;
}
HTML
{
	background-color: #E7E9EB;
	height: 100%;
}
HEADER
{
	min-height: 45px;
	min-width: 500px !important;
	width: 90% !important;
	padding-left: 0px;
	background: #999;
	/*for non-css3 browsers*/
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#565656', endColorstr='#464646');
	/*for IE*/
	background: -webkit-gradient(linear, left top, left bottom, from(#565656), to(#464646));
	/*for webkit browsers*/
	background: -moz-linear-gradient(top, #565656, #464646);
	/*for firefox 3.6+*/
	position: fixed;
	z-index: 998;
	border-bottom: 1px solid #CECECE;
}
H1
{
	font-size: 24px;
}
H2
{
	font-size: 20px;
}
H3
{
	font-size: 16px;
}
H4
{
	font-size: 14px;
}
H5
{
	font-size: 12px;
}
.changeBookStatus
{
	margin-left: 30px;
	line-height: 50px;
}
P.indented
{
	padding-top: 20px;
	margin-left: 20%;
	font-size: 14px;
}
P.center
{
	text-align: center;
	font-size: 10px;
}
.smalltext2
{
	font-size: 12px;
	margin-left: 45px;
}
.smalltext
{
	font-size: 10px;
}
DIV#updatebar
{
	text-align: center;
	width: 100%;
	background-color: #00FFA6;
	float: left;
}
DIV#logo
{
	float: left;
	padding-left: 10px;
}
DIV#logo IMG
{
	width: 64px;
	height: 83px;
}
DIV#subhead_container
{
	margin-top: 8px;
	height: 28px;
	line-height: 22px;
	width: 100%;
	background-color: #F2F2F2;
	float: left;
	list-style-type: none;
	z-index: 997;
	overflow: hidden;
	color: #000000;
}
UL#subhead_menu LI
{
	width: 100%;
	height: 100%;
	vertical-align: middle;
	color: #000000;
	display: inline;
}
UL#subhead_menu LI A
{
	text-align: right;
	vertical-align: middle;
	color: #000000;
	font-size: 12px;
	text-decoration: none;
}
UL#subhead_menu LI A:hover
{
	width: 100%;
	height: 100%;
	background-color: #4D90FE;
	border: 1px solid #3079ED;
	color: #FFFFFF !important;
}
.button
{
	color: #FFFFFF !important;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	padding: 5px 10px;
	vertical-align: middle;
	font-size: 12px;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	background-color: #49AFCD;
	background-image: -ms-linear-gradient(top, #5BC0DE, #2F96B4);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5BC0DE), to(#2F96B4));
	background-image: -webkit-linear-gradient(top, #5BC0DE, #2F96B4);
	background-image: -o-linear-gradient(top, #5BC0DE, #2F96B4);
	background-image: -moz-linear-gradient(top, #5BC0DE, #2F96B4);
	background-image: linear-gradient(top, #5BC0DE, #2F96B4);
	background-repeat: repeat-x;
	border-color: #2F96B4 #2F96B4 #1F6377;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#5bc0de', endColorstr='#2f96b4', GradientType=0);
	filter: progid:dximagetransform.microsoft.gradient(enabled=false);
	border-radius: 4px;
	font-weight: bold;
	border-radius: 5px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}
.button A:link
{
	color: #FFFFFF !important;
	font-size: 12px;
	text-decoration: none;
}
.button A:visited
{
	color: #FFFFFF !important;
	font-size: 12px;
	text-decoration: none;
}
.button:hover
{
	text-decoration: none;
	background: #49AFCD;
}
.red:hover
{
	background: #000;
}
.red
{
	background-color: #FF1111;
	background-image: -ms-linear-gradient(top, #ec4648, #ff1111);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ec4648), to(#ff1111));
	background-image: -webkit-linear-gradient(top, #ec4648, #ff1111);
	background-image: -o-linear-gradient(top, #ec4648, #ff1111);
	background-image: -moz-linear-gradient(top, #ec4648, #ff1111);
	background-image: linear-gradient(top, #ec4648, #ff1111);
}
.orange
{
	background-color: #F8A81D;
	background-image: -ms-linear-gradient(top, #ffb940, #f8a81d);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffb940), to(#f8a81d));
	background-image: -webkit-linear-gradient(top, #ffb940, #f8a81d);
	background-image: -o-linear-gradient(top, #ffb940, #f8a81d);
	background-image: -moz-linear-gradient(top, #ffb940, #f8a81d);
	background-image: linear-gradient(top, #ffb940, #f8a81d);
}
.orange:hover
{
	background: #000;
}
.green
{
	background-color: #4E9302;
	background-image: -ms-linear-gradient(top, #5da513, #4e9302);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5da513), to(#4e9302));
	background-image: -webkit-linear-gradient(top, #5da513, #4e9302);
	background-image: -o-linear-gradient(top, #5da513, #4e9302);
	background-image: -moz-linear-gradient(top, #5da513, #4e9302);
	background-image: linear-gradient(top, #5da513, #4e9302);
}
.green:hover
{
	background: #000;
}
.grey
{
	background-color: #57616D;
	background-image: -ms-linear-gradient(top, #777f8a, #57616d);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#777f8a), to(#57616d));
	background-image: -webkit-linear-gradient(top, #777f8a, #57616d);
	background-image: -o-linear-gradient(top, #777f8a, #57616d);
	background-image: -moz-linear-gradient(top, #777f8a, #57616d);
	background-image: linear-gradient(top, #777f8a, #57616d);
}
.grey:hover
{
	background: #4C5766;
}
.addAuthor
{
	margin-left: 30px;
	line-height: 30px;
}
DIV#authorart_container
{
	margin-top: 30px;
	height: 110px;
	padding-bottom: 5px;
	background-color: #EBEBEB;
	float: left;
	overflow: hidden;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
	margin-left: 30px;
	border: 1px solid #CECECE;
	margin-bottom: -20px;
}
UL#authorart_menu
{
	margin-top: 7px;
}
UL#authorart_menu LI
{
	width: 100%;
	height: 100%;
	display: inline;
	vertical-align: middle;
}
#authorart_menu IMG
{
	border: 1px solid #DBDBDB;
	margin-left: -17px;
	margin-right: 7px;
}
DIV#authorhead_container
{
	margin-top: 30px;
	padding-bottom: 5px;
	width: 300px;
	height: 110px;
	background-color: #F5F6F8;
	overflow: hidden;
	border: 1px solid #CECECE;
	border-top-right-radius: 2px;
	margin-bottom: -20px;
	border-bottom-right-radius: 2px;
	border-left: 0px;
}
UL#authorhead_menu
{
	margin-top: 7px;
}
UL#authorhead_menu LI
{
	height: 100%;
	display: inline-table;
}
UL#authorhead_menu LI A
{
	vertical-align: top;
	color: #444444;
	font-size: 20px;
	text-decoration: none;
	/*[empty]margin-top:;*/
}
UL#authorhead_menu LI A:hover
{
	height: 100%;
	text-decoration: underline;
}
A.navbarlogo
{
	margin-right: 10px;
	margin-left: 10px;
	float: left;
	margin-top: 5px;
	margin-bottom: -5px;
}
A.navbarcfg
{
	float: left;
	padding-top: 22px;
	margin-left: 10px;
}
A.navbarele
{
    margin-left: 5px;
	margin-right: 5px;
	float: left;
	padding-top: 28px;
	padding: 22px 0 0;
}
DIV#searchbar
{
	float: right;
	padding-right: 17px;
	padding-top: 22px;
}
DIV#searchbar INPUT
{
	background-color: #282D34;
	box-shadow: inset 0 1px 8px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.25);
	border: 0px;
	border-radius: 3px;
	color: #A9A9A9;
	padding: 5px;
	padding-left: 30px;
	padding-right: 25px;
}
DIV#form
{
	margin-top: -21px;
}
#searchbox
{
	min-width: 100px;
	max-width: 220px;
}
DIV#log_table_wrapper
{
	padding-top: 17px;
}
DIV#main
{
    position: relative;
    float: bottom;
    width: 100%;
    margin: 0;
	padding: 86px 0 0 0px;
}
.table_wrapper_button
{
	width: 88%;
	margin: 0px auto 0;
	padding: 25px;
	position: relative;
	clear: both;
	zoom: 1;
	padding-right: -25px;
}
.table_wrapper
{
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	width: 88%;
	margin: 20px auto 0;
	padding: 25px;
	background-color: #FFFFFF;
	position: relative;
	min-height: 200px;
	clear: both;
	-height: 302px;
	zoom: 1;
	border: 1px solid #CECECE;
}
.manage_wrapper
{
	width: 88%;
	margin: 20px auto 0;
	padding: 25px;
	min-height: 150px;
	clear: both;
	-height: 302px;
	zoom: 1;
	border-bottom: 0px solid #000000;
}
.table_wrapper_left
{
	padding: 25px;
	background-color: #FFFFFF;
	float: left;
	width: 40%;
	min-height: 100px;
	margin-top: 25px;
	margin-left: 30px;
	margin-right: auto;
	-moz-border-radius: 20px;
	border-radius: 20px;
}
.table_wrapper_right
{
	padding: 25px;
	background-color: #FFFFFF;
	width: 40%;
	min-height: 100px;
	margin-top: 25px;
	margin-left: auto;
	margin-right: 30px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}
.configtable
{
	font-size: 12px;
	line-height: 18px;
}
.configtable TD
{
	width: 350px;
	padding: 0px 10px 10px;
}
.configtable TD#middle
{
	vertical-align: middle;
	border: 0px solid #000000;
	border-top: 0px solid #000000;
	border-right: 0px solid #000000;
	border-bottom: 0px solid #000000;
	border-left: 0px solid #000000;
}
.configtable INPUT[type="TEXT"], INPUT[TYPE="PASSWORD"]
{
	/*+placement:float-right 0px 0px;*/
	float: right;
	position: relative;
	left: 0px;
	top: 0px;
}
/* Chrome Newznab providers ui bug fix */
.configtable .providers-input
{
	width: 160px;
}
.configtable .providers-rss-input
{
	width: 322px;
}
TABLE#author_table
{
	background-color: #F9F9F9;
	width: 100%;
	padding: 20px;
}
TABLE#author_table TH#select
{
	text-align: left;
}
TABLE#author_table TH#authorimg
{
	text-align: left;
	width: 50px;
}
TABLE#author_table TH#authorname
{
	text-align: left;
	width: 150px;
}
TABLE#author_table TH#bookname
{
	text-align: left;
	width: 200px;
}
TABLE#author_table TH#status
{
	text-align: left;
	width: 50px;
}
TABLE#author_table TH#date
{
	text-align: left;
	width: 80px;
}
TABLE#author_table TH#have
{
	text-align: left;
	width: 50px;
}
TABLE#author_table TD#select
{
	text-align: left;
}
TABLE#author_table TD#authorimg
{
	vertical-align: middle;
	text-align: left;
}
TABLE#author_table TD#authorname
{
	vertical-align: middle;
	text-align: left;
}
TABLE#author_table TD#bookname
{
	vertical-align: middle;
	text-align: left;
}
TABLE#author_table TD#status
{
	vertical-align: middle;
	text-align: left;
}
TABLE#author_table TD#date
{
	vertical-align: middle;
	text-align: left;
}
TABLE#author_table TD#have
{
	vertical-align: middle;
}

TABLE#alliance_table
{
	background-color: #F9F9F9;
	width: 100%;
	padding: 20px;
}
TABLE#alliance_table TH#select
{
	text-align: left;
}
TABLE#alliance_table TH#authorimg
{
	text-align: left;
	width: 50px;
}
TABLE#alliance_table TH#alliancename
{
	text-align: left;
	width: 150px;
}
TABLE#alliance_table TH#membercount
{
	text-align: left;
	width: 50px;
}
TABLE#alliance_table TH#medalcount
{
	text-align: left;
	width: 80px;
}
TABLE#alliance_table TD#select
{
	text-align: left;
}
TABLE#alliance_table TD#authorimg
{
	vertical-align: middle;
	text-align: left;
}
TABLE#alliance_table TD#alliancename
{
	vertical-align: middle;
	text-align: left;
}
TABLE#alliance_table TD#membercount
{
	vertical-align: middle;
	text-align: left;
}
TABLE#alliance_table TD#medalcount
{
	vertical-align: middle;
	text-align: left;
}

DIV#paddingheader
{
	padding-top: 48px;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
}
DIV#nopaddingheader
{
	font-size: 24px;
	font-weight: bold;
	text-align: center;
}
TABLE#book_table
{
	background-color: #FFFFFF;
}
TABLE#book_table TH#select
{
	vertical-align: middle;
	text-align: center;
	width: 10px
}
TABLE#book_table TH#bookart
{
	text-align: center;
	width: 10px;
}
TABLE#book_table TH#authorname
{
	text-align: left;
	width: 100px !important;
}
TABLE#book_table TH#bookname
{
	text-align: left;
	width: 250px;
}
TABLE#book_table TH#series
{
	text-align: left;
	width: 90px !important;
}
TABLE#book_table TH#status
{
	text-align: center;
	width: 25px;
	max-width: 25px;
	vertical-align: middle;
}
TABLE#book_table TH#date
{
	text-align: center;
	width: 50px;
}
TABLE#book_table TH#number
{
	text-align: center;
	width: 50px;
}
TABLE#book_table TH#language
{
	text-align: center;
	min-width: 25px;
	display: none;
}
TABLE#book_table TH#stars
{
	text-align: center;
	width: 50px;
}
TABLE#book_table TH#addAuthor
{
	text-align: center;
	width: 100px;
	min-width: 100px;
	max-width: 100px;
}
TABLE#book_table TH#fuzz
{
	text-align: center;
	width: 50px;
}
TABLE#book_table TD#select
{
	vertical-align: middle;
	text-align: center;
}
TABLE#book_table TD#bookart
{
	vertical-align: middle;
	text-align: center;
}
TABLE#book_table TD#bookart IMG
{
	border: 1px solid #CECECE;
}
TABLE#book_table TD#authorname
{
	vertical-align: middle;
	text-align: left;
}
TABLE#book_table TD#bookname
{
	vertical-align: middle;
	text-align: left;
}
TABLE#book_table TD#series
{
	vertical-align: middle;
	text-align: left;
}
TABLE#book_table TD#status
{
	vertical-align: middle;
	text-align: center;
}
TABLE#book_table TD#date
{
	vertical-align: middle;
	text-align: center;
}
TABLE#book_table TD#number
{
	vertical-align: middle;
	text-align: center;
}
TABLE#book_table TD#language
{
	vertical-align: middle;
	text-align: center;
	display: none;
}
TABLE#book_table TD#stars
{
	vertical-align: middle;
	text-align: center;
}
TABLE#book_table TD#addAuthor
{
	text-align: center;
	vertical-align: middle;
	width: 100px;
	min-width: 100px;
	max-width: 100px;
}
TABLE#book_table TD#fuzz
{
	vertical-align: middle;
	text-align: center;
}
IMG.bookArt
{
	float: left;
	padding-right: 5px;
}
DIV#bookheader
{
	padding-top: 48px;
	height: 200px;
}
TABLE#log_table
{
	background-color: #FFFFFF;
	margin-left: 5px;
	margin-right: 5px;
	max-width: 100%;
	width: 99%;
}
TABLE#log_table TH#timestamp
{
	text-align: left;
	width: 150px;
}
TABLE#log_table TH#level
{
	text-align: left;
	width: 60px;
}
TABLE#log_table TH#message
{
	text-align: left;
	min-width: 200px;
}
TABLE#log_table TD#timestamp
{
	text-align: left;
	min-width: 150px;
}
TABLE#log_table TD#level
{
	text-align: left;
}
TABLE#log_table TD#message
{
	text-align: left;
}
TABLE#book_table TH#magtitle
{
	vertical-align: middle;
	text-align: center;
}
TABLE#book_table TH#frequency
{
	vertical-align: middle;
	text-align: right;
	min-width: 100px;
}
TABLE#book_table TH#lastacquired
{
	vertical-align: middle;
	text-align: center;
	min-width: 100px;
}
TABLE#book_table TH#issuedate
{
	vertical-align: middle;
	text-align: center;
	min-width: 100px;
}
TABLE#book_table TH#issue
{
	vertical-align: middle;
	text-align: center;
	min-width: 100px;
}
TABLE#book_table TD#magtitle
{
	vertical-align: middle;
	text-align: center;
}
TABLE#book_table TD#frequency
{
	vertical-align: middle;
	text-align: right;
}
TABLE#book_table TD#lastacquired
{
	vertical-align: middle;
	text-align: center;
}
TABLE#book_table TD#issuedate
{
	vertical-align: middle;
	text-align: center;
}
TABLE#book_table TD#issue
{
	vertical-align: middle;
	text-align: center;
	min-width: 100px;
}
TABLE#book_table TH#filename
{
	vertical-align: middle;
	text-align: center;
}
TABLE#book_table TH#bookid
{
	vertical-align: middle;
	text-align: right;
	min-width: 150px;
}
TABLE#book_table TH#size
{
	vertical-align: middle;
	text-align: center;
	min-width: 100px;
}
TABLE#book_table TH#dateadded
{
	vertical-align: middle;
	text-align: center;
	min-width: 100px;
}
TABLE#book_table TH#provider
{
	vertical-align: middle;
	text-align: center;
	min-width: 100px;
}
TABLE#book_table TD#filename
{
	vertical-align: middle;
	text-align: center;
}
TABLE#book_table TD#bookid
{
	vertical-align: middle;
	text-align: right;
}
TABLE#book_table TD#size
{
	vertical-align: middle;
	text-align: center;
}
TABLE#book_table TD#dateadded
{
	vertical-align: middle;
	text-align: center;
}
TABLE#book_table TD#provider
{
	vertical-align: middle;
	text-align: center;
}
DIV.progress-container
{
	position: relative;
	width: 100%;
	height: 14px;
	margin: 2px 5px 2px 0;
	float: left;
	background-color: #F7F7F7;
	background-image: -moz-linear-gradient(top, whiteSmoke, #F9F9F9);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(whiteSmoke), to(#F9F9F9));
	background-image: -webkit-linear-gradient(top, whiteSmoke, #F9F9F9);
	background-image: -o-linear-gradient(top, whiteSmoke, #F9F9F9);
	background-image: linear-gradient(to bottom, whiteSmoke, #F9F9F9);
	background-repeat: repeat-x;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fff9f9f9', GradientType=0);
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	text-align: center;
}
DIV.progress-container > DIV
{
	background-color: #0EBEED;
	height: 14px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	text-align: center;
	z-index: 900;
}
.danger > DIV
{
	background-color: #DD514C;
	background-image: -moz-linear-gradient(top, #EE5F5B, #C43C35);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#EE5F5B), to(#C43C35));
	background-image: -webkit-linear-gradient(top, #EE5F5B, #C43C35);
	background-image: -o-linear-gradient(top, #EE5F5B, #C43C35);
	background-image: linear-gradient(to bottom, #EE5F5B, #C43C35);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffc43c35', GradientType=0);
}
.warning > DIV
{
	background-color: #FAA732;
	background-image: -moz-linear-gradient(top, #FBB450, #F89406);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FBB450), to(#F89406));
	background-image: -webkit-linear-gradient(top, #FBB450, #F89406);
	background-image: -o-linear-gradient(top, #FBB450, #F89406);
	background-image: linear-gradient(to bottom, #FBB450, #F89406);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
}
.success > DIV
{
	background-color: #5EB95E;
	background-image: -moz-linear-gradient(top, #62C462, #57A957);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62C462), to(#57A957));
	background-image: -webkit-linear-gradient(top, #62C462, #57A957);
	background-image: -o-linear-gradient(top, #62C462, #57A957);
	background-image: linear-gradient(to bottom, #62C462, #57A957);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff57a957', GradientType=0);
}
.info > DIV
{
	background-color: #4BB1CF;
	background-image: -moz-linear-gradient(top, #5BC0DE, #339BB9);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5BC0DE), to(#339BB9));
	background-image: -webkit-linear-gradient(top, #5BC0DE, #339BB9);
	background-image: -o-linear-gradient(top, #5BC0DE, #339BB9);
	background-image: linear-gradient(to bottom, #5BC0DE, #339BB9);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff339bb9', GradientType=0);
}
.havebooks
{
	font-size: 13px;
	margin-left: 36px;
	padding-bottom: 3px;
	vertical-align: middle;
}
.progressbar-back-text
{
	font-size: 13px;
	vertical-align: middle;
	background-color: transparent;
	position: absolute;
	text-align: center;
	width: 100%;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	z-index: 800;
}
.progressbar-front-text
{
	font-size: 13px;
	vertical-align: middle;
	background-color: transparent;
	display: block;
	width: 100%;
	position: absolute;
	color: #000000;
	overflow: hidden;
	text-shadow: -1px 0 #FFFFFF, 0 1px #FFFFFF, 1px 0 #FFFFFF, 0 -1px #FFFFFF;
}
FOOTER
{
	margin: 20px auto;
}
DIV#version
{
	text-align: center;
	font-weight: bold;
}
DIV#donate
{
	text-align: center;
	margin: 20px auto;
}
DIV#shutdown
{
	text-align: center;
	vertical-align: middle;
}
.cloudtag
{
	padding-top: 30px;
	font-size: 16px;
}
#cloud A.tag1
{
	font-size: 0.7em;
	font-weight: 100;
}
#cloud A.tag2
{
	font-size: 0.8em;
	font-weight: 200;
}
#cloud A.tag3
{
	font-size: 0.9em;
	font-weight: 300;
}
#cloud A.tag4
{
	font-size: 1em;
	font-weight: 400;
}
#cloud A.tag5
{
	font-size: 1.2em;
	font-weight: 500;
}
#cloud A.tag6
{
	font-size: 1.4em;
	font-weight: 600;
}
#cloud A.tag7
{
	font-size: 1.6em;
	font-weight: 700;
}
#cloud A.tag8
{
	font-size: 1.8em;
	font-weight: 800;
}
#cloud A.tag9
{
	font-size: 2.2em;
	font-weight: 900;
}
#cloud A.tag10
{
	font-size: 2.5em;
	font-weight: 900;
}
#cloud
{
	padding: 2px;
	line-height: 1.5em;
	text-align: center;
}
#cloud A
{
	padding: 0px;
}
#cloud
{
	margin: 0;
}
#cloud LI
{
	display: inline;
}
.ir
{
	display: block;
	text-indent: -999em;
	overflow: hidden;
	background-repeat: no-repeat;
	text-align: left;
	direction: ltr;
}
.hidden
{
	display: none;
	visibility: hidden;
}
.visuallyhidden
{
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus
{
	clip: rect(auto, auto, auto, auto);
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}
.invisible
{
	visibility: hidden;
}
.clearfix:before, .clearfix:after
{
	content: "\0020";
	display: block;
	height: 0;
	overflow: hidden;
}
.clearfix:after
{
	clear: both;
}
.clearfix
{
	zoom: 1;
}
@media screen and (max-device-width: 480px)
{
	HTML
	{
		-webkit-text-size-adjust: none;
		-ms-text-size-adjust: none;
	}
}
@media print
{
	*
	{
		background: transparent !important;
		color: #000000 !important;
		text-shadow: none !important;
		filter: none !important;
		-ms-filter: none !important;
	}
	A, A:visited
	{
		color: #444 !important;
		text-decoration: underline;
	}
	A[href]:after
	{
		content: " (" attr(href) ")";
	}
	ABBR[title]:after
	{
		content: " (" attr(title) ")";
	}
	.ir A:after, A[href^="javascript:"]:after, A[href^="#"]:after
	{
		content: "";
	}
	PRE, BLOCKQUOTE
	{
		border: 1px solid #999;
		page-break-inside: avoid;
	}
	THEAD
	{
		display: table-header-group;
	}
	TR, IMG
	{
		page-break-inside: avoid;
	}
	@page
	{
		margin: 0.5cm;
	}
	P, H2, H3
	{
		orphans: 3;
		widows: 3;
	}
	H2, H3
	{
		page-break-after: avoid;
	}
}
#add
{
	background-color: #4D90FE;
	border: 1px solid #3079ED;
	color: #FFFFFF !important;
	border-radius: 2px;
	line-height: 29px;
	padding: 0 10px;
}
/*#add focus*/
#INVALID-RULE
{
	background-color: #2F5BB7;
}
#remove
{
	background-color: #DD514C;
	border: 1px solid #3079ED;
	color: #FFFFFF !important;
	border-radius: 2px;
	line-height: 29px;
	padding: 0 10px;
}
/*#remove focus*/
#INVALID-RULE
{
	background-color: #C33BC4;
}
#button
{
	background-color: #EBEBEB;
	border: 1px solid #CECECE;
	color: #444454 !important;
	border-radius: 2px;
	line-height: 29px;
	padding: 0 10px;
	margin: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-left: 8px;
}
#ajaxMsg
{
	border: 1px solid #CCCCCC;
	background-image: -moz-linear-gradient(#ffffff, #eeeeee) !important;
	background-image: linear-gradient(#ffffff, #eeeeee) !important;
	background-image: -webkit-linear-gradient(#ffffff, #eeeeee) !important;
	filter: progid:dximagetransform.microsoft.gradient(startColorstr=#fafafa, endColorstr=#eaeaea) !important;
	-ms-filter: progid:dximagetransform.microsoft.gradient(startColorstr=#fafafa, endColorstr=#eaeaea) !important;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	display: none;
	font-size: 14px;
	right: 10px;
	-moz-box-shadow: 0px 0px 2px #aaaaaa;
	-webkit-box-shadow: 0px 0px 2px #aaaaaa;
	box-shadow: 0px 0px 2px #AAAAAA;
	padding: 7px 10px;
	position: fixed;
	text-align: center;
	bottom: 10px;
	min-height: 22px;
	width: 250px;
	z-index: 9997;
	filter: alpha(opacity=85);
	-moz-opacity: 0.8 !important;
	-khtml-opacity: 0.8 !important;
	opacity: 0.8 !important;
	margin-bottom: 20px;
	margin-right: 80px;
	min-width: 100px;
	max-width: 250px;
}
#ajaxMsg .msg
{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: normal;
	padding-left: 20px;
}
#ajaxMsg .loader
{
	position: relative;
	top: 2px;
}
#ajaxMsg .success
{
	background-image: -moz-linear-gradient(#d3ffd7, #c2edc6) !important;
	background-image: linear-gradient(#d3ffd7, #c2edc6) !important;
	background-image: -webkit-linear-gradient(#d3ffd7, #c2edc6) !important;
	filter: progid:dximagetransform.microsoft.gradient(startColorstr=#fafafa, endColorstr=#eaeaea) !important;
	-ms-filter: progid:dximagetransform.microsoft.gradient(startColorstr=#fafafa, endColorstr=#eaeaea) !important;
	padding: 15px 10px;
	text-align: left;
}
#ajaxMsg.error
{
	background-image: -moz-linear-gradient(#ffd3d3, #edc4c4) !important;
	background-image: linear-gradient(#ffd3d3, #edc4c4) !important;
	background-image: -webkit-linear-gradient(#ffd3d3, #edc4c4) !important;
	filter: progid:dximagetransform.microsoft.gradient(startColorstr=#fafafa, endColorstr=#eaeaea) !important;
	-ms-filter: progid:dximagetransform.microsoft.gradient(startColorstr=#fafafa, endColorstr=#eaeaea) !important;
	padding: 15px 10px;
	text-align: left;
}
#ajaxMsg .ui-icon
{
	display: inline-block;
	margin-left: -20px;
	top: 2px;
	position: relative;
	margin-right: 3px;
}
#updatebar
{
	border: 1px solid #CCCCCC;
	background-image: -moz-linear-gradient(#ffffff, #eeeeee) !important;
	background-image: linear-gradient(#ffffff, #eeeeee) !important;
	background-image: -webkit-linear-gradient(#ffffff, #eeeeee) !important;
	filter: progid:dximagetransform.microsoft.gradient(startColorstr=#fafafa, endColorstr=#eaeaea) !important;
	-ms-filter: progid:dximagetransform.microsoft.gradient(startColorstr=#fafafa, endColorstr=#eaeaea) !important;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	display: none;
	font-size: 14px;
	right: 10px;
	-moz-box-shadow: 0px 0px 2px #aaaaaa;
	-webkit-box-shadow: 0px 0px 2px #aaaaaa;
	box-shadow: 0px 0px 2px #AAAAAA;
	padding: 7px 10px;
	position: fixed;
	text-align: center;
	bottom: 10px;
	min-height: 22px;
	z-index: 9997;
	filter: alpha(opacity=85);
	-moz-opacity: 0.8 !important;
	-khtml-opacity: 0.8 !important;
	opacity: 0.8 !important;
	display: block;
	background-image: -moz-linear-gradient(#fcf5c2, #fff6a9) !important;
	background-image: linear-gradient(#fcf5c2, #fff6a9) !important;
	background-image: -webkit-linear-gradient(#fcf5c2, #fff6a9) !important;
	filter: progid:dximagetransform.microsoft.gradient(startColorstr=#fafafa, endColorstr=#eaeaea) !important;
	-ms-filter: progid:dximagetransform.microsoft.gradient(startColorstr=#fafafa, endColorstr=#eaeaea) !important;
	bottom: 0px;
	right: 0px;
	margin-bottom: 20px;
	margin-right: 90px;
	min-width: 100px;
	max-width: 250px;
}
#updatebar .msg
{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: normal;
	padding-left: 20px;
	min-width: 100px;
	max-width: 250px;
}
#updatebar .loader
{
	position: relative;
	top: 2px;
}
#updatebar.success
{
	background-image: -moz-linear-gradient(#d3ffd7, #c2edc6) !important;
	background-image: linear-gradient(#d3ffd7, #c2edc6) !important;
	background-image: -webkit-linear-gradient(#d3ffd7, #c2edc6) !important;
	filter: progid:dximagetransform.microsoft.gradient(startColorstr=#fafafa, endColorstr=#eaeaea) !important;
	-ms-filter: progid:dximagetransform.microsoft.gradient(startColorstr=#fafafa, endColorstr=#eaeaea) !important;
	padding: 15px 10px;
	text-align: left;
}
#updatebar.error
{
	background-image: -moz-linear-gradient(#ffd3d3, #edc4c4) !important;
	background-image: linear-gradient(#ffd3d3, #edc4c4) !important;
	background-image: -webkit-linear-gradient(#ffd3d3, #edc4c4) !important;
	filter: progid:dximagetransform.microsoft.gradient(startColorstr=#fafafa, endColorstr=#eaeaea) !important;
	-ms-filter: progid:dximagetransform.microsoft.gradient(startColorstr=#fafafa, endColorstr=#eaeaea) !important;
	padding: 15px 10px;
	text-align: left;
}
#updatebar .ui-icon
{
	display: inline-block;
	margin-left: -20px;
	top: 2px;
	position: relative;
	margin-right: 3px;
}
SPAN.deleteicon
{
	position: relative;
}
SPAN.deleteicon SPAN
{
	position: absolute;
	display: block;
	top: 0px;
	right: 2px;
	width: 16px;
	height: 16px;
	background: url("../images/sprite1.png") no-repeat left -37px;
	cursor: pointer;
}
SPAN.deleteicon INPUT
{
	padding-right: 16px;
}
#tabs UL
{
	text-align: center;
	margin-top: 55px;
	list-style-type: none;
	margin-bottom: 2px;
}
#tabs LI
{
	display: inline;
	list-style-type: none;
	padding-right: 20px;
	background-color: #808080;
	padding: 5px 15px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	background-color: #FFFFFF;
	border: 1px solid #CECECE;
	margin-right: 5px;
}
#tabs .active
{
	background-color: #F5F6F8;
}
DIV#searchbar .mini-icon
{
	height: 15px;
	width: 15px;
	background: url("../images/icon_search.png") no-repeat left top;
	background-size: 100% 100%;
	position: absolute;
	display: block;
	margin-left: 6px;
	margin-top: -20px;
	z-index: 999;
}
/*THE FOLLOWING CODE IS FOR DISPLAYING MESSAGES*/
.question
{
	display: block;
	width: 600px;
	background: #F5F5F5;
	position: fixed;
	z-index: 9999;
	text-align: right;
	background: #ECEAEB;
	border-radius: 5px;
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.55);
	border: 3px solid #000000;
	overflow: hidden;
}
.question H1
{
	padding: 10px;
	font-size: 20px;
	text-align: left;
	padding-left: 16px;
	font-weight: normal;
	line-height: 22px;
}
.question H3
{
	padding: 10px;
	font-size: 20px;
	text-align: left;
	padding-left: 18px;
	font-weight: normal;
}
.question .hint
{
	font-size: 14px;
	color: #CCC;
	text-shadow: none;
}
.question .answer
{
	font-size: 17px;
	display: inline-block;
	padding: 10px;
	margin: 5px 1%;
	cursor: pointer;
	width: auto;
	margin-bottom: 20px;
	margin-right: 20px;
}
BODY > .spinner, .mask
{
	background: rgba(0, 0, 0, 0.8);
	z-index: 9998;
	text-align: center;
}
BODY > .mask
{
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	padding: 200px;
}
.title
{
	margin-top: -1px;
	position: relative;
	background: -webkit-gradient(linear, left top, left bottom, from(#565656), to(#464646));
	background: -moz-linear-gradient(top, #565656, #464646);
	height: 40px;
	width: 100%;
	color: #FFFFFF;
	text-align: left;
	border-bottom: 1px solid #000000;
}
.button SPAN.a
{
	display: inline-block;
}
.button:hover SPAN.a
{
	display: none;
}
.button SPAN.b
{
	display: none;
}
.button:hover SPAN.b
{
	display: inline-block;
}
.button
{
	display: inline-block;
	vertical-align: middle;
}
/*------------------------------------*\
$IPHONE
\*------------------------------------
--- iPhone only CSS here ---*/
@media screen and (max-device-width: 480px)
{
	BODY
	{
		-webkit-text-size-adjust: none;
		font-family: Helvetica, Arial, Verdana, sans-serif;
		font-size: 10px;
	}
	#updatebar
	{
		display: none;
	}
	.dataTables_wrapper
	{
		padding-top: 10px;
	}
	#book_table_wrapper
	{
		margin-top: 10px;
	}
	/*.first, paginate_button*/
	#INVALID-RULE
	{
		display: none;
	}
	/*.last, paginate_button*/
	#INVALID-RULE
	{
		display: none;
	}
	.button
	{
		font-size: 10px;
	}
	#authorart_container
	{
		display: none;
	}
	#authorhead_container
	{
		display: none;
	}
	#authorhead_menu
	{
		display: none;
	}
	.indented
	{
		display: none;
	}
	#subhead_container
	{
		display: none;
	}
}
